.product-section
	.row
		margin: 0 -5px
		.col
			padding: 0 5px
			margin-bottom: 10px
	.figure-product
		.figcaption
			
			.title
				h2
					@apply flex items-center
		
		.button-wrapper-left
			padding: 0 20px 20px 20px
.product-specialist-display
	@apply py-12
	@screen lg
		@apply pt-16 mt-2 pb-20
	.zone-description
		@apply mb-8
		@screen lg
			@apply mb-12
		ul
			@apply text-center
	.button-wrapper-left
		.btn-primary
			@apply ml-0
.figure-product
	@apply h-full overflow-hidden
	border: 1px solid $azure-1
	.figure-image
		@apply p-8
		a
			+img-ratio(240/360,contain)
	&:hover
		.figcaption
			@apply bg-azure-1
			.title
				@apply bg-azure-2
			.btn-compare
				@apply bg-azure-2
	.figcaption
		@apply bg-azure-3 cursor-pointer h-full transition
		.title
			@apply bg-azure-1 transition flex flex-row items-center px-4
			@screen lg
				@apply px-5
			h2
				a
					@apply text-16 text-grey-2 flex items-center justify-start 
					height: 50px
		.product-disable
			@apply px-4 bg-primary-1 text-12 font-bold text-white flex items-center uppercase whitespace-no-wrap ml-2
			height: 20px
		.caption
			padding: 20px
			@apply text-14 text-grey-2 leading-relaxed
			*
				@apply text-14 text-grey-2 leading-relaxed
			ul
				li
					@apply flex items-start justify-start mb-2
					+left-dot
					&::before
						color: #333333