.product-comparison
	@apply pt-16 pb-20
	.wrapper-table
		overflow-x: auto
	.clear-list
		@apply  inline-flex text-center cursor-pointer items-center justify-center px-4  font-normal text-16  text-grey-2 transition  mb-2
		border: 1px solid $grey-2
		height: 40px
		min-width: 140px
		&::first-letter
			text-transform: upperc
		&:hover
			@apply bg-grey-2 text-white
			
.product-comparison-table 
	border: 1px solid #e0f0f5
	overflow-x: auto
	-webkit-overflow-scrolling: touch
	.toggle-item
		@apply mb-0
	@apply relative
	.product-comparison-image
		@apply flex items-center justify-start
		.row
			@apply m-0
			.col
				@apply p-0
				&:first-child,&:last-child
					.product-image
						@apply  h-full bg-azure-4
						width: 260px
				&:last-child
					.product-image
						width: 268px
		@media screen and ( max-width:1200px)
			.row
				@apply flex-no-wrap
			
		.product-image
			width: 290px
			@apply bg-white pt-2 px-8 h-full
			border: 1px solid #e0f0f5
			h3
				@apply text-16 text-grey-2 uppercase  text-center
			&.add-product
				@apply flex items-center justify-center cursor-pointer transition
				em
					font-size: 70px
					@apply text-azure-2 transition
					transform: rotate(-45deg)
				&:hover
					@apply bg-azure-2
					em
						@apply text-white
			.wrapper
				display: block
				img
					max-width: 100%
					height: auto
					width: 200px
	@media screen and ( min-width:1024px)
.product-comparison-wrapper
	@apply inline-flex flex-col w-full
	@media screen and ( max-width:1200px)
		@apply w-auto
		
	article
		@apply inline-flex p-0
	.toggle-item
		.title
			height: 40px
			@apply bg-azure-2 flex justify-between items-center px-5
			span
				@apply font-bold text-grey-2 uppercase text-16
			em
				@apply text-16 text-dove
	.specification-title-columns
		width: 260px
		border-right: 1px solid #e0f0f5
		@apply inline-block bg-azure-4
		li
			@apply px-5 py-2 flex justify-start items-center
			border-bottom: 1px solid #e0f0f5
			min-height: 40px
			&:first-child
				border-top: 1px solid #e0f0f5
			&:last-child
				border-right: none
			span
				@apply text-14 text-grey-2
	.specification-columns
		@apply flex flex-row items-center justify-start flex-wrap flex-1
		flex: calc( 100% -  260px )
		.product 
			@apply w-full
			&:last-child
				width: 268px
				min-width: 268px
				.features-list
					width: 268px
					min-width: 268px
					li
						border-right: 0
			.features-list
				min-width: 290px
				@apply inline-block 
				li
					@apply px-5 text-14 text-grey-2 flex justify-start items-center
					border-top: 1px solid #e0f0f5
					border-right: 1px solid #e0f0f5
					min-height: 40px

