section.product-comparison
	.container
		h1.head-title.text-center So sánh 
		.wrapper-table
			.product-comparison-table
				.product-comparison-image
					.product-image
					.product-image
						.wrapper
							img(src='./img/product/1.png', alt='product image')
						h3 Sumsung Series 6 J6300
					.product-image
						.wrapper
							img(src='./img/product/1.png', alt='product image')
						h3 Sumsung Series 6 J6300
					.product-image.add-product
						em.lnr.lnr-cross
				.product-comparison-wrapper.toggle-wrapper
					.toggle-item
						.title
							span Thông số kỹ thuật 
							em.lnr.lnr-chevron-down
						article
							ul.specification-title-columns
								li
									span hệ thống hiển thị
								li
									span Độ sáng 
								li
									span Tỉ lệ tưởng phản
							ul.specification-columns
								li.product
									ul.features-list
										li 1800lm
										li 1200.000:1
										li 1080p
								li.product
									ul.features-list
										li 1800lm
										li 1200.000:1
										li 1080p
								li.product
									ul.features-list
										li 1800lm
										li 1200.000:1
										li 1080p
				
					.toggle-item
						.title
							span Thông số kỹ thuật 
							em.lnr.lnr-chevron-down
						article
							ul.specification-title-columns
								li
									span hệ thống hiển thị
								li
									span Độ sáng 
								li
									span Tỉ lệ tưởng phản
							ul.specification-columns
								li.product
									ul.features-list
										li 1800lm
										li 1200.000:1
										li 1080p
								li.product
									ul.features-list
										li 1800lm
										li 1200.000:1
										li 1080p
								li.product
									ul.features-list
										li 1800lm
										li 1200.000:1
										li 1080p
				