section.blog-display
	.container
		.title-section-wrapper.text-center
			h1.title-grey Blogs
		.row
			.col.w-full(class='lg:w-1/2')
				.col-match-height
					.figure-blog.big
						.image-wrapper.shine
							a(href="#")
								img(src="./img/news/1.jpg", alt="")
						.figcaption
							time March 26, 2020
							h2
								a(href="#") Why considering a business health check is an essential move
							.caption Has as business health check recently been recommended to you? There are a number of reasons to consider this useful service.
							.button-wrapper-end
								a(href="#").btn.btn-view-more
									span View more
									em.mdi.mdi-chevron-right
						
			.col.w-full(class='lg:w-1/2')
				.col-match-height.mobile-auto
					.figure-blog.small
						.image-wrapper.zoom-in
							a(href="#")
								img(src="./img/news/2.jpg", alt="")
						.figcaption
							time March 26, 2020
							h2
								a(href="#") Why considering a business health check is an essential move

							.button-wrapper-end
								a(href="#").btn.btn-view-more
									span View more
									em.mdi.mdi-chevron-right
					.figure-blog.small
						.image-wrapper.zoom-in
							a(href="#")
								img(src="./img/news/1.jpg", alt="")
						.figcaption
							time March 26, 2020
							h2
								a(href="#") Why considering a business health check is an essential move
							.button-wrapper-end
								a(href="#").btn.btn-view-more
									span View more
									em.mdi.mdi-chevron-right
					.figure-blog.small
						.image-wrapper.zoom-in
							a(href="#")
								img(src="./img/news/2.jpg", alt="")
						.figcaption
							time March 26, 2020
							h2
								a(href="#") Why considering a business health check is an essential move
							.button-wrapper-end
								a(href="#").btn.btn-view-more
									span View more
									em.mdi.mdi-chevron-right
		.row
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-blog
						.image-wrapper
							a(href="#")
								img(src="./img/news/1.jpg", alt="")
						.figcaption
							time March 26, 2020
							h2
								a(href="#") Why considering a business health check is an essential move
							.button-wrapper-right
								a(href="#").btn.btn-view-more
									span View more
									em.mdi.mdi-chevron-right
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-blog
						.image-wrapper
							a(href="#")
								img(src="./img/news/1.jpg", alt="")
						.figcaption
							time March 26, 2020
							h2
								a(href="#") Why considering a business health check is an essential move
							.button-wrapper-right
								a(href="#").btn.btn-view-more
									span View more
									em.mdi.mdi-chevron-right
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-blog
						.image-wrapper
							a(href="#")
								img(src="./img/news/1.jpg", alt="")
						.figcaption
							time March 26, 2020
							h2
								a(href="#") Why considering a business health check is an essential move
							.button-wrapper-right
								a(href="#").btn.btn-view-more
									span View more
									em.mdi.mdi-chevron-right
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-blog
						.image-wrapper
							a(href="#")
								img(src="./img/news/1.jpg", alt="")
						.figcaption
							time March 26, 2020
							h2
								a(href="#") Why considering a business health check is an essential move
							.button-wrapper-right
								a(href="#").btn.btn-view-more
									span View more
									em.mdi.mdi-chevron-right
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-blog
						.image-wrapper
							a(href="#")
								img(src="./img/news/1.jpg", alt="")
						.figcaption
							time March 26, 2020
							h2
								a(href="#") Why considering a business health check is an essential move
							.button-wrapper-right
								a(href="#").btn.btn-view-more
									span View more
									em.mdi.mdi-chevron-right
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-blog
						.image-wrapper
							a(href="#")
								img(src="./img/news/1.jpg", alt="")
						.figcaption
							time March 26, 2020
							h2
								a(href="#") Why considering a business  more
							.button-wrapper-right
								a(href="#").btn.btn-view-more
									span View more
									em.mdi.mdi-chevron-right