section.blog-display
	.container
		.subnav-wrapper
			.title-section-wrapper.text-center
				h1.head-title Tin tức & Sự kiện
			nav.subnav
				ul
					li
						a(href="#") Tin tức
					li
						a(href="#") Sự kiện
					li
						a(href="#") Khuyến mãi

		.row
			.col.w-full(class='lg:w-1/2')
				.col-match-height
					.figure-blog.big
						.image-wrapper.shine
							a(href="#")
								img(src="./img/news/1.png", alt="")
						.figcaption
							h2
								a(href="#") Why considering a business health check is an essential move
							p Has as business health check recently been recommended to you? There are a number of reasons to consider this useful service.
							.button-wrapper
								a(href="#").btn.btn-view-more
									span View more >
									
						
			.col.w-full(class='lg:w-1/2')
				.col-match-height.mobile-auto
					.figure-blog.small
						.image-wrapper.zoom-in
							a(href="#")
								img(src="./img/news/2.png", alt="")
						.figcaption
							h2
								a(href="#") Why considering a business health check is an essential move
							.button-wrapper
								a(href="#").btn.btn-view-more
									span View more >
									
					.figure-blog.small
						.image-wrapper.zoom-in
							a(href="#")
								img(src="./img/news/1.png", alt="")
						.figcaption
							h2
								a(href="#") Why considering a business health check is an essential move
							.button-wrapper
								a(href="#").btn.btn-view-more
									span View more >
									
					.figure-blog.small
						.image-wrapper.zoom-in
							a(href="#")
								img(src="./img/news/2.png", alt="")
						.figcaption
							h2
								a(href="#") Why considering a business health check is an essential move
							.button-wrapper
								a(href="#").btn.btn-view-more
									span View more >
									
					.figure-blog.small
						.image-wrapper.zoom-in
							a(href="#")
								img(src="./img/news/2.png", alt="")
						.figcaption
							h2
								a(href="#") Why considering a business health check is an essential move
							.button-wrapper
								a(href="#").btn.btn-view-more
									span View more >
									
		.row
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-blog
						.image-wrapper
							a(href="#")
								img(src="./img/news/1.png", alt="")
						.figcaption
							h2
								a(href="#") Why considering a business health check is an essential move
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus suscipit nemo itaque assumenda numquam ex, mollitia nobis officia minus, aliquid consequatur eveniet error dignissimos laborum. Nisi odit aliquam voluptatem assumenda!
							.button-wrapper
								a(href="#").btn.btn-view-more
									span View more >
									
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-blog
						.image-wrapper
							a(href="#")
								img(src="./img/news/1.png", alt="")
						.figcaption
							h2
								a(href="#") Why considering a business health check is an essential move
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus suscipit nemo itaque assumenda numquam ex, mollitia nobis officia minus, aliquid consequatur eveniet error dignissimos laborum. Nisi odit aliquam voluptatem assumenda!
							.button-wrapper
								a(href="#").btn.btn-view-more
									span View more >
									
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-blog
						.image-wrapper
							a(href="#")
								img(src="./img/news/1.png", alt="")
						.figcaption
							h2
								a(href="#") Why considering a business health check is an essential move
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus suscipit nemo itaque assumenda numquam ex, mollitia nobis officia minus, aliquid consequatur eveniet error dignissimos laborum. Nisi odit aliquam voluptatem assumenda!
							.button-wrapper
								a(href="#").btn.btn-view-more
									span View more >
									
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-blog
						.image-wrapper
							a(href="#")
								img(src="./img/news/1.png", alt="")
						.figcaption
							h2
								a(href="#") Why considering a business health check is an essential move
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus suscipit nemo itaque assumenda numquam ex, mollitia nobis officia minus, aliquid consequatur eveniet error dignissimos laborum. Nisi odit aliquam voluptatem assumenda!
							.button-wrapper
								a(href="#").btn.btn-view-more
									span View more >
									
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-blog
						.image-wrapper
							a(href="#")
								img(src="./img/news/1.png", alt="")
						.figcaption
							h2
								a(href="#") Why considering a business health check is an essential move
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus suscipit nemo itaque assumenda numquam ex, mollitia nobis officia minus, aliquid consequatur eveniet error dignissimos laborum. Nisi odit aliquam voluptatem assumenda!
							.button-wrapper
								a(href="#").btn.btn-view-more
									span View more >
									
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-blog
						.image-wrapper
							a(href="#")
								img(src="./img/news/1.png", alt="")
						.figcaption
							h2
								a(href="#") Why considering a business  more
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus suscipit nemo itaque assumenda numquam ex, mollitia nobis officia minus, aliquid consequatur eveniet error dignissimos laborum. Nisi odit aliquam voluptatem assumenda!
							.button-wrapper
								a(href="#").btn.btn-view-more
									span View more >
									