footer
	sectiom.footer-menu
		.container
			.navbar-footer-menu
				ul.nav-footer
					li.active
						a(href="#")  Giới thiệu
					li
						a(href="#") Tin tức & sự kiện
					li
						a(href="#") Tài liệu
					li
						a(href="#") Liên hệ
			.footer-social-network
				a(href="#")
					em.fab.fa-facebook-f
				a(href="#")
					em.fab.fa-youtube
				a(href="#")
					em.fas.fa-envelope
	section.footer-expandable
		.footer-expandable-title
			.container
				.title
					span Sony
					em.lnr.lnr-chevron-down
		.container.container-wrapper
			.row
				.col(class='w-1/2 lg:w-3/12')
					h3 
						a(href="#") Sản phẩm chuyên dụng
					ul
						li
							a(href="#") Phát thanh & Sản xuất
						li
							a(href="#") Máy chiếu
						li
							a(href="#") Màn hình Chuyên dụng
						li
							a(href="#") Thiết bị Lưu trữ và Quản lý Nội dung
						li
							a(href="#") Giám sát An ninh
						li
							a(href="#") Thiết bị Y tế
						li
							a(href="#") Âm thanh Chuyên dụng
						li
							a(href="#") Hệ thống Thông minh
				.col(class='w-1/2 lg:w-3/12')
					h3 
						a(href="#") Giải pháp 
					ul
						li
							a(href="#") Kỹ thuật quay phim Điện ảnh
						li
							a(href="#") phát thanh & sản xuất
						li
							a(href="#") thể thao
						li
							a(href="#") giải trí
						li
							a(href="#") Giáo dục
						li
							a(href="#") Doanh nghiệp
						li
							a(href="#") Chăm sóc sức khỏe
				.col(class='w-1/2 lg:w-3/12')
					h3 
						a(href="#") Công nghệ 
					ul
						li
							a(href="#") 4K
						li
							a(href="#") HDR
						li
							a(href="#") IP Live
						li
							a(href="#") Cyrstal LED 
						li
							a(href="#") ổ đĩa quang lưu trữ
						li
							a(href="#") định dạng ghi âm
						li
							a(href="#") âm thanh không dây kỹ thuật số
						li
							a(href="#") Tốc độc khung hình
						li 
							a(href="#") OLED
						li
							a(href="#") S-Log
						li
							a(href="#") Quy trình không dây
				.col(class='w-1/2 lg:w-3/12')
					h3 
						a(href="#") insight
					ul
						li
							a(href="#") kỹ thuật Quay phim điện ảnh
						li
							a(href="#") phương tiện truyền thông & phát thanh 
						li
							a(href="#") truyền hình
						li
							a(href="#") làm phim
						li
							a(href="#") Chăm sóc sức khỏe
						li
							a(href="#") Văn phòng thông minh
						li
							a(href="#") giáo dục
				.col(class='w-1/2 lg:w-3/12')
					h3 
						a(href="#") Sản phẩm chuyên dụng
					ul
						li
							a(href="#") Phát thanh & Sản xuất
						li
							a(href="#") Máy chiếu
						li
							a(href="#") Màn hình Chuyên dụng
						li
							a(href="#") Thiết bị Lưu trữ và Quản lý Nội dung
						li
							a(href="#") Giám sát An ninh
						li
							a(href="#") Thiết bị Y tế
						li
							a(href="#") Âm thanh Chuyên dụng
						li
							a(href="#") Hệ thống Thông minh
				.col(class='w-1/2 lg:w-3/12')
					h3 
						a(href="#") Giải pháp 
					ul
						li
							a(href="#") Kỹ thuật quay phim Điện ảnh
						li
							a(href="#") phát thanh & sản xuất
						li
							a(href="#") thể thao
						li
							a(href="#") giải trí
						li
							a(href="#") Giáo dục
						li
							a(href="#") Doanh nghiệp
				.col(class='w-1/2 lg:w-3/12')
					h3 
						a(href="#") Công nghệ 
					ul
						li
							a(href="#") 4K
						li
							a(href="#") HDR
						li
							a(href="#") IP Live
						li
							a(href="#") Cyrstal LED 
						li
							a(href="#") ổ đĩa quang lưu trữ
				.col(class='w-1/2 lg:w-3/12')
					h3 
						a(href="#") insight
					ul
						li
							a(href="#") kỹ thuật Quay phim điện ảnh
						li
							a(href="#") phương tiện truyền thông & phát thanh 
						li
							a(href="#") truyền hình
				.col(class='w-1/2 lg:w-3/12')
					h3 
						a(href="#") Nhà phân phối
				.col(class='w-1/2 lg:w-3/12')
					h3 
						a(href="#") tài liệu
	section.footer-copyright
		.container
			.copyright-wrapper
				p Copy right @ 2020 sony Pro viet nam
			.term-service-wrapper
				ul
					li
						a(href="#") Điều khoản dịch vụ
					li
						a(href="#") Quy định bảo mật
					li
						a(href="#") Sitemap