header
	.container

		.header-wrapper-left
			.nav-brand
				a(href="#")
					img(src="./img/logo-2.png", alt="")
			.navbar-primary-menu
				ul.nav-primary
					li.has-mega
						.mega-title
							a(href="#") Nhà phân phối
							em.lnr.lnr-chevron-right
						ul.mega-menu
							.back-previous
								em.lnr.lnr-chevron-left
							.container
								.row
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
								
					li.has-mega
						.mega-title
							a(href="#") Nhà phân phối
							em.lnr.lnr-chevron-right
						ul.mega-menu
							.back-previous
								em.lnr.lnr-chevron-left
							.container
								.row
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
								
					li.has-mega
						.mega-title
							a(href="#") Nhà phân phối
							em.lnr.lnr-chevron-right
						ul.mega-menu
							.back-previous
								em.lnr.lnr-chevron-left
							.container
								.row
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
									.mega-nav-first-level.col(class='w-full md:w-1/2 lg:w-3/12')
										.first-level-title
											a(href="#").mega-link
												img(src="./img/icon/pro-cameras-01.png", alt="")
												span Máy chiếu Chuyên dụng
											em.lnr.lnr-chevron-right
										ul.mega-nav-second-level
											li
												.back-previous
													em.lnr.lnr-chevron-left
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
											li
												a(href="#") Máy chiếu gia đình
								
					li
						a(href="#") Giải pháp
				
					li
						a(href="#") Hỗ trợ
					li
						a(href="#") Liên hệ
		.header-wrapper-right
			.search-wrapper
				.search-toggle
					em.lnr.lnr-magnifier
				.searchbox
					input(type="text",placeholder='Search')
					button
						em.lnr.lnr-magnifier
			.language-wrapper
				.current-language
					a(href="javascript:;")
						img(src="./img/icon/vn.gif", alt="")
						em.lnr.lnr-chevron-down
				ul.language-list
					li
						a(href="#")
							img(src="./img/icon/uk.gif", alt="")
		.main-menu-toggle
			.hamburger.hamburger--elastic
				.hamburger-box
					.hamburger-inner
	