header
	.container
		.main-menu-toggle
			.hamburger.hamburger--elastic
				.hamburger-box
					.hamburger-inner
		.header-wrapper-left
			.nav-brand
				a(href="#")
					img(src="./img/logo-2.png", alt="")
			.navbar-primary-menu
				ul.nav-primary
					li.active
						a(href="#") Sản phẩm chuyên dụng
					li
						a(href="#") giải pháp
					li.has-mega
						a(href="#") Nhà phân phối
						.mega-menu
							.container
								.row
									.mega-item.col(class='md:w-1/2 lg:w-3/12')
										a(href="#").mega-link
											img(src="./img/icon/pro-cameras-01.png", alt="")
											span Máy chiếu Chuyên dụng
									.mega-item.col(class='md:w-1/2 lg:w-3/12')
										a(href="#").mega-link
											img(src="./img/icon/pro-cameras-01.png", alt="")
											span Máy chiếu Chuyên dụng
									.mega-item.col(class='md:w-1/2 lg:w-3/12')
										a(href="#").mega-link
											img(src="./img/icon/pro-cameras-01.png", alt="")
											span Máy chiếu Chuyên dụng
									.mega-item.col(class='md:w-1/2 lg:w-3/12')
										a(href="#").mega-link
											img(src="./img/icon/pro-cameras-01.png", alt="")
											span Máy chiếu Chuyên dụng
									.mega-item.col(class='md:w-1/2 lg:w-3/12')
										a(href="#").mega-link
											img(src="./img/icon/pro-cameras-01.png", alt="")
											span Máy chiếu Chuyên dụng
					li
						a(href="#") Hỗ trợ
					li
						a(href="#") Liên hệ
		.header-wrapper-right
			.search-wrapper
				.search-toggle
					em.lnr.lnr-magnifier
				.searchbox
					input(type="text",placeholder='Search')
					button
						em.lnr.lnr-magnifier
			.language-wrapper
				.current-language
					a(href="javascript:;")
						img(src="./img/icon/vn.png", alt="")
						em.lnr.lnr-chevron-down
				ul.language-list
					li
						a(href="#")
							img(src="./img/icon/uk.png", alt="")
	