section.primary-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.wrapper
					.banner-image
						a(href="#")
							img(src="./img/banner/1.jpg", alt="")
						//- img.lazyload(data-srcset='./img/banner/mobile.jpg 768w, ./img/banner/1.jpg 1024w', data-sizes='auto', alt='')


					.container
						.box-content
							h2 Làm việc thông minh hơn, năng suất  hơn
							.caption
								p Khám phá cách chúng tôi làm việc cho phép cộng tác theo thời gian thực giữa các nhân viên
							a(href="#").btn.btn-primary
								span Xem thêm
		
			.swiper-slide
				.wrapper
					.banner-image
						a(href="#")
							img(src="./img/banner/1.jpg", alt="")
						//- img.lazyload(data-srcset='./img/banner/mobile.jpg 768w, ./img/banner/1.jpg 1024w', data-sizes='auto', alt='')


					.container
						.box-content
							h2 Làm việc thông minh hơn, năng suất  hơn
							.caption
								p Khám phá cách chúng tôi làm việc cho phép cộng tác theo thời gian thực giữa các nhân viên
							a(href="#").btn.btn-primary
								span Xem thêm
		
			.swiper-slide
				.wrapper
					.banner-image
						a(href="#")
							img(src="./img/banner/1.jpg", alt="")
						//- img.lazyload(data-srcset='./img/banner/mobile.jpg 768w, ./img/banner/1.jpg 1024w', data-sizes='auto', alt='')


					.container
						.box-content
							h2 Làm việc thông minh hơn, năng suất  hơn
							.caption
								p Khám phá cách chúng tôi làm việc cho phép cộng tác theo thời gian thực giữa các nhân viên
							a(href="#").btn.btn-primary
								span Xem thêm
		
			.swiper-slide
				.wrapper
					.banner-image
						a(href="#")
							img(src="./img/banner/1.jpg", alt="")
						//- img.lazyload(data-srcset='./img/banner/mobile.jpg 768w, ./img/banner/1.jpg 1024w', data-sizes='auto', alt='')


					.container
						.box-content
							h2 Làm việc thông minh hơn, năng suất  hơn
							.caption
								p Khám phá cách chúng tôi làm việc cho phép cộng tác theo thời gian thực giữa các nhân viên
							a(href="#").btn.btn-primary
								span Xem thêm
		
			.swiper-slide
				.wrapper
					.banner-image
						a(href="#")
							img(src="./img/banner/1.jpg", alt="")
						//- img.lazyload(data-srcset='./img/banner/mobile.jpg 768w, ./img/banner/1.jpg 1024w', data-sizes='auto', alt='')


					.container
						.box-content
							h2 Làm việc thông minh hơn, năng suất  hơn
							.caption
								p Khám phá cách chúng tôi làm việc cho phép cộng tác theo thời gian thực giữa các nhân viên
							a(href="#").btn.btn-primary
								span Xem thêm
		