section.blog-detail-display
	.blog-detail-heading
		.container
			a(href="#").btn-back.btn.btn-primary Trở lại trang danh sách
			.briefcontent.text-center
				time 17/03/2020
				h1 PXW-FX9 Đạt chuẩn "cận máy quay điện ảnh"
				p Trong những năm trở lại đây, máy quay kỹ thuật số với cảm biến lớn phát triển một cách nhanh chóng nhờ thay đổi liên tục về mặt công nghệ. Tuy nhiên, phải đến khi PXW-FX9 (FX9) ra đời, một kỷ nguyên mới được mở ra, cho phép các máy quay tiện dụng tiệm cận với chuẩn điện ảnh. Sony với công nghệ vượt trội cùng kinh nghiệm trong phát triển camera hơn 60 năm đã giới thiệu FX9 hoàn hảo trong mắt các chuyên gia hàng đầu trong lĩnh vực điện ảnh chất lượng cao.
	.blog-detail-content
		.container
			p Máy quay kỹ thuật số (KTS) được đánh giá cao về độ tiện dụng, phù hợp cho nhiều môi trường khác nhau với kích thước nhỏ gọn và vẫn đảm bảo được những thước phim chất lượng dù bạn quay phim tài liệu, sự kiện truyền hình thực tế. Tuy nhiên, khi nhắc đến lĩnh vực điện ảnh, máy quay KTS không đủ các yếu tố để giúp đỡ đạo diễn và đội ngũ quay phim bởi sự hụt hơi về công nghệ, chất lượng đầu ra. Điều này dễ hiểu khi phần lớn máy quay KTS có giá thành rẻ, đại chúng hơn.
			.text-center
				a(href="#").btn-back.btn.btn-primary Trở lại trang danh sách
section.news-contact-banner
	.container
		.head-title.text-center Liên lạc với chúng tôi để biết thêm thông tin
		.button-wrapper-center
			a(href="#").btn.btn-primary.white
				span Liên hệ
			a(href="#").btn.btn-primary.white
				span Sản phẩm