.blog-detail-display
	.btn-back
		min-width: 250px
		@media screen and ( max-width:1024px)
			min-width: 220px
	.blog-detail-heading
		@apply py-12
		background: #f4f7fa
		
	.briefcontent
		margin-top: 30px
		time
			display: block
			margin-top: 27px
			color: #4a4a4a
			@apply text-14
		h1
			font-size: 2rem
			margin-top: 30px
			margin-bottom: 40px
			@apply text-primary-1
		p
			line-height: 26px
			color: #4a4a4a
			@apply text-14 text-grey-2
	
	.blog-detail-content
		@apply py-10
		line-height: 26px
		.btn-back
			margin-top: 40px
		strong
			@apply text-14 text-primary-1
		ul
			li
				@apply mb-2 text-14
		p
			@apply text-14 text-grey-2
		img
			max-width: 100%
			height: auto
			@apply block mx-auto my-4
.news-contact-banner
	@apply py-12 bg-primary-1 hidden
	border-bottom: 1px solid #7ac3d3
	@screen lg
		@apply py-16
	.head-title
		@apply text-white
	.button-wrapper-center
		@media screen and ( max-width:576px)
			@apply flex-col
	.btn-primary
		min-width: 250px
		&:hover
			span
				@apply text-primary-1
		@media screen and ( max-width:1024px)
			min-width: 200px
		@media screen and ( max-width: 576px)
			&:first-child
				@apply mb-4
			
			