section.blog-detail-display
	.container
		.row
			.col.w-full(class='lg:w-8/12 ')
				.blog-detail-wrapper
					h1.title-blue Keeping up with Social Media Marketing Changes
					.bottom-wrapper
						time november 21. 20019
						.social-network-share
							<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
								
					.briefcontent
						p Social Media Marketing (SMM) is a beast under constant evolution. In fact, it might be fair to say that the only thing consistent about the way we use social media marketing is how often it changes. Today, we want to talk you through some of the processes and habits business owners can use to align themselves with SMM as it alters, just as we do at TR Consulting.
					.fullcontent
						h2 Engage a Subscription To A SSM Blog Reel
						p Social Media Marketing (SMM) is a beast under constant evolution. In fact, it might be fair to say that the only thing consistent about the way we use social media marketing is how often it changes. Today, we want to talk you through some of the processes and habits business owners can use to align themselves with SMM as it alters, just as we do 
							a(href="#") at TR Consulting.
						h2 Engage a Subscription To A SSM Blog Reel
						p Social Media Marketing (SMM) is a beast under constant evolution. In fact, it might be fair to say that the only thing consistent about the way we use social media marketing is how often it changes. Today, we want to talk you through some of the processes and habits business owners can use to align themselves with SMM as it alters, just as we do 
						img(src="./img/news/1.jpg", alt="")
						p Social Media Marketing (SMM) is a beast under constant evolution. In fact, it might be fair to say that the only thing consistent about the way we use social media marketing is how often it changes. Today, we want to talk you through some of the processes and habits business owners can use to align themselves with SMM as it alters, just as we do 
						img(src="./img/news/1.jpg", alt="")
						p Social Media Marketing (SMM) is a beast under constant evolution. In fact, it might be fair to say that the only thing consistent about the way we use social media marketing is how often it changes. Today, we want to talk you through some of the processes and habits business owners can use to align themselves with SMM as it alters, just as we do 
			.col.w-full(class='lg:w-4/12 ')
				.other-news
					.title-section-wrapper.text-left
						h2.title-blue TLastest new
					.other-news-wrapper
						.other-news-figure
							a(href="")
								.figure-image.zoom-in
									.wrapper
										img(src="./img/news/1.jpg", alt="")
								.caption
									time MARCH 26,2020
									h2 Lễ tổng kết và tiệc tất niên - Sagen 2019
						.other-news-figure
							a(href="")
								.figure-image.zoom-in
									.wrapper
										img(src="./img/news/1.jpg", alt="")
								.caption
									time MARCH 26,2020
									h2 Lễ tổng kết và tiệc tất niên - Sagen 2019
						.other-news-figure
							a(href="")
								.figure-image.zoom-in
									.wrapper
										img(src="./img/news/1.jpg", alt="")
								.caption
									time MARCH 26,2020
									h2 Lễ tổng kết và tiệc tất niên - Sagen 2019
						.other-news-figure
							a(href="")
								.figure-image.zoom-in
									.wrapper
										img(src="./img/news/1.jpg", alt="")
								.caption
									time MARCH 26,2020
									h2 Lễ tổng kết và tiệc tất niên - Sagen 2019
						.other-news-figure
							a(href="")
								.figure-image.zoom-in
									.wrapper
										img(src="./img/news/1.jpg", alt="")
								.caption
									time MARCH 26,2020
									h2 Lễ tổng kết và tiệc tất niên - Sagen 2019
							