section.event-section.event-display-1
	.container
		.head-title.text-center Chúng tôi giup1 được gì cho bạn 
		.zone-description.text-center Tương lai của phẫu thuật bắt đầu với một OR kỹ thuật số. Và chúng ta có thể biến tầm nhìn đó thàn
section.event-section.even.event-display-2
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.head-title NUCLeUS ™ hợp lý hóa quy trình làm việc của phòng điều hành tại St Jansdal
				.zone-description Nền tảng chia sẻ hình ảnh qua video của Sony Sony tiết kiệm thời gian cho nhân viên OR bận rộn và cho phép chia sẻ nội dung video phẫu thuật hiệu quả hơn tại bệnh viện Hà Lan.
				.button-wrapper-left
					a(href="#").btn.btn-view-more
						span Tìm hiểu thêm >
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/tech/1.png", alt="")
section.link-banner.solution-detail-banner.event-display-3
	.container
		h2.title Liên lạc với chúng tôi để biết thêm thông tin
		.button-wrapper-center
			a(href="#").btn.btn-primary.yellow
				span Lien he
section.section-card-product.four-item-section.event-section.event-display-4
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/health/1.png", alt="")
			.col.w-full(class='lg:w-1/2')
				.head-title NUCLEAS biến đổi phòng điều hành thông thường
				.zone-description NUCLeUS là nền tảng phát triển  video-over-IP của chúng tôi, giúp thay đổi quy trình phẫu thuật tại các bệnh viện kết nối hiện nay. Linh hoạt và có thể mở rộng, NUCLeUS trao quyền cho các bác sĩ phẫu thuật và nhân viên lâm sàng lên kế hoạch, định tuyến, ghi lại và chia sẻ dữ liệu y tế - trong và ngoài OR.
				.button-wrapper-left
					a(href="#").btn.btn-view-more
						span Tìm hiểu thêm >
		.product-section-include
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.figure-product-seciton
								.figure-image
									a(href="#")
										img(src="./img/product/1.png", alt="")
								.figcaption
									h3
										a Máy quay video y tế 
									.caption Man hinh y te 4k dieu hanh ky thuat so
								.button-wrapper-center
									a(href="#").btn.btn-view-more 
										span Tìm hiểu thêm >
section.section-card-product.three-item-section.event-section.event-display-5
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.head-title NUCLEAS biến đổi phòng điều hành thông thường
				.zone-description NUCLeUS là nền tảng phát triển  video-over-IP của chúng tôi, giúp thay đổi quy trình phẫu thuật tại các bệnh viện kết nối hiện nay. Linh hoạt và có thể mở rộng, NUCLeUS trao quyền cho các bác sĩ phẫu thuật và nhân viên lâm sàng lên kế hoạch, định tuyến, ghi lại và chia sẻ dữ liệu y tế - trong và ngoài OR.
				.button-wrapper-left
					a(href="#").btn.btn-view-more
						span Tìm hiểu thêm >
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/health/1.png", alt="")
		.product-section-include
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.figure-product-seciton
								.figure-image
									a(href="#")
										img(src="./img/product/1.png", alt="")
								.figcaption
									h3
										a Máy quay video y tế 
								.button-wrapper-center
									a(href="#").btn.btn-view-more 
										span Tìm hiểu thêm >
section.section-card-product.three-item-section.event-section.event-display-6
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.head-title NUCLEAS biến đổi phòng điều hành thông thường
				.zone-description NUCLeUS là nền tảng phát triển  video-over-IP của chúng tôi, giúp thay đổi quy trình phẫu thuật tại các bệnh viện kết nối hiện nay. Linh hoạt và có thể mở rộng, NUCLeUS trao quyền cho các bác sĩ phẫu thuật và nhân viên lâm sàng lên kế hoạch, định tuyến, ghi lại và chia sẻ dữ liệu y tế - trong và ngoài OR.
				.button-wrapper-left
					a(href="#").btn.btn-view-more
						span Tìm hiểu thêm >
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/health/1.png", alt="")
		.product-section-include
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.figure-product-seciton
								.figure-image
									a(href="#")
										img(src="./img/product/1.png", alt="")
								.figcaption
									h3
										a Máy quay video y tế 
								.button-wrapper-center
									a(href="#").btn.btn-view-more 
										span Tìm hiểu thêm >