section.document-search
	.container
		h2.head-title Tìm kiếm các sản phẩm chuyên nghiệp, giải pháp hoặc hỗ trợ
	.search-wrapper
		.container
			.search-form
				.form-group
					label
						span.lnr.lnr-magnifier
					input(type="text")
				.frn-btn
					input(type="submit", value="Tìm kiếm ")

section.document-category
	.container
		.category
			h2.head-title Hướng dẫn sử dụng
			table
				thead
					tr
						th
						th.text-center Kích thước file
						th.text-center Ngày cập nhật
						th
				tbody
					tr
						td [PDF] Hướng dẫn hệ thống camera từ xa (BRC-X1000, BRC-X400, ...)
						td.text-center 9.38 MB
						td.text-center 15/11/2019
						td
							a(href="#")
								span.mdi.mdi-download
					tr
						td [PDF] Hướng dẫn hệ thống camera từ xa (BRC-X1000, BRC-X400, ...)
						td.text-center 9.38 MB
						td.text-center 15/11/2019
						td
							a(href="#")
								span.mdi.mdi-chevron-right
		.category
			h2.head-title Hướng dẫn sử dụng
			table
				thead
					tr
						th
						th.text-center Kích thước file
						th.text-center Ngày cập nhật
						th
				tbody
					tr
						td [PDF] Hướng dẫn hệ thống camera từ xa (BRC-X1000, BRC-X400, ...)
						td.text-center 9.38 MB
						td.text-center 15/11/2019
						td
							a(href="#")
								span.mdi.mdi-download
					tr
						td [PDF] Hướng dẫn hệ thống camera từ xa (BRC-X1000, BRC-X400, ...)
						td.text-center 9.38 MB
						td.text-center 15/11/2019
						td
							a(href="#")
								span.mdi.mdi-chevron-right