section.news-related-display
	.container
		.head-title bai viet lien quan
		.swiper-pagination
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.figure-news-related
						.figure-image
							a(href="#")
								img(src="./img/news/1.png", alt="")
						.figcaption
							h3
								a(href="#") S-Log Bo loc ND bien dien tu dang hoat dong
							.caption Tối ưu hóa quy trình phát sóng của bạn với các giải pháp chuyên nghiệp.
				.swiper-slide
					.figure-news-related
						.figure-image
							a(href="#")
								img(src="./img/news/1.png", alt="")
						.figcaption
							h3
								a(href="#") S-Log Bo loc ND bien dien tu dang hoat dong
							.caption Tối ưu hóa quy trình phát sóng của bạn với các giải pháp chuyên nghiệp.
				.swiper-slide
					.figure-news-related
						.figure-image
							a(href="#")
								img(src="./img/news/1.png", alt="")
						.figcaption
							h3
								a(href="#") S-Log Bo loc ND bien dien tu dang hoat dong
							.caption Tối ưu hóa quy trình phát sóng của bạn với các giải pháp chuyên nghiệp.
				.swiper-slide
					.figure-news-related
						.figure-image
							a(href="#")
								img(src="./img/news/1.png", alt="")
						.figcaption
							h3
								a(href="#") S-Log Bo loc ND bien dien tu dang hoat dong
							.caption Tối ưu hóa quy trình phát sóng của bạn với các giải pháp chuyên nghiệp.
				.swiper-slide
					.figure-news-related
						.figure-image
							a(href="#")
								img(src="./img/news/1.png", alt="")
						.figcaption
							h3
								a(href="#") S-Log Bo loc ND bien dien tu dang hoat dong
							.caption Tối ưu hóa quy trình phát sóng của bạn với các giải pháp chuyên nghiệp.
				.swiper-slide
					.figure-news-related
						.figure-image
							a(href="#")
								img(src="./img/news/1.png", alt="")
						.figcaption
							h3
								a(href="#") S-Log Bo loc ND bien dien tu dang hoat dong
							.caption Tối ưu hóa quy trình phát sóng của bạn với các giải pháp chuyên nghiệp.
				.swiper-slide
					.figure-news-related
						.figure-image
							a(href="#")
								img(src="./img/news/1.png", alt="")
						.figcaption
							h3
								a(href="#") S-Log Bo loc ND bien dien tu dang hoat dong
							.caption Tối ưu hóa quy trình phát sóng của bạn với các giải pháp chuyên nghiệp.
				.swiper-slide
					.figure-news-related
						.figure-image
							a(href="#")
								img(src="./img/news/1.png", alt="")
						.figcaption
							h3
								a(href="#") S-Log Bo loc ND bien dien tu dang hoat dong
							.caption Tối ưu hóa quy trình phát sóng của bạn với các giải pháp chuyên nghiệp.
			