section.sony-support-banner
    .image
        img(src="./img/support/banner.png", alt="")
    .content
        .container
            h2 Hỗ trợ và Dịch vụ
            p Chúng tôi mang đến sự hỗ trợ tối ưu nhất cho khách hàng của mình
section.sony-support
    .container
        .head-title.text-center Hỗ trợ khách hàng
        .row.list-support
            - for (i=1; i<6; i++)
                .col.w-full(class='lg:w-1/2')
                    .support-item
                        .image
                            a(href="#")
                                img(src="./img/support/1.png", alt="")
                        .content
                            h3 
                                a(href="#") Chính sách bảo hành
                            .brief-content
                                p Chính sách Bảo hành và Sửa chữa này áp dụng cho tất cả các sản phẩm chuyên dụng mang nhãn hiệu Sony được cung cấp bởi Công ty TNHH Sony Electronics Việt Nam, Sony Electronics (Singapore) PTE. LTD hoặc Sony Corporation of Hong Kong LTD.
section.sony-support.sony-support-2
    .container
        .head-title.text-center Danh mục dịch vụ chuyên nghiệp
        .row.list-support
            - for (i=1; i<6; i++)
                .col.w-full(class='lg:w-1/2')
                    .support-item
                        .image
                            a(href="#")
                                img(src="./img/support/1.png", alt="")
                        .content
                            h3 
                                a(href="#") Chính sách bảo hành
                            .brief-content
                                p Chính sách Bảo hành và Sửa chữa này áp dụng cho tất cả các sản phẩm chuyên dụng mang nhãn hiệu Sony được cung cấp bởi Công ty TNHH Sony Electronics Việt Nam, Sony Electronics (Singapore) PTE. LTD hoặc Sony Corporation of Hong Kong LTD.
                    