section.product-detail-projector.section-detail-2
	.container
		.image-wrapper.top-image
			img(src="./img/project/1.png", alt="")
		.product-info
			h1 FX9
			h2 PXW-FX9 / PXW-FX9K
			.caption Discover FX9, Sony's full-frmae 6K sensor camera with Fast Hybird Af, Dual Base ISO and S-Cinetone colour seience
			.version 
			.image-wrapper
				img(src="./img/project/1-1.png", alt="")
		.button-wrapper-center
			a(href="#").btn.btn-primary
				span Contact Us
			a(href="#").btn.btn-primary.yellow
				span Where to buy
section.product-detail-section-image.section-detail-2
	.container
		.head-title.text-center Brighter images in bigger venues
		.caption.text-center  Captivate your audience in conference halls, lecture theatres, galleries, museums, visitor attractions and other large spaces. Very high light output (13,000 lumens VPL-FHZ131L, 10,000 lumens VPL-FHZ101L, 9,000 lumens VPL-FHZ91L) ensures big-screen presentations with extra presence, even in brightly lit rooms.
	.image-wrapper
		img(src="./img/project/2.png", alt="")
section.product-detail-section-image.section-detail-2
	.container
		.head-title.text-center   Get closer to reality
		.caption.text-center Impressive picture quality is boosted by Sony’s unique super resolution Reality Creation technology. This uses a powerful pattern-matching database to optimise lower-resolution images, enhancing clarity without increasing 
	.image-wrapper
		img(src="./img/project/3.png", alt="")
section.product-detail-section-image.section-detail-2
	.container
		.head-title.text-center   Get closer to reality
		.caption.text-center Impressive picture quality is boosted by Sony’s unique super resolution Reality Creation technology. This uses a powerful pattern-matching database to optimise lower-resolution images, enhancing clarity without increasing 
	.image-wrapper
		img(src="./img/project/3.png", alt="")
section.product-detail-section-image.section-detail-2
	.container
		.head-title.text-center Faster, fuss-free set-up
		.caption.text-center Save time with Sony’s Intelligent Setting function that simplifies installation with pre-sets to optimise brightness, cooling, colour and other projector settings. You’ll be rewarded with great pictures in any environment – including meeting/classrooms, museums, entertainment venues and multi-screen setups.
		.row
			.col.w-full(class='lg:w-1/2')
				.figure-feature
					.image-wrapper
						img(src="./img/project/5.png", alt="")
					.figcaption
						h2 6k full frame
						.caption Full-frame 17:9 mode with PXW-FX9
			.col.w-full(class='lg:w-1/2')
				.figure-feature
					.image-wrapper
						img(src="./img/project/5.png", alt="")
					.figcaption
						h2 6k full frame
						.caption Full-frame 17:9 mode with PXW-FX9
section.product-detail-innovative.section-detail-2
	.container
		.head-title.text-center Innovative features
		.row
			.col(class='sm:w-1/2 lg:w-4/12')
				.figureinnovative
					.figure-image
						img(src="./img/project/6.png", alt="")
					.figcaption
						h2 Reduced maintenance
						.caption The laser light source offers up to 20,000 hours* operation without lamp exchange, reducing maintenance needs compared with traditional projectors.
						.note-text * Depending on usage environment.
			.col(class='sm:w-1/2 lg:w-4/12')
				.figureinnovative
					.figure-image
						img(src="./img/project/6.png", alt="")
					.figcaption
						h2 Reduced maintenance
						.caption The laser light source offers up to 20,000 hours* operation without lamp exchange, reducing maintenance needs compared with traditional projectors.
						.note-text * Depending on usage environment.
			.col(class='sm:w-1/2 lg:w-4/12')
				.figureinnovative
					.figure-image
						img(src="./img/project/6.png", alt="")
					.figcaption
						h2 Reduced maintenance
						.caption The laser light source offers up to 20,000 hours* operation without lamp exchange, reducing maintenance needs compared with traditional projectors.
						.note-text * Depending on usage environment.
			.col(class='sm:w-1/2 lg:w-4/12')
				.figureinnovative
					.figure-image
						img(src="./img/project/6.png", alt="")
					.figcaption
						h2 Reduced maintenance
						.caption The laser light source offers up to 20,000 hours* operation without lamp exchange, reducing maintenance needs compared with traditional projectors.
						.note-text * Depending on usage environment.
			.col(class='sm:w-1/2 lg:w-4/12')
				.figureinnovative
					.figure-image
						img(src="./img/project/6.png", alt="")
					.figcaption
						h2 Reduced maintenance
						.caption The laser light source offers up to 20,000 hours* operation without lamp exchange, reducing maintenance needs compared with traditional projectors.
						.note-text * Depending on usage environment.
			.col(class='sm:w-1/2 lg:w-4/12')
				.figureinnovative
					.figure-image
						img(src="./img/project/6.png", alt="")
					.figcaption
						h2 Reduced maintenance
						.caption The laser light source offers up to 20,000 hours* operation without lamp exchange, reducing maintenance needs compared with traditional projectors.
						.note-text * Depending on usage environment.