section.product-list-compare.product-section
	.container
		h1.head-title.text-center máy chiếu gia đình HD
		.zone-description Các loại máy chiếu gia đình của Sony có chất lược như rạp phim với kiểu dáng đẹp mắt mang đến những bộ phim, thể thao, trò chơi và hơn thế nữa với 4K HDR chi tiết với màu sắc phong phú, sống động và độ tương phản ngoạn mục. Mang đến cho bạn gia đình những khoảnh khắc xem phim tuyệt vời
		.row
			.col.w-full(class='sm:w-1/2 md:w-4/12')
				.col-match-height
					.figure-product
						.figure-image
							a(href="#")
								img(src="./img/product/1.png", alt="")
						.figcaption
							.title
								h2
									a(href="#") máy quay chuyên dụngg
							.caption
								ul
									li Máy quay phim HD và chuyên nghiệp phổ biến nhất thế giới
									li Tổng số sáng tạo hoạt động  và kính tế linh hoạt
							.button-wrapper-left
								a(href="#").btn.btn-compare
									em.mdi.mdi-repeat
									span So sánh
		
			.col.w-full(class='sm:w-1/2 md:w-4/12')
				.col-match-height
					.figure-product
						.figure-image
							a(href="#")
								img(src="./img/product/5.png", alt="")
						.figcaption
							.title
								h2
									a(href="#") máy quay chuyên dụngg
							.caption
								ul
									li Máy quay phim HD và chuyên nghiệp phổ biến nhất thế giới
									li Tổng số sáng tạo hoạt động  và kính tế linh hoạt
							.button-wrapper-left
								a(href="#").btn.btn-compare
									em.mdi.mdi-repeat
									span So sánh
		
			.col.w-full(class='sm:w-1/2 md:w-4/12')
				.col-match-height
					.figure-product
						.figure-image
							a(href="#")
								img(src="./img/product/1.png", alt="")
						.figcaption
							.title
								h2
									a(href="#") máy quay chuyên dụngg
							.caption
								ul
									li Máy quay phim HD và chuyên nghiệp phổ biến nhất thế giới
									li Tổng số sáng tạo hoạt động  và kính tế linh hoạt
							.button-wrapper-left
								a(href="#").btn.btn-compare
									em.mdi.mdi-repeat
									span So sánh
	
		.button-wrapper-left
			a(href="#").btn.btn-primary
				span Sản phẩm ngừng bán
section.select-product-compare.product-section
	.container
		h2.head-title So sánh sản phẩm
		.btn-remove-compare
			em.lnr.lnr-cross
		.row
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-product
						.figure-image
							a(href="#")
								img(src="./img/product/3.png", alt="")
						.figcaption
							.title
								h2
									a(href="#") máy quay chuyên dụngg
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-product
						.figure-image
							a(href="#")
								img(src="./img/product/3.png", alt="")
						.figcaption
							.title
								h2
									a(href="#") máy quay chuyên dụngg


			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-add-more
						em.lnr.lnr-cross
		.button-wrapper-center
			a(href="#").btn.btn-primary.yellow
				span So sánh