section.document-section
	.container
		h1.head-title.text-center Tài liệu
		.row
			-for(i=0;i<5;i++)
				.col.w-full(class='sm:w-1/2 lg:w-4/12')
					.col-match-height
						.figure-product
							.figure-image
								a(href="#")
									img(src="./img/document/1.jpg", alt="")
							.figcaption
								.title
									h2
										a(href="#") Hướng dẫn kỹ thuật
								.caption
									ul
										li Tìm hướng dẫn sử dụng, tài liệu và thông tin mới nhất cho sản phẩm của bạn.