section.product-related-display
	.container
		.head-title.text-left Sản phẩm liên quan
		.product-related-swiper
			.swiper-pagination
			.nav-arrow-prev
				span.lnr.lnr-chevron-left
			.nav-arrow-next
				span.lnr.lnr-chevron-right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.figure-product-related
							.figure-image
								a(href="#")
									img(src="./img/product/1.png", alt="")
							.figcaption
								h3
									a(href="#") PXW-W2000
								.caption Ba cảm biến Exmor ™ CMOS 1/2 inch cảm biến XDCAM nửa vai với hệ thống ống kính HD zoom 14x có thể hoán đổi cho nhau ghi XAVC HD 100 Mbps và MPEG HD422 tốc độ 50 Mbps
					.swiper-slide
						.figure-product-related
							.figure-image
								a(href="#")
									img(src="./img/product/1.png", alt="")
							.figcaption
								h3
									a(href="#") PXW-W2000
								.caption Ba cảm biến Exmor ™ CMOS 1/2 inch cảm biến XDCAM nửa vai với hệ thống ống kính HD zoom 14x có thể hoán đổi cho nhau ghi XAVC HD 100 Mbps và MPEG HD422 tốc độ 50 Mbps
					.swiper-slide
						.figure-product-related
							.figure-image
								a(href="#")
									img(src="./img/product/1.png", alt="")
							.figcaption
								h3
									a(href="#") PXW-W2000
								.caption Ba cảm biến Exmor ™ CMOS 1/2 inch cảm biến XDCAM nửa vai với hệ thống ống kính HD zoom 14x có thể hoán đổi cho nhau ghi XAVC HD 100 Mbps và MPEG HD422 tốc độ 50 Mbps
					.swiper-slide
						.figure-product-related
							.figure-image
								a(href="#")
									img(src="./img/product/1.png", alt="")
							.figcaption
								h3
									a(href="#") PXW-W2000
								.caption Ba cảm biến Exmor ™ CMOS 1/2 inch cảm biến XDCAM nửa vai với hệ thống ống kính HD zoom 14x có thể hoán đổi cho nhau ghi XAVC HD 100 Mbps và MPEG HD422 tốc độ 50 Mbps
					.swiper-slide
						.figure-product-related
							.figure-image
								a(href="#")
									img(src="./img/product/1.png", alt="")
							.figcaption
								h3
									a(href="#") PXW-W2000
								.caption Ba cảm biến Exmor ™ CMOS 1/2 inch cảm biến XDCAM nửa vai với hệ thống ống kính HD zoom 14x có thể hoán đổi cho nhau ghi XAVC HD 100 Mbps và MPEG HD422 tốc độ 50 Mbps
					.swiper-slide
						.figure-product-related
							.figure-image
								a(href="#")
									img(src="./img/product/1.png", alt="")
							.figcaption
								h3
									a(href="#") PXW-W2000
								.caption Ba cảm biến Exmor ™ CMOS 1/2 inch cảm biến XDCAM nửa vai với hệ thống ống kính HD zoom 14x có thể hoán đổi cho nhau ghi XAVC HD 100 Mbps và MPEG HD422 tốc độ 50 Mbps
					.swiper-slide
						.figure-product-related
							.figure-image
								a(href="#")
									img(src="./img/product/1.png", alt="")
							.figcaption
								h3
									a(href="#") PXW-W2000
								.caption Ba cảm biến Exmor ™ CMOS 1/2 inch cảm biến XDCAM nửa vai với hệ thống ống kính HD zoom 14x có thể hoán đổi cho nhau ghi XAVC HD 100 Mbps và MPEG HD422 tốc độ 50 Mbps