section.solution-section.home-solution
	.container
		h2.head-title Giải pháp chuyên dụng
		.row
			.col(class='w-full sm:w-1/2')
				.solution-figure
					.figure-image.opacity
						a(href="#")
							img(src="./img/index/solution/1.jpg", alt="")
					.figcaption
						h2.title Doanh nghiệp
						.caption
							p Làm việc thông minh hơn
			.col(class='w-full sm:w-1/2')
				.solution-figure
					.figure-image.opacity
						a(href="#")
							img(src="./img/index/solution/2.jpg", alt="")
					.figcaption
						h2.title Doanh nghiệp
						.caption
							p Làm việc thông minh hơn
			.col(class='w-full sm:w-1/2 lg:w-4/12')
				.solution-figure
					.figure-image.opacity
						a(href="#")
							img(src="./img/index/solution/3.jpg", alt="")
					.figcaption
						h2.title Doanh nghiệp
						.caption
							p Làm việc thông minh hơn
			.col(class='w-full sm:w-1/2 lg:w-4/12')
				.solution-figure
					.figure-image.opacity
						a(href="#")
							img(src="./img/index/solution/4.jpg", alt="")
					.figcaption
						h2.title Doanh nghiệp
						.caption
							p Làm việc thông minh hơn
			.col(class='w-full sm:w-1/2 lg:w-4/12')
				.solution-figure
					.figure-image.opacity
						a(href="#")
							img(src="./img/index/solution/5.jpg", alt="")
					.figcaption
						h2.title Doanh nghiệp
						.caption
							p Làm việc thông minh hơn
		.swiper-pagination
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.solution-figure
						.figure-image.opacity
							a(href="#")
								img(src="./img/index/solution/5.jpg", alt="")
						.figcaption
							h2.title Doanh nghiệp
							.caption
								p Làm việc thông minh hơn
				.swiper-slide
					.solution-figure
						.figure-image.opacity
							a(href="#")
								img(src="./img/index/solution/5.jpg", alt="")
						.figcaption
							h2.title Doanh nghiệp
							.caption
								p Làm việc thông minh hơn
				.swiper-slide
					.solution-figure
						.figure-image.opacity
							a(href="#")
								img(src="./img/index/solution/5.jpg", alt="")
						.figcaption
							h2.title Doanh nghiệp
							.caption
								p Làm việc thông minh hơn
				.swiper-slide
					.solution-figure
						.figure-image.opacity
							a(href="#")
								img(src="./img/index/solution/5.jpg", alt="")
						.figcaption
							h2.title Doanh nghiệp
							.caption
								p Làm việc thông minh hơn
				.swiper-slide
					.solution-figure
						.figure-image.opacity
							a(href="#")
								img(src="./img/index/solution/5.jpg", alt="")
						.figcaption
							h2.title Doanh nghiệp
							.caption
								p Làm việc thông minh hơn