section.product-detail-cameras
	.container
		.image-wrapper.top-image
			img(src="./img/camera/1.png", alt="")

		.product-information
			h1 FX9
			h2 PXW-FX9 / PXW-FX9K
			.caption Discover FX9, Sony's full-frmae 6K sensor camera with Fast Hybird Af, Dual Base ISO and S-Cinetone colour seience
			.version 
			.image-wrapper
				img(src="./img/camera/1-1.png", alt="")
		.button-wrapper-center
			a(href="#").btn.btn-primary.yellow
				span Contact Us
section.product-detail-nav.detail-nav-2
	.container
		.row
			.col.w-full(class='md:w-1/2')
				.head-title.text-white WPL- HW 65ES
		ul.sticky-navigation#sticky-nav
			li
				a(href="#product-section-1") Tổng quan 
			li
				a(href="#product-section-2")  Tính năng
			li
				a(href="#product-section-3") Thông số kỹ thuật
			li
				a(href="#product-section-4") Tài liệu
			li
				a(href="#product-section-5") Phụ kiện
section.product-detail-media
	.container
		.figure-media.video
			.figure-image
				.wrapper
					.play
						.play__icon
						video(playsinline="",loop='' )
							source(src='./img/sample.mp4', type='video/mp4')
	.container
		.figure-media.video
			.figure-image
				.wrapper
					.play
						.play__icon
						video(playsinline="",loop='' )
							source(src='./img/sample.mp4', type='video/mp4')
	.container
		h2 Full-frmae creativity
		.caption Realise beautiful 4K imagery with the creative freedom made possible by oversampling a huge high resolution full-frame sensor. Capture every detail from the scene with shallow depth of field and stunning bokeh with a truly cinematic look. 15+ stops of dynamic range and Dual Base ISO enable capture of every nuance, from subtle shadow detail to specular highlights and with an immaculate colour palette.
		.figure-media.video
			.figure-image
				.wrapper
					.play
						.play__icon
						video(playsinline="",loop='' )
							source(src='./img/sample.mp4', type='video/mp4')
	.container
		h2 Capturing the impossible
		.caption Make sure your story’s always clear with enhanced Fast Hybrid AF that tracks your subject with unprecedented speed, smoothness and precision. Its impact is transformative for premium documentary, commercials and event applications. Your ability to precisely capture your subject’s expression is further enhanced with Sony’s unique Eye AF.*
			p *Ver2.0 is required.
		.figure-media.video
			.figure-image
				.wrapper
					.play
						.play__icon
						video(playsinline="",loop='' )
							source(src='./img/sample.mp4', type='video/mp4')
	.container
		h2 Shoot in comfort, expand your horizons
		.caption FX9 revolutionises full-frame cinematography with peerless ergonomics and advanced technology for on-the-go shooting. The world’s first full-frame electronic variable ND filter* transforms possibilities for shooting in variable lighting conditions. Built-in Wi-Fi and 12G-SDI support advanced workflows while the optional XDCA-FX9 extension unit further expands the operational possibilities of the PXW-FX9. Ver.2.0 firmware adds HLG, User 3D LUTs and more with yet more advanced features still to come.
			p *As of September 2019

		.figure-media.video
			.figure-image
				.wrapper
					.play
						.play__icon
						video(playsinline="",loop='' )
							source(src='./img/sample.mp4', type='video/mp4')
section.product-detail-features-1.detail-section
	.container
		.row.text-left-image-right
			.col.w-full(class='lg:w-1/2')
				.head-title 6K Full-Frame “Exmor R” sensor for stunning picture quality
				.caption The camera’s full-frame 6K sensor provides superb recording in DCI 4K*, Ultra HD and HD resolutions. Powerful image processing with debayering and oversampling ensures image quality beyond the limits of conventional Super 35mm sensors. The back-illuminated CMOS image sensor also uses Sony’s Exmor R technology for improved sensitivity and noise reduction. Compared to a 4K Super 35mm sensor, the FX9’s 6K sensor has over twice the surface area while providing a wider angle of view and shallower depth of field.
					p *DCI 4K (4096 x 2160 at 17:9 recording) requires Ver.2.0 or higher firmware.
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/camera/2.png", alt="")
		.row
			.col.w-full(class='lg:w-1/2')
				.figure-feature
					.image-wrapper
						img(src="./img/camera/3.png", alt="")
					.figcaption
						h2 6k full frame
						.caption Full-frame 17:9 mode with PXW-FX9
						
			.col.w-full(class='lg:w-1/2')
				.figure-feature
					.image-wrapper
						img(src="./img/camera/4.png", alt="")
					.figcaption
						h2 6k full frame
						.caption Full-frame 17:9 mode with PXW-FX9
			.col.w-full(class='lg:w-1/2')
				.figure-feature
					.image-wrapper
						img(src="./img/camera/5.png", alt="")
					.figcaption
						h2 6k full frame
						.caption Full-frame 17:9 mode with PXW-FX9
			.col.w-full(class='lg:w-1/2')
				.figure-feature
					.image-wrapper
						img(src="./img/camera/6.png", alt="")
					.figcaption
						h2 6k full frame
						.caption Full-frame 17:9 mode with PXW-FX9
section.product-detail-features-2.detail-section
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/camera/7.png", alt="")
			.col.w-full(class='lg:w-1/2')
				.head-title Phenomenal 15+ stops dynamic range for limitless expression
				.caption FX9 offers an exceptional 15+ stops of dynamic range – beyond the normal range of human perception – allowing for unprecedented creative freedom in colour grading and post. Camera operators can concentrate on framing the scene they want while relying upon the FX9 to capture every nuance and detail using either 4K 4:2:2 10-bit internal recording or 16-bit RAW external recording.* In grading, colourists can find colour and detail beyond the normal viewing abilities of the camera operator to create a final image that exactly portrays the mood of the scene.
					p * RAW recording requires Ver.2.0 or higher firmware, XDCA-FX9 and external recorder.
section.product-detail-features-3.detail-section
	.container
		.head-title.text-center Dual Base ISO for stunning images in any light
		.caption FX9 features a base sensitivity of ISO 800, providing the optimal dynamic range for typical documentary applications such as shooting outside or in brightly lit interiors. A secondary High Base sensitivity of ISO 4000 excels in low light conditions such as early morning and evening shoots while maintaining superb image quality. ISO 4000 is also ideal whenever you’re using slow lenses. Combining Dual Base ISO with the camera’s electronic variable ND Filter provides superb creative control in almost any shooting environment, with truly next generation responsiveness to changing conditions.
			p *ISO 800 and ISO 4000 are used in S-Log3, Cine EI mode.
		.row
			.col.w-full(class='lg:w-1/2')
				.figure-feature
					.image-wrapper
						img(src="./img/camera/8.png", alt="")
					.figcaption
						h2 ISO 800
						.caption Ideal for brightly lit scene.
						
			.col.w-full(class='lg:w-1/2')
				.figure-feature
					.image-wrapper
						img(src="./img/camera/9.png", alt="")
					.figcaption
						h2 ISO 4000
						.caption Ideal for low-light scene.
			.col.w-full(class='lg:w-1/2')
				.figure-feature
					.image-wrapper
						img(src="./img/camera/10.png", alt="")

			.col.w-full(class='lg:w-1/2')
				.figure-feature
					.image-wrapper
						img(src="./img/camera/11.png", alt="")

section.product-detail-caption-text.detail-section.product-detail-features-4
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.head-title Cinematic colour science with S-Cinetone™
				.caption S-Cinetone is the default look of FX9 that’s tuned to meet the requirements of today’s content creators with rich mid-range colours, alluring facial tones and a softer tonal look – developed with the same expertise as Sony’s world-leading VENICE digital cinematography camera. S-Cinetone means that straight out of the camera your content looks fresh and vivid, with subjects that really stand out while retaining plenty of latitude in post production thanks to the high performance full-frame image sensor.
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/camera/12.png", alt="")
section.product-detail-features-5.detail-section
	.container
		.head-title.text-center Selectable frame rates in both full-frame & Super 35
		.caption  Choose your desired frame-rate from 1fps up to 180fps* for impressive quick and slow motion footage. FX9 creates an immersive image with a wide-angle look and shallower depth of field provided by its full-frame sensor in combination with quick and slow motion. Engage your audience with this new creative look. FX9 also offers a Quality priority setting** that maximizes full HD image quality using full-frame 6K scan mode or Super 35 4K scan mode with advanced oversampling technology.
			p Super 35 2K imager scan mode prioritizes frame rates, so image quality may be reduced depending on the shooting environment. In this instance, below settings are recommended.
			ul
				li Cine EI mode: Set EI gain lower and exposure level higher instead.
				li Custom/SDR mode: Choose the gamma category setting of Original (S-Cinetone) or STD (STD1 to 6).
		.image-wrapper
			img(src="./img/camera/13.png", alt="")
		.note-text
			p *Requires Ver.2.0 firmware or higher.
			p ** Requires Ver.2.0 firmware or higher. Scanning area is cropped around 83% of full-frame and 122% larger than S35. (diagonal)
.wrapper-section
	section.product-detail-caption-text.detail-section
		.container
			.row
				.col.w-full(class='lg:w-1/2')
					.figure-media.video
						.figure-image
							.wrapper
								.play
									.play__icon
									video(playsinline="",loop='' )
										source(src='./img/sample.mp4', type='video/mp4')
				.col.w-full(class='lg:w-1/2')
					.head-title Catch the action with enhanced Fast Hybrid AF
					.caption S-Cinetone is the default look of FX9 that’s tuned to meet the requirements of today’s content creators with rich mid-range colours, alluring facial tones and a softer tonal look – developed with the same expertise as Sony’s world-leading VENICE digital cinematography camera. S-Cinetone means that straight out of the camera your content looks fresh and vivid, with subjects that really stand out while retaining plenty of latitude in post production thanks to the high performance full-frame image sensor.
	section.product-detail-caption-text.detail-section
		.container
			.row
				.col.w-full(class='lg:w-1/2')
					.image-wrapper
						img(src="./img/camera/14.png", alt="")
				.col.w-full(class='lg:w-1/2')
					.head-title Customisable AF settings
					.caption
						p FX9’s comprehensive autofocus settings provide the creative flexibility to integrate with any project.
						p 7-level AF transition speeds from Fast – switching between subjects as quickly as possible – to Slow, where speed is reduced to fit a more measured shooting style, such as a historical TV drama.
						p 5-level AF subject shift sensitivity ranges from Locked-on – ignoring other moving subjects in the frame – to Responsive that switches focus from one subject to another – ideal for snapping between race cars as they speed by.
	section.product-detail-caption-text.detail-section
		.container
			.row
				.col.w-full(class='lg:w-1/2')
					.image-wrapper
						img(src="./img/camera/15.png", alt="")
				.col.w-full(class='lg:w-1/2')
					.head-title Autofocus with all E-mount lenses
					.caption Experience smooth, responsive autofocus with every E-mount lens, including Sony’s new Cinema Lens Series with premium optical performance and operability for demanding cinematography applications. Advanced E-mount lever lock operation allows quick, easy lens exchange in the field, plus added stability 
	section.product-detail-caption-text.detail-section
		.container
			.row
				.col.w-full(class='lg:w-1/2')
					.figure-media.video
						.figure-image
							.wrapper
								.play
									.play__icon
									video(playsinline="",loop='' )
										source(src='./img/sample.mp4', type='video/mp4')
				.col.w-full(class='lg:w-1/2')
					.head-title World’s first electronic variable ND filter for full-frame sensor*
					.caption User Created 3D LUTs make it easy to customise FX9’s look to your preferences. It is possible to import LUTs files from an SD card and store up to 16 files on the FX9’s internal memory and switch between them as needed. This is particularly useful for shooting in S-Log3, allowing you to preview on camera whatever custom look you create.
						p FX9 can record HDR using S-Log3 or Hybrid Log Gamma (HLG)*.
						ul
							li S-Log3 is optimized for premium applications, capturing the maximum dynamic range from a sensor and providing ultimate creative freedom when colour grading.
							li HLG* delivers content quickly without additional colour grading making it an ideal choice for day-to-day shooting, viewing and editing workflows.
						p *Ver.2.0 or higher firmware required
	section.product-detail-caption-text.detail-section
		.container
			.row
				.col.w-full(class='lg:w-1/2')
					.image-wrapper
						img(src="./img/camera/16.png", alt="")
				.col.w-full(class='lg:w-1/2')
					.head-title Proven ergonomics & accessory compatibility
					.caption User Created 3D LUTs make it easy to customise FX9’s look to your preferences. It is possible to import LUTs files from an SD card and store up to 16 files on the FX9’s internal memory and switch between them as needed. This is particularly useful for shooting in S-Log3, allowing you to preview on camera whatever custom look you create.
						p FX9 can record HDR using S-Log3 or Hybrid Log Gamma (HLG)*.
						ul
							li S-Log3 is optimized for premium applications, capturing the maximum dynamic range from a sensor and providing ultimate creative freedom when colour grading.
							li HLG* delivers content quickly without additional colour grading making it an ideal choice for day-to-day shooting, viewing and editing workflows.
						p *Ver.2.0 or higher firmware required
	section.product-detail-caption-text.detail-section
		.container
			.row
				.col.w-full(class='lg:w-1/2')
					.image-wrapper
						img(src="./img/camera/17.png", alt="")
				.col.w-full(class='lg:w-1/2')
					.head-title 16-bit RAW capability*
					.caption User Created 3D LUTs make it easy to customise FX9’s look to your preferences. It is possible to import LUTs files from an SD card and store up to 16 files on the FX9’s internal memory and switch between them as needed. This is particularly useful for shooting in S-Log3, allowing you to preview on camera whatever custom look you create.
						p FX9 can record HDR using S-Log3 or Hybrid Log Gamma (HLG)*.
						ul
							li S-Log3 is optimized for premium applications, capturing the maximum dynamic range from a sensor and providing ultimate creative freedom when colour grading.
							li HLG* delivers content quickly without additional colour grading making it an ideal choice for day-to-day shooting, viewing and editing workflows.
						p *Ver.2.0 or higher firmware required
section.product-detail-features-6.detail-section
	.container
		.image-wrapper
			img(src="./img/camera/19.png", alt="")
		.head-title Stable, shake-free handheld footage
		.caption Advanced image stabilisation information means even handheld footage can be transformed with Sony Catalyst Browse/Catalyst Prepare software* in post-production to look as smooth as if it were shot with a gimbal. Unlike in-camera or lens stabilisation, metadata combining FX9’s built-in gyro and lens information allows you to creatively choose the balance between the level of shake-compensation and the resolution of trimmed 4K imagery. This feature requires Sony E-mount lens and allows for far faster processing than conventional NLE stabilisation workflows**.
		.note-text *Catalyst Browse/Catalyst Prepare Version 2019.2 or higher is required.
			p **Resolution and angle of view reduced compared to native footage. Lens optical image stabilisation should be set to ‘OFF’ during shooting.


section.product-detail-caption-text.product-detail-features-7.detail-section
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/camera/20.png", alt="")
			.col.w-full(class='lg:w-1/2')
				.head-title Beautifully matched shooting partners
				.caption Optimised for professional cinematography applications, the light, compact, SELP28135G  powered zoom lens is an ideal complement for the full frame imaging possibilities of the FX9.
					ul
						li Circular aperture with full-frame image circle format
						li Motorised servo zoom for smooth, precise zoom moves
						li Independent three rings for focus, zoom and iris with smooth, silent drive
					p You have the choice of purchasing the FX9 on its own (PXW-FX9) or with SELP28135G lens (PXW-FX9K).

		
section.product-detail-features-8.detail-section
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.head-title Cinema Lens Series
				.caption Optimised for professional cinematography applications, the light, compact, SELP28135G  powered zoom lens is an ideal complement for the full frame imaging possibilities of the FX9.
					ul
						li Circular aperture with full-frame image circle format
						li Motorised servo zoom for smooth, precise zoom moves
						li Independent three rings for focus, zoom and iris with smooth, silent drive
					p You have the choice of purchasing the FX9 on its own (PXW-FX9) or with SELP28135G lens (PXW-FX9K).
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/camera/20.png", alt="")
		
		.row
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.cards-example
					.cards-image
						img(src="./img/camera/21.png", alt="")
					.cards-caption
						h2 Adds shoulder-style operation, advanced networking
						.caption Further extend the capabilities of the FX9 with the optional XDCA-FX9 extension unit that optimises camera weight distribution and ergonomics for comfortable shoulder-style shooting – ideal for ENG (Electronic News Gathering) and documentary applications. The extension unit also adds advanced networking for streaming/file transfers and Timecode for multi-camera shoots.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.cards-example
					.cards-image
						img(src="./img/camera/22.png", alt="")
					.cards-caption
						h2 4-channel audio input and recording
						.caption FX9 offers superb audio capabilities with independent control dials for each channel. In applications such as interview, 4-channel audio recording enables simultaneous use of an external microphone for recording ambient sounds, the built-in microphone for voice memos by the operator, and two optional UWP Series wireless microphones for voice of interviewer and interviewee. In addition, using the optional XLR-K3M, XLR-K2M or XLR-K1M XLR adapter – with two extra XLR inputs – allows even more devices to be connected.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.cards-example
					.cards-image
						img(src="./img/camera/23.png", alt="")
					.cards-caption
						h2 Multi-Interface (MI) Shoe
						.caption Sony’s flexible Multi-Interface (MI) Shoe provides power, signal connections and coordinated on/off switching with compatible Sony accessories. For example, you can connect and control Sony UWP-D wireless microphone systems (optional).

section.product-detail-features-9.detail-section
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/camera/24.png", alt="")
			.col.w-full(class='lg:w-1/2')
				.head-title Network for hight mobility
				.caption The FX9 features internal 5GHz* and 2.4GHz Wi-Fi capability as standard. Just switch on and log onto your preferred network to enable a host of advanced wireless production features:
				ul
					li Content Browser Mobile™** allows the PXW-FX9 to be controlled remotely from a smartphone or tablet computer via a Wi-Fi connection. Adjust the exposure level, zoom, Record/Stop and more via your mobile device – it’s ideal for single operator shoots. One-touch authentication is also possible with smartphones offering NFC connectivity.
					li FTP Transfer allows content files to be sent over the internet for remote storage on an FTP server even while shooting. In case of signal interruption, the system will automatically resume as soon as connection restored.
					li Trimming allows you to set start and end points in a clip, eliminating time-wasting transfers of unneeded content.
					li XDCAM air can upload proxy footage to the cloud from multiple camera operators in the field, so editing can start immediately. Uploaded content can be accessed securely from any location. News teams can even start logging clips while shooting is still going on, saving even more valuable time when a story’s breaking.
		.row
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/camera/25.png", alt="")
			.col.w-full(class='lg:w-1/2')
				.caption The FX9 features internal 5GHz* and 2.4GHz Wi-Fi capability as standard. Just switch on and log onto your preferred network to enable a host of advanced wireless production features:
				ul
					li Content Browser Mobile™** allows the PXW-FX9 to be controlled remotely from a smartphone or tablet computer via a Wi-Fi connection. Adjust the exposure level, zoom, Record/Stop and more via your mobile device – it’s ideal for single operator shoots. One-touch authentication is also possible with smartphones offering NFC connectivity.
					li FTP Transfer allows content files to be sent over the internet for remote storage on an FTP server even while shooting. In case of signal interruption, the system will automatically resume as soon as connection restored.
					li Trimming allows you to set start and end points in a clip, eliminating time-wasting transfers of unneeded content.
					li XDCAM air can upload proxy footage to the cloud from multiple camera operators in the field, so editing can start immediately. Uploaded content can be accessed securely from any location. News teams can even start logging clips while shooting is still going on, saving even more valuable time when a story’s breaking.