section.product-news-swiper
	.container
		.lastest-news-next
			em.lnr.lnr-chevron-right
		.lastest-news-prev
			em.lnr.lnr-chevron-left
		.swiper-pagination
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wrapper
						.figure-lastest-news
							.figure-image.zoom-in
								a(href="#")
									img(src="./img/index/swiper/1.jpg", alt="")
							.figcaption
								h3
									a(href="#") PXW-FX9 Đạt chuẩn "cận máy quay điện ảnh"
								.caption
									p Ttrong nhựng năm trở lại đây máy quay kỹ thuật số với cảm biến lớn phát triển nhanh chóng 
				.swiper-slide
					.wrapper
						.figure-lastest-news
							.figure-image.zoom-in
								a(href="#")
									img(src="./img/index/swiper/2.jpg", alt="")
							.figcaption
								h3
									a(href="#") PXW-FX9 Đạt chuẩn "cận máy quay điện ảnh"
								.caption
									p Ttrong nhựng năm trở lại đây máy quay kỹ thuật số với cảm biến lớn phát triển nhanh chóng 
				.swiper-slide
					.wrapper
						.figure-lastest-news
							.figure-image.zoom-in
								a(href="#")
									img(src="./img/index/swiper/3.jpg", alt="")
							.figcaption
								h3
									a(href="#") PXW-FX9 Đạt chuẩn "cận máy quay điện ảnh"
								.caption
									p Ttrong nhựng năm trở lại đây máy quay kỹ thuật số với cảm biến lớn phát triển nhanh chóng 
				.swiper-slide
					.wrapper
						.figure-lastest-news
							.figure-image.zoom-in
								a(href="#")
									img(src="./img/index/swiper/4.jpg", alt="")
							.figcaption
								h3
									a(href="#") PXW-FX9 Đạt chuẩn "cận máy quay điện ảnh"
								.caption
									p Ttrong nhựng năm trở lại đây máy quay kỹ thuật số với cảm biến lớn phát triển nhanh chóng 
				.swiper-slide
					.wrapper
						.figure-lastest-news
							.figure-image.zoom-in
								a(href="#")
									img(src="./img/index/swiper/1.jpg", alt="")
							.figcaption
								h3
									a(href="#") PXW-FX9 Đạt chuẩn "cận máy quay điện ảnh"
								.caption
									p Ttrong nhựng năm trở lại đây máy quay kỹ thuật số với cảm biến lớn phát triển nhanh chóng 
				.swiper-slide
					.wrapper
						.figure-lastest-news
							.figure-image.zoom-in
								a(href="#")
									img(src="./img/index/swiper/1.jpg", alt="")
							.figcaption
								h3
									a(href="#") PXW-FX9 Đạt chuẩn "cận máy quay điện ảnh"
								.caption
									p Ttrong nhựng năm trở lại đây máy quay kỹ thuật số với cảm biến lớn phát triển nhanh chóng 