.sitemap {
	max-width: 1140px;
	margin: 0 auto;
	padding: 80px 15px;
}


.AspNet-TreeView,
.AspNet-TreeView ul {
	margin: 0 0 0 1em;
	/* indentation */
	padding: 0;
	list-style: none;
	color: #369;
	position: relative;
}

.AspNet-TreeView ul {
	margin-left: .5em
}

/* (indentation/2) */

.AspNet-TreeView ul:before {
	content: "";
	display: block;
	width: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	border-left: 1px solid;
}

.AspNet-TreeView li {
	margin: 0;
	padding: 0 1.5em;
	/* indentation + .5em */
	line-height: 2em;
	/* default list item's `line-height` */
	font-weight: bold;
	position: relative;
}

.AspNet-TreeView li:before {
	content: "";
	display: block;
	width: 10px;
	/* same with indentation */
	height: 0;
	border-top: 1px solid;
	margin-top: -1px;
	/* border top width */
	position: absolute;
	top: 1em;
	/* (line-height/2) */
	left: 0;
}

.AspNet-TreeView li:last-child:before {
	background: white;
	/* same with body background */
	height: auto;
	top: 1em;
	/* (line-height/2) */
	bottom: 0;
}

.AspNet-TreeView-Collapse {
	display: none;
}

.sitemap-heading h1 {
	font-size: 2rem;
}

/* ul#ctl00_mainContent_menu_UL ul li:last-child:before {
	top: 10px;
	bottom: 0;
	height: auto;

	background: RGBA(0, 58, 97, 1);
} */
