.sticky-solution-nav
	height: 75px
	@apply flex bg-azure-3 items-center justify-start
	@media screen and ( max-width:1024px)
		@apply whitespace-no-wrap
		height: 50px
		.container
			@apply overflow-x-auto
		
	.container,.ModuleContent,.Module 
		@apply h-full
	ul
		@apply h-full flex
		list-style-type: none
		padding: 0
		margin: 0
		li
			@apply inline-block h-full 
			&:not(:first-child)
				@apply mx-10
				
			a
				text-decoration: none
				@apply text-14 text-grey-2 text-center flex items-center justify-center h-full
.top-section-banner
	@apply py-12
	@screen lg
		@apply pt-16 pb-30
	.zone-description 
		@apply mb-8 text-center text-14 px-2
		@screen lg
			@apply mb-16 px-10
		
		*
			@apply text-14
	img
		@apply block mx-auto mt-16
		@media screen and ( max-width: 1024px)
			@apply mt-16
			
.banner-text-over
	&.text-bottom
		.container
			bottom: 80px
			top: auto
	@media screen and ( max-width: 767.9px )
		background: none
	@media screen and ( max-width:767px)
		@apply py-12
	.head-title,.zone-description 
		@apply text-white
	.zone-description
		@apply text-white
		*
			@apply text-white mb-3 leading-relaxed
			@screen lg
				@apply mb-8
		p 
			@apply leading-relaxed mb-3
			@screen lg
				@apply mb-8
		@media screen and ( max-width:767px)
			@apply text-14 
			*
				@apply text-14 
			
	.container-fluid
		@apply relative p-0
	.container
		@apply absolute  left-50 translate-x-50
		top: 80px
		@media screen and ( max-width: 1024px)
			@apply top-50 translate-50
		@media screen and ( max-width: 767px)
			@apply static transform-none
			
	.image-wrapper
		img
			max-width: 100%
			height: auto
			width: 100%
		@media screen and ( max-width:767px)
			@apply hidden
			
.solution-detail-3
	@apply py-12
	@screen lg
		@apply py-28
	.zone-description 
		@apply mb-8 text-14
		*
			@apply text-14
		@screen lg
			@apply mb-16
.solution-detail-4
	@apply bg-azure-4 py-16
	@screen lg
		@apply py-16
	
		
	.head-title
		@apply text-left
	.zone-description
		@apply text-left p-0 text-14
		*
			text-14
	@media screen and ( max-width:1024px)
		.head-title,.zone-description
			@apply text-center
		.button-wrapper-left
			@apply justify-center
			
	.image-wrapper
		+img-ratio(390/540,contain)
		@media screen and ( max-width:1024px)
			@apply mt-8
.solution-detail-banner

	
	.button-wrapper-center
		a
			min-width: 150px !important
.solution-detail-5
	@apply  bg-azure-4 py-16
	@screen lg
		@apply pt-18 pb-26
	.head-title
		@apply mb-0
	.zone-description 
		@apply mb-8
		@screen lg
			@apply mb-16
.section-card-product
	@apply pt-12 pb-0
	@screen lg
		@apply pt-20 pb-10
	@media screen and ( max-width:1024px)
		.row
			.col
				&:first-child
					order: 2
				&:nth-child(2)
					order: 1
		.button-wrapper-left
			@apply justify-center
					
		
	&.reserve-section
		@apply bg-azure-4
		.row
			@apply flex-row-reverse
	.head-title
		@apply text-left
	.zone-description
		@apply text-left p-0 text-14
	@media screen and ( max-width:1024px)
		.head-title,.zone-description
			@apply text-center
		.button-wrapper-left
			@apply justify-center
			
	.image-wrapper
		+img-ratio(300/540,cover)
		@media screen and ( max-width:1024px)
			@apply mt-8
	.product-section-include
		@apply py-16
		.figure-image
			a
				+img-ratio(140/240,contain)
		.figcaption
			h3
				a
					@apply text-32 text-grey-2  text-center block
					@media screen and ( max-width:767px)
						@apply text-20
						
			.caption
				@apply text-14  mt-4 text-center text-grey-2 font-normal 
				*
					@apply text-14 text-center text-grey-2 font-normal 
			.btn-view-more
				@media screen and ( max-width:1024px)
					@apply mt-8 justify-center
					
			

.solution-detail-6
	@apply py-16
	@screen lg
		@apply pt-16 pb-24
	.head-title
		@apply text-left
		max-width: 25%
		@media screen and ( max-width:1024px)
			max-width: 50%
		@media screen and ( max-width:767px)
			max-width: 100%
			
			
	.zone-description
		@apply p-0 text-left
		*
			@apply  mb-3 text-left
			@screen lg
				@apply mb-8
		p 
			@apply leading-relaxed mb-3 p-0
			@screen lg
				@apply mb-8
		@media screen and ( max-width:767px)
			@apply text-14 
			*
				@apply text-14 
			
.solution-detail-7
	@apply py-16
	@screen lg
		@apply py-16
	.caption
		@apply text-14 text-white
		*
			@apply text-14 text-white
		
.solution-detail-8
	@apply pt-16
	@screen lg
		@apply pt-32
	.head-title
		@apply text-white mb-16
	.row
		@apply justify-center
		.col 
			@apply mb-12
			@media screen and ( max-width:1440px)
				@apply mb-30
			@media screen and ( min-width:1440.1px)
				@apply mb-48
			@media screen and ( min-width:  1024.1px)
				&:nth-child(4)
					@apply mb-30
				&:nth-child(5)
					@apply mb-30
			@media screen and ( max-width:1024px)
				&:nth-child(4)
					@apply mb-16
				&:nth-child(5)
					@apply mb-16
				
.figure-expertise
	.figure-image
		height: 200px
		width: auto
		@apply mb-12
		@media screen and ( min-width:1440.1px)
			@apply mb-24
		@media screen and ( max-width:1440px)
			height: 150px
		@media screen and ( max-width:1024px)
			height: 100px
			
		img
			width: 100%
			height: 100%
			object-fit: contain
	.figcaption
		h3
			@apply text-28 text-white text-left mb-4
			@media screen and ( max-width:767px)
				@apply text-20
			@screen lg
				@apply mb-6
			@media screen and ( max-width: 767px )
				@apply text-center
				
	.caption
		@apply text-white text-14 font-light
		ul
			li
				+left-dot
				&:before
					font-size: 6px
					margin-bottom: .5rem
					margin-top: 0
				@apply mb-1
		@media screen and ( max-width: 767px )
			@apply text-center
			*
				@apply text-center
		*
			@apply text-white text-14 font-light
.solution-detail-9
	@apply py-16
	@screen lg
		@apply py-20
	.title-text
		color: #fff
		font-size: 28px
		text-align: left
		margin-bottom: 16px

		@media screen and ( max-width:1024px)
			font-size: 20px
			
	.caption
		@apply text-14 font-light text-left text-white
		*
			@apply text-14 font-light text-left text-white
	.row
		.col
			@apply mb-4
			@screen lg
				@apply mb-8
	.head-title
		@apply text-white
	.zone-description
		@apply text-white text-center text-14
		*
			@apply text-white mb-3 text-14
			@screen lg
				@apply mb-8
		p 
			@apply leading-relaxed mb-3 text-14
			@screen lg
				@apply mb-8
		@media screen and ( max-width:767px)
			@apply text-14 
			*
				@apply text-14 
	.image-wrapper
		@apply mt-24 mb-32
		@media screen and ( max-width:1024px)
			@apply my-10
			
	
.solution-detail-11,.solution-detail-12,.solution-detail-13
	@apply pt-16 pb-4
	.figure-image
		+img-ratio(110/100,contain)
	.container
		@media screen and ( min-width: 1280px)
			max-width: 790px !important
			

.solution-detail-13
	@apply pb-20
.solution-detail-14
	background: #4a4a4a
	@apply pt-16 pb-6
	@screen lg
		@apply pt-16 pb-8
	.head-title
		@apply text-white
	.row
		@m
		@apply justify-center
		.col
			@apply mb-6
			@screen lg
				@apply mb-12
.figure-partner
	.figure-image
		a
			+img-ratio(160/330,contain)
	.figcaption
		@apply text-center
		.title
			@apply text-28 text-white text-center inline-block my-4
			@media screen and ( max-width:767px)
				@apply text-20
				
		.caption
			@apply text-14 font-light text-white text-center
			*
				@apply text-14 font-light text-white text-center
.figure-product-seciton
	.figure-image
		@apply p-4
		a
			+img-ratio(150/280,contain)
	.figcaption
		h3
			a
				@apply text-20 block mb-3
				@screen lg
					@apply text-28
		.caption
			display: -webkit-box
			-webkit-line-clamp: 3
			-webkit-box-orient: vertical
			overflow: hidden
			height: 3.9375rem
		
.swiper-client-federations,.swiper-client-brands,.swiper-client-media
	.wrapper
		a
			@apply flex items-center justify-center
			img
				max-width: 100%
				height: auto
				max-height: 200px
			@media screen and ( max-width: 1024px)
				img
					max-height: 150px

			