section.solution-detail-1
	.container
		.head-title.text-center Chúng tôi giúp được gì cho bạn ?
		.zone-description  Tương lai của phẫu thuật bắt đầu với một OR kỹ thuật số. Và chúng ta có thể biến tầm nhìn đó thành hiện thực. Chúng tôi cung cấp các giải pháp thay đổi quy trình hình ảnh trong các bệnh viện - mang lại hiệu quả cao hơn, sau đó củng cố các tiêu chuẩn chăm sóc bệnh nhân.
		.figure-media.video
			.figure-image
				.wrapper
					.play
						.play__icon
						video(playsinline="",loop='' )
							source(src='./img/sample.mp4', type='video/mp4')
section.sticky-solution-nav
	.container
		ul
			li
				a(href="#") HD live production
			li
				a(href="#") 4k lie production system
			li
				a(href="#") HD production enchancements
section.banner-text-over(setBackground='./img/health/1.png')
	.container-fluid
		.image-wrapper
			img(src="./img/health/1.png", alt="")
		.container
			.head-title.text-center HD live production for stadium displays
			.zone-description 
				p Large-screen displays have come to play an essential role in generating excitement throughout sports stadiums around the world.
				p  From presenting powerful scenes in real time on large stadium screens, to relaying images to stadium monitors, providing on-demand streaming of recorded content to teams’ mobile sites, and supplying subscription content to TV and other media enterprises, our live production systems deliver solutions for every sports stadium. 
				p We can also help you design and implement new services for viewers, and open up new business opportunities.
	
section.solution-detail-3
	.container
		.head-title.text-center Systme configuration
		.zone-description.text-center HD live production configuratiuon for sport stadiums
		.image-wrapper
			img(src="./img/solution/1.png", alt="")
section.solution-detail-4
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.head-title NUCLeUS ™ hợp lý hóa quy trình làm việc của phòng điều hành tại
				.zone-description Nền tảng chia sẻ hình ảnh qua video của Sony Sony tiết kiệm thời gian cho nhân viên OR bận rộn và cho phép chia sẻ nội dung video phẫu thuật hiệu quả hơn tại bệnh viện Hà Lan.
				.button-wrapper-left
					a(href="#").btn.btn-view-more.blue
						span Tim hiểu thêm >
			.col.w-full(class='lg:w-1/2')
				.image-wrapper.opacity
					img(src="./img/health/7.png", alt="")
section.link-banner.solution-detail-banner
	.container
		h2.title Liên lạc với chúng tôi để biết thêm thông tin
		.button-wrapper-center
			a(href="#").btn.btn-primary.yellow
				span Lien he
section.solution-detail-5
	.container
		.head-title.text-center Support your workfkiw vision
		.zone-description Media Backbone Hive is the multi award-winning news production system that can streamline every broadcaster’s workflow – boosting efficiency and driving down operational costs, with the flexibility to respond profitably to fresh opportunities. Supporting all phases of your familiar news workflow – from acquisition and production through to delivery and archive. Integrating with your current systems and processes, it’s readily scalable to support the most ambitious vision for tomorrow’s news.
		.figure-media.video
			.figure-image
				.wrapper
					.play
						.play__icon
						video(playsinline="",loop='' )
							source(src='./img/sample.mp4', type='video/mp4')
section.section-card-product.four-item-section
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/health/1.png", alt="")
			.col.w-full(class='lg:w-1/2')
				.head-title NUCLEAS biến đổi phòng điều hành thông thường
				.zone-description NUCLeUS là nền tảng phát triển  video-over-IP của chúng tôi, giúp thay đổi quy trình phẫu thuật tại các bệnh viện kết nối hiện nay. Linh hoạt và có thể mở rộng, NUCLeUS trao quyền cho các bác sĩ phẫu thuật và nhân viên lâm sàng lên kế hoạch, định tuyến, ghi lại và chia sẻ dữ liệu y tế - trong và ngoài OR.
				.button-wrapper-left
					a(href="#").btn.btn-view-more
						span Tìm hiểu thêm >
		.product-section-include
			.row
				
				-for(i=0;i<4;i++)
					.col.w-full(class='sm:w-1/2 lg:w-4/12')
						.col-match-height
							.figure-product-seciton
								.figure-image
									a(href="#")
										img(src="./img/solution/3.png", alt="")
								.figcaption
									h3
										a Máy quay video y tế 
									.caption Máy quay video y tế cho phẫu thuật vi mô
								.button-wrapper-center
									a(href="#").btn.btn-view-more 
										span Tìm hiểu thêm >
		//- .product-section-include
		//- 	.swiper-container
		//- 		.swiper-wrapper
		//- 			-for(i=0;i<4;i++)
		//- 				.swiper-slide
		//- 					.figure-product-seciton
		//- 						.figure-image
		//- 							a(href="#")
		//- 								img(src="./img/solution/3.png", alt="")
		//- 						.figcaption
		//- 							h3
		//- 								a Máy quay video y tế 
		//- 							.caption Máy quay video y tế cho phẫu thuật vi mô
		//- 						.button-wrapper-center
		//- 							a(href="#").btn.btn-view-more 
		//- 								span Tìm hiểu thêm >
section.section-card-product.three-item-section.reserve-section
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/health/1.png", alt="")
			.col.w-full(class='lg:w-1/2')
				.head-title NUCLEAS biến đổi phòng điều hành thông thường
				.zone-description NUCLeUS là nền tảng phát triển  video-over-IP của chúng tôi, giúp thay đổi quy trình phẫu thuật tại các bệnh viện kết nối hiện nay. Linh hoạt và có thể mở rộng, NUCLeUS trao quyền cho các bác sĩ phẫu thuật và nhân viên lâm sàng lên kế hoạch, định tuyến, ghi lại và chia sẻ dữ liệu y tế - trong và ngoài OR.
				.button-wrapper-left
					a(href="#").btn.btn-view-more
						span Tìm hiểu thêm >
		.product-section-include
			.row
				-for(i=0;i<4;i++)
					.col.w-full(class='sm:w-1/2 lg:w-4/12')
						.col-match-height
							.figure-product-seciton
								.figure-image
									a(href="#")
										img(src="./img/solution/3.png", alt="")
								.figcaption
									h3
										a Máy quay video y tế 
									.caption Máy quay video y tế cho phẫu thuật vi mô
								.button-wrapper-center
									a(href="#").btn.btn-view-more 
										span Tìm hiểu thêm >
		//- .product-section-include
		//- 	.swiper-container
		//- 		.swiper-wrapper
		//- 			-for(i=0;i<4;i++)
		//- 				.swiper-slide
		//- 					.figure-product-seciton
		//- 						.figure-image
		//- 							a(href="#")
		//- 								img(src="./img/solution/3.png", alt="")
		//- 						.figcaption
		//- 							h3
		//- 								a Máy quay video y tế 
		//- 							.caption Máy quay video y tế cho phẫu thuật vi mô
		//- 						.button-wrapper-center
		//- 							a(href="#").btn.btn-view-more 
		//- 								span Tìm hiểu thêm >
section.section-card-product.four-item-section
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/health/1.png", alt="")
			.col.w-full(class='lg:w-1/2')
				.head-title NUCLEAS biến đổi phòng điều hành thông thường
				.zone-description NUCLeUS là nền tảng phát triển  video-over-IP của chúng tôi, giúp thay đổi quy trình phẫu thuật tại các bệnh viện kết nối hiện nay. Linh hoạt và có thể mở rộng, NUCLeUS trao quyền cho các bác sĩ phẫu thuật và nhân viên lâm sàng lên kế hoạch, định tuyến, ghi lại và chia sẻ dữ liệu y tế - trong và ngoài OR.
				.button-wrapper-left
					a(href="#").btn.btn-view-more
						span Tìm hiểu thêm >
		.product-section-include
			.row
				-for(i=0;i<4;i++)
					.col.w-full(class='sm:w-1/2 lg:w-4/12')
						.col-match-height
							.figure-product-seciton
								.figure-image
									a(href="#")
										img(src="./img/solution/3.png", alt="")
								.figcaption
									h3
										a Đầu ghi y tế
								.button-wrapper-center
									a(href="#").btn.btn-view-more 
										span Tìm hiểu thêm >
section.section-card-product.four-item-section
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/health/1.png", alt="")
			.col.w-full(class='lg:w-1/2')
				.head-title NUCLEAS biến đổi phòng điều hành thông thường
				.zone-description NUCLeUS là nền tảng phát triển  video-over-IP của chúng tôi, giúp thay đổi quy trình phẫu thuật tại các bệnh viện kết nối hiện nay. Linh hoạt và có thể mở rộng, NUCLeUS trao quyền cho các bác sĩ phẫu thuật và nhân viên lâm sàng lên kế hoạch, định tuyến, ghi lại và chia sẻ dữ liệu y tế - trong và ngoài OR.
				.button-wrapper-left
					a(href="#").btn.btn-view-more
						span Tìm hiểu thêm >
		.product-section-include
			.row
				-for(i=0;i<4;i++)
					.col.w-full(class='sm:w-1/2 lg:w-3/12')
						.col-match-height
							.figure-product-seciton
								.figure-image
									a(href="#")
										img(src="./img/solution/3.png", alt="")
								.figcaption
									h3
										a Máy quay video y tế 
									.caption Máy quay video y tế cho phẫu thuật vi mô
								.button-wrapper-center
									a(href="#").btn.btn-view-more 
										span Tìm hiểu thêm >
section.link-banner.solution-detail-banner
	.container
		h2.title Liên lạc với chúng tôi để biết thêm thông tin
		.button-wrapper-center
			a(href="#").btn.btn-primary.yellow
				span Lien he
section.solution-detail-6
	.container
		.head-title.text-left Technology 
			span(style='display:block') IP live production
		.zone-description  
			p Sony is actively developing IP-based approaches for professional video production, and has created a new Networked Media interface. This packetises video, audio, and metadata, enabling real-time transmission between equipment via standard network infrastructures.

			p This approach combines the latest IP network technologies with the current SDI standard interface for any resolution of video transmission. While conventional systems require multiple different types of cable to carry various signals (video, audio, reference, metadata, and control data), our new approach requires only a single standard network cable passing through conventional network switches.
			p Our new technology supports the direct connection of numerous types of production device onto the IP network. It also enables simultaneous transmission to multiple points and real-time noiseless source switching, handling SD, HD, and 4K video resolutions together.
		a.btn.btn-view-more 
			span Xem them
section.banner-text-over.text-bottom(setBackground='./img/solution/8.png')
	.container-fluid
		.image-wrapper
			img(src="./img/health/1.png", alt="")
		.container
			.head-title.text-center HD live production for stadium displays
			.zone-description 
				p Large-screen displays have come to play an essential role in generating excitement throughout sports stadiums around the world.
				p  From presenting powerful scenes in real time on large stadium screens, to relaying images to stadium monitors, providing on-demand streaming of recorded content to teams’ mobile sites, and supplying subscription content to TV and other media enterprises, our live production systems deliver solutions for every sports stadium. 
				p We can also help you design and implement new services for viewers, and open up new business opportunities.

section.solution-detail-7
	.container
		.head-title.text-center System configuration
		.zone-description
			p Large-screen displays have come to play an essential role in generating excitement throughout sports stadiums around the world.
			p  From presenting powerful scenes in real time on large stadium screens, to relaying images to stadium monitors, providing on-demand streaming of recorded content to teams’ mobile sites, and supplying subscription content to TV and other media enterprises, our live production systems deliver solutions for every sports stadium. 
			p We can also help you design and implement new services for viewers, and open up new business opportunities.

		.image-wrapper
			img(src="./img/solution/1.png", alt="")
section.solution-detail-8(setBackground='./img/health/3.png')
	.container
		.head-title.text-center Our expetise
		.row
			.col.w-full(class='sm:w-1/2 lg:w-4/12' )
				.figure-expertise
					.figure-image
						img(src="./img/icon/10.png", alt="")
					.figcaption
						h3 Technology
						.caption
							p To deliver the ultimate user experience , we use simple design and navigation to deliver content in the most clear and engaging way.
							ul
								li In house UI and UX expertise
								li Multi-platform design (responsive and native)
								li Creative solutions for sponsor activation
								li Content led design approach
			.col.w-full(class='sm:w-1/2 lg:w-4/12' )
				.figure-expertise
					.figure-image
						img(src="./img/icon/11.png", alt="")
					.figcaption
						h3 Technology
						.caption
							p To deliver the ultimate user experience , we use simple design and navigation to deliver content in the most clear and engaging way.
							ul
								li In house UI and UX expertise
								li Multi-platform design (responsive and native)
								li Creative solutions for sponsor activation
								li Content led design approach
			.col.w-full(class='sm:w-1/2 lg:w-4/12' )
				.figure-expertise
					.figure-image
						img(src="./img/icon/12.png", alt="")
					.figcaption
						h3 Technology
						.caption
							p To deliver the ultimate user experience , we use simple design and navigation to deliver content in the most clear and engaging way.
							ul
								li In house UI and UX expertise
								li Multi-platform design (responsive and native)
								li Creative solutions for sponsor activation
								li Content led design approach
			.col.w-full(class='sm:w-1/2 lg:w-4/12' )
				.figure-expertise
					.figure-image
						img(src="./img/icon/13.png", alt="")
					.figcaption
						h3 Technology
						.caption
							p To deliver the ultimate user experience , we use simple design and navigation to deliver content in the most clear and engaging way.
							ul
								li In house UI and UX expertise
								li Multi-platform design (responsive and native)
								li Creative solutions for sponsor activation
								li Content led design approach
			.col.w-full(class='sm:w-1/2 lg:w-4/12' )
				.figure-expertise
					.figure-image
						img(src="./img/icon/14.png", alt="")
					.figcaption
						h3 Technology
						.caption
							p To deliver the ultimate user experience , we use simple design and navigation to deliver content in the most clear and engaging way.
							ul
								li In house UI and UX expertise
								li Multi-platform design (responsive and native)
								li Creative solutions for sponsor activation
								li Content led design approach
	
section.solution-detail-9(setBackground='./img/health/4.png')
	.container
		.head-title.text-center Customer story: internation crijket council
		.zone-description 
			p Pulselive is the official digital partner of the International Cricket Council, responsible for all of their digital and mobile properties including the ICC Cricket World Cup.
			p “In today’s digital world, it’s essential for any sport’s governing body to embrace the opportunity that digital offers. As the ICC’s digital partner Pulselive is an extension to our team. Pulselive’s comprehensive knowledge of the industry combined with their pro-active approach, creative flair and technical ability enables the ICC to achieve its digital objectives. Pulselive are quick to accommodate our evolving requirements always putting the ICC’s interests first.”
			p Aarti Dabas, Head of Media Rights, Broadcast and Digital, ICC
		.image-wrapper
			img(src="./img/solution/9.png", alt="")
		.row
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.title-text Insight
				.caption  Pulselive works closely with the ICC and their commercial partners to create and deliver a digital and social strategy which fulfils their objective of ‘capitalising on digital to create value for the ICC and their stakeholders’. Our remit also extends to broadcast and in-venue integration and identifying and executing fan engagement opportunities across multiple touch points.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.title-text Insight
				.caption  Pulselive works closely with the ICC and their commercial partners to create and deliver a digital and social strategy which fulfils their objective of ‘capitalising on digital to create value for the ICC and their stakeholders’. Our remit also extends to broadcast and in-venue integration and identifying and executing fan engagement opportunities across multiple touch points.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.title-text Insight
				.caption  Pulselive works closely with the ICC and their commercial partners to create and deliver a digital and social strategy which fulfils their objective of ‘capitalising on digital to create value for the ICC and their stakeholders’. Our remit also extends to broadcast and in-venue integration and identifying and executing fan engagement opportunities across multiple touch points.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.title-text Insight
				.caption  Pulselive works closely with the ICC and their commercial partners to create and deliver a digital and social strategy which fulfils their objective of ‘capitalising on digital to create value for the ICC and their stakeholders’. Our remit also extends to broadcast and in-venue integration and identifying and executing fan engagement opportunities across multiple touch points.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.title-text Insight
				.caption  Pulselive works closely with the ICC and their commercial partners to create and deliver a digital and social strategy which fulfils their objective of ‘capitalising on digital to create value for the ICC and their stakeholders’. Our remit also extends to broadcast and in-venue integration and identifying and executing fan engagement opportunities across multiple touch points.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.title-text Insight
				.caption  Pulselive works closely with the ICC and their commercial partners to create and deliver a digital and social strategy which fulfils their objective of ‘capitalising on digital to create value for the ICC and their stakeholders’. Our remit also extends to broadcast and in-venue integration and identifying and executing fan engagement opportunities across multiple touch points.
	
section.solution-detail-11
	.container
		.head-title.text-center Client:  ferdetaion
		.swiper-client-federations
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<16;i++)
						.swiper-slide
							.wrapper
								a(href="#")
									img(src="./img/cars.jpg", alt="")
				
section.solution-detail-12
	.container
		.head-title.text-center Client: brands
		.swiper-client-brands
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/cars.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/cars.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/cars.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/cars.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/cars.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/cars.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/cars.jpg", alt="")
section.solution-detail-13
	.container
		.head-title.text-center Client: media
		.swiper-client-media
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/cars.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/cars.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/cars.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/cars.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/cars.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/cars.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/cars.jpg", alt="")
section.solution-detail-14
	.container
		.head-title.text-center Partner
		.row
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.figure-partner
					.figure-image
						a(href="#")
							img(src="./img/cars.jpg", alt="")
					.figcaption
						h3.title Hawk eye
						.caption Pulselive is the digital arm of Hawk-Eye innovations, helping t
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.figure-partner
					.figure-image
						a(href="#")
							img(src="./img/cars.jpg", alt="")
					.figcaption
						h3.title Hawk eye
						.caption Pulselive is the digital arm of Hawk-Eye innovations, helping t
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.figure-partner
					.figure-image
						a(href="#")
							img(src="./img/cars.jpg", alt="")
					.figcaption
						h3.title Hawk eye
						.caption Pulselive is the digital arm of Hawk-Eye innovations, helping t
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.figure-partner
					.figure-image
						a(href="#")
							img(src="./img/cars.jpg", alt="")
					.figcaption
						h3.title Hawk eye
						.caption Pulselive is the digital arm of Hawk-Eye innovations, helping t
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.figure-partner
					.figure-image
						a(href="#")
							img(src="./img/cars.jpg", alt="")
					.figcaption
						h3.title Hawk eye
						.caption Pulselive is the digital arm of Hawk-Eye innovations, helping t