$main-1: #2c3e50
$main-2: #35495e
$red: #e3352c
$blue: #0975d0
$gray: #666666
$grey-2: #4a4a4a
$azure-1: #e1f0f5
$azure-2: #7ac3d3
$azure-3: #f3f6fb
$azure-4: #f1f9fb
$yellow: #ffd200
$smoky: #5d5c62
$iron: #E7E7E9
main
	overflow: hidden
	padding-top: 100px
	@media screen and ( max-width:1024px)
		padding-top: 60px
		@apply p-0
	
body
	//This cause fixed not working
	// transform: translateX(0px)
	transition: transform .3s ease
#wrapper
	@apply relative overflow-hidden
img[data-sizes="auto"]
	display: block
	width: 100%
img:not([src])
	visibility: hidden
.title
	@apply text-28 text-grey-2
	@media screen and ( max-width:1024px)
		@apply text-20
.section-caption
	.head-title,.title
		@apply text-32 text-grey-2
		*
			@apply text-grey-2 
	.zone-description
		@apply font-normal text-14
		*
			@apply  mb-3 leading-relaxed font-normal text-14
			@screen lg
				@apply mb-6
		@media screen and ( max-width:767px)
			@apply text-14 
			*
				@apply text-14 
		&.text-white
			*
				@apply text-white
.fa-exclamation-triangle
	font-size: 12px
	color: red
.select-arrow
	select
		-webkit-appearance: none
		-moz-appearance: none
		background: url('../img/icon/chevron.png') no-repeat calc(100% - 15px) #ffffff !important
		background-position: 95% 50%
.tab-item
	@apply hidden
	&.active
		@apply block
.note-text
	@apply text-14 italic
	*
		@apply text-14 italic