section.insight-display.insight-section
	.container
		.head-title.text-center Discorver the Director of Photo graphy
		.zone-description
			p Sony is showcasing a selection of Directors of Photography whom have chosen to film with Sony VENICE. Passionate how they capture and create visual content, they share why they have selected the cinema camera created by and for the cinematographer.
		.row
			
			.col.w-full(class='md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/10.png", alt="")
						.figcaption
							h3
								a(href="#") EDGE Technologies selects Crysal LED at land mark sustaninable buidding
							.button-wrapper-left
								a(href="#").btn.btn-view-more
									span Tìm hiểu thêm >
			.col.w-full(class='md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/11.png", alt="")
						.figcaption
							h3
								a(href="#") Discover the world's largest Cyrstal LED Display System
							.button-wrapper-left
								a(href="#").btn.btn-view-more
									span Tìm hiểu thêm >
			.col.w-full(class='md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/12.png", alt="")
						.figcaption
							h3
								a(href="#") Crystal LED dispaly tomorrow's mobile vision at NTT DOCOmO
							.button-wrapper-left
								a(href="#").btn.btn-view-more
									span Tìm hiểu thêm >
			
section.sticky-solution-nav
	.container
		ul
			li
				a(href="#insight-section-1") Câu chuyện chia sẻ.
			li
				a(href="#insight-section-2") Video
			li
				a(href="#insight-section-3") Mẹo
section.insight-display-2.section-text-white.insight-section.text-white
	.container
		.head-title.text-center Câu chuyện chia sẻ
		.row
			.col.w-full(class='md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/13.png", alt="")
						.figcaption
							h3
								a(href="#")
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/14.png", alt="")
						.figcaption
							h3
								a(href="#")
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/15.png", alt="")
						.figcaption
							h3
								a(href="#")
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/16.png", alt="")
						.figcaption
							h3
								a(href="#")
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/17.png", alt="")
						.figcaption
							h3
								a(href="#")
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/18.png", alt="")
						.figcaption
							h3
								a(href="#")
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
		.view-all-list-wrapper
			.head-title.text-center Xem tất cả danh sách
			.button-wrapper-center
				.btn-view-more
					span Xem tất cả
section.insight-display-3.insight-section
	.container
		.head-title.text-center Discover the Directorsof Photography
		.zone-description Sony is showcasing a selection of Directors of Photography whom have chosen to film with Sony VENICE. Passionate how they capture and create visual content, they share why they have selected the cinema camera created by and for the cinematographer.
		.row
			.col.w-full(class='sm:w-1/2 md:w-4/12 lg:w-3/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/profile-01.png", alt="")
						.figcaption
							h3
								a(href="#") Christopher Aoun
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12 lg:w-3/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/m-.png", alt="")
						.figcaption
							h3
								a(href="#") Tierrry Argobast
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12 lg:w-3/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/profile-2.png", alt="")
						.figcaption
							h3
								a(href="#") Eric Guichard
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12 lg:w-3/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/profile-3.png", alt="")
						.figcaption
							h3
								a(href="#") Alfonso Para
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12 lg:w-3/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/profile-7.png", alt="")
						.figcaption
							h3
								a(href="#") Dante Spinotti
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12 lg:w-3/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/profile-4.png", alt="")
						.figcaption
							h3
								a(href="#") Micahl Sobocinbsku
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12 lg:w-3/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/profile-5.png", alt="")
						.figcaption
							h3
								a(href="#") Marher Maleh
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12 lg:w-3/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/profile-6.png", alt="")
						.figcaption
							h3
								a(href="#") Denislenoir
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12 lg:w-3/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/profile-9.png", alt="")
						.figcaption
							h3
								a(href="#") Pascal Larriffoul
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12 lg:w-3/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/m-0.png", alt="")
						.figcaption
							h3
								a(href="#") Pawell Dyllus
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12 lg:w-3/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/profile-9.png", alt="")
						.figcaption
							h3
								a(href="#") Alfonso Parra
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12 lg:w-3/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/profile-0.png", alt="")
						.figcaption
							h3
								a(href="#") Future DoP
						.caption.my-4.text-center
							p.text-center Cominbg soon
section.insight-display-4.insight-section
	.container
		.head-title.text-center Tatrot by Filip Zumbrunn
		.swiper-insight-video
			.nav-arrow-prev
				span.lnr.lnr-chevron-left
			.nav-arrow-next
				span.lnr.lnr-chevron-right
			.swiper-pagination
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							.figure-media.video
								.figure-image
									.wrapper
										.play
											.play__icon
											video(playsinline="",loop='' )
												source(src='./img/sample.mp4', type='video/mp4')
					.swiper-slide
						.wrapper
							.figure-media.video
								.figure-image
									.wrapper
										.play
											.play__icon
											video(playsinline="",loop='' )
												source(src='./img/sample.mp4', type='video/mp4')
					.swiper-slide
						.wrapper
							.figure-media.video
								.figure-image
									.wrapper
										.play
											.play__icon
											video(playsinline="",loop='' )
												source(src='./img/sample.mp4', type='video/mp4')
section.insight-display-6.insight-section
	.container
		.head-title.text-center Mẹo
		.row
			.col.w-full(class='sm:w-1/2 md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/m-1.png", alt="")
						.figcaption
							h3
								a(href="#") Kịch bản quay phim với Nicholas Takeyama
							.caption
								p Lời khuyễn về các phụ kiện thiết yếu và cách chụp ảnh chân dung và ảnh chụp sản phẩm
						.button-wrapper-left
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/m-2.png", alt="")
						.figcaption
							h3
								a(href="#") Mẹo quay video
							.caption
								p Mười video của Den Lennie bao gồm mọi thứ, từ những điều cơ bản tiếp xúc đến Biến ND.
						.button-wrapper-left
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/m-3.png", alt="")
						.figcaption
							h3
								a(href="#") Quay nội dung tuyệt vời chi Youtube
							.caption
								p Nhà làm phim Den Lennie mẹo cho kết quả điện ảnh mà không cần một đoàn làm phim lớn.
						.button-wrapper-left
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/m-4.png", alt="")
						.figcaption
							h3
								a(href="#") Lời khuyên cho quay phim cho video đám cuoo71i tốt hơn
							.caption
								p Kỹ thuật bắn súng của Philip White
						.button-wrapper-left
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/m-5.png", alt="")
						.figcaption
							h3
								a(href="#") Mẹo chụp ảnh FS5
							.caption
								p Phần một của lời khuyên máy quay chuyên gia Alister Chapman xônng
						.button-wrapper-left
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/m-6.png", alt="")
						.figcaption
							h3
								a(href="#") Mẹo chụp ảnh Raw của FS5
							.caption
								p Alister Chapman giải thích tại sao RAW là một vấn đề lớn đối với Sony 15 PXW-FS5
						.button-wrapper-left
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
	.view-all-list-wrapper
		.head-title.text-center Xem tất cả danh sách
		.button-wrapper-center
			a(href="").btn.btn-view-more
				span Xem tất cả >
section.insight-display-7.insight-section
	.container
		.head-title.text-center MOOC
		.row
			.col.w-full(class='sm:w-1/2 md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/m-7.png", alt="")
						.figcaption
							h3
								a(href="#") cyber Universiry of Korea boost student engagment with video
					
						.button-wrapper-left
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/m-8.png", alt="")
						.figcaption
							h3
								a(href="#") Advocaiting videoa as a tool for learning
					
						.button-wrapper-left
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
			.col.w-full(class='sm:w-1/2 md:w-4/12')
				.col-match-height
					.figure-insight
						.figure-image
							a(href="#")
								img(src="./img/insight/m-9.png", alt="")
						.figcaption
							h3
								a(href="#") big data as an asset to education instittions
					
						.button-wrapper-left
							a(href="#").btn.btn-view-more
								span Tìm hiểu thêm >
section.insight-display-8.insight-section.text-white
	.container
		.row
			.col.w-full(class='md:w-1/2')
				.head-title.text-left Venice
				.zone-description
					p VENICE features an all-new Full-Frame sensor with the classic 36 x 24mm dimensions that have been a staple of photography for over 100 years. Designed exclusively for high-end cinematography, this sensor can capture images up to a maximum resolution of 6048 x 4032.
					p Switchable imager modes mean VENICE can support an unprecedented number of cinematic aspect ratios for complete creative freedom.
				.button-wrapper-left
					a(href="#").btn.btn-view-more 
						span tìm hiểu thêm >
			.col.w-full(class='md:w-1/2')
				.image-wrapper
					img(src="./img/insight/9.png", alt="")
section.insight-display-9.insight-section
	.container
		.head-title.text-center Tatort by Filip Zumbrunn
		.sub-title.text-center Cystal LED dispaly tomorrow's mobile vision at NTT DOCOMO
		.swiper-insight-video
			.nav-arrow-prev
				span.lnr.lnr-chevron-left
			.nav-arrow-next
				span.lnr.lnr-chevron-right
			.swiper-pagination
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							.figure-media.video
								.figure-image
									.wrapper
										.play
											.play__icon
											video(playsinline="",loop='' )
												source(src='./img/sample.mp4', type='video/mp4')
					.swiper-slide
						.wrapper
							.figure-media.video
								.figure-image
									.wrapper
										.play
											.play__icon
											video(playsinline="",loop='' )
												source(src='./img/sample.mp4', type='video/mp4')
					.swiper-slide
						.wrapper
							.figure-media.video
								.figure-image
									.wrapper
										.play
											.play__icon
											video(playsinline="",loop='' )
												source(src='./img/sample.mp4', type='video/mp4')