<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->
  <templatedetail xsltname="About.xslt" name="Bài viết Giới thiệu "></templatedetail>
  <position>
    <add name="Trang chủ - Tin tức 1" value="1" resourcefile="" />
    <add name="Trang chủ - Tin tức 2" value="2" resourcefile="" />
    <add name="Tin tức" value="4" resourcefile="" />
  </position>
</templates>