.global-breadcrumb
	.container
		ol.breadcrumb
			li.breadcrumb-item
				a(href='#') Trang chủ
			li.breadcrumb-item
				a(href='#') Sản phẩm chuyên dụng
			li.breadcrumb-item
				a(href='#') Máy chiếu
			li.breadcrumb-item
				a(href='#') Máy chiếu gia đình HD
			li.breadcrumb-item
				a(href='#') WPL-HWE65ES Full HD 1,800lm Home cinema projector - Sony Pro
