section.about-display
	.container
		h1.head-title.text-center Về sony chuyên dụng 
		.caption
			p Tại Sony, chúng tôi đã có hơn 50 năm làm việc với những chuyên gia hàng đầu về công nghệ. Nhờ kinh nghiệm làm việc cùng nhau cùng mối quan hệ đối tác kinh doanh mạnh mẽ, chúng tôi không ngừng tìm hiểu nhu cầu và khó khăn các bạn đang gặp phải. Cùng với những công nghệ hiện đại và chuyên môn hàng đầu trên thị trường, chúng tôi phát triển những giải pháp được thiết kế riêng dành cho bạn, cho phép các cá nhân từ những ngành công nghiệp khác nhau đóng góp nhiều ý tưởng cho tương lai. Hợp tác và đổi mới chính là trái tim của Sony. Chúng tôi cam kết biến khát vọng của bạn trở thành hiện thực!
		.figure-media.video
			.figure-image
				.wrapper
					.play
						.play__icon
						video(playsinline="",loop='' )
							source(src='./img/sample.mp4', type='video/mp4')