section.news-display.home-news
	.container
		h2.head-title.text-center Tin tức & sự kiện
		.home-news-swiper
			.swiper-pagination
			.nav-arrow-prev
				span.lnr.lnr-chevron-left
			.nav-arrow-next
				span.lnr.lnr-chevron-right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							.figure-news
								.figure-image
									a(href="#")
										img(src="./img/news/1.png", alt="")
								.figcaption
									h2
										a(href="#") Đài phát thanh - Truyền hình Hà Tĩnh Vươn mình phát triển
									.caption
										p Mở rộng chương trình  phát sóng chu6a3n HD và bắt kịp sự phát triển
									a(href="#").btn.btn-view-more
										span Xem thêm >
										em.mdi.mdi-
					.swiper-slide
						.wrapper
							.figure-news
								.figure-image
									a(href="#")
										img(src="./img/news/2.png", alt="")
								.figcaption
									h2
										a(href="#") Đài phát thanh - Truyền hình Hà Tĩnh Vươn mình phát triển
									.caption
										p Mở rộng chương trình  phát sóng chu6a3n HD và bắt kịp sự phát triển
									a(href="#").btn.btn-view-more
										span Xem thêm >
										em.mdi.mdi-
					.swiper-slide
						.wrapper
							.figure-news
								.figure-image
									a(href="#")
										img(src="./img/news/3.png", alt="")
								.figcaption
									h2
										a(href="#") Đài phát thanh - Truyền hình Hà Tĩnh Vươn mình phát triển
									.caption
										p Mở rộng chương trình  phát sóng chu6a3n HD và bắt kịp sự phát triển
									a(href="#").btn.btn-view-more
										span Xem thêm >
										em.mdi.mdi-
					.swiper-slide
						.wrapper
							.figure-news
								.figure-image
									a(href="#")
										img(src="./img/news/4.png", alt="")
								.figcaption
									h2
										a(href="#") Đài phát thanh - Truyền hình Hà Tĩnh Vươn mình phát triển
									.caption
										p Mở rộng chương trình  phát sóng chu6a3n HD và bắt kịp sự phát triển
									a(href="#").btn.btn-view-more
										span Xem thêm >
										em.mdi.mdi-
					.swiper-slide
						.wrapper
							.figure-news
								.figure-image
									a(href="#")
										img(src="./img/news/5.png", alt="")
								.figcaption
									h2
										a(href="#") Đài phát thanh - Truyền hình Hà Tĩnh Vươn mình phát triển
									.caption
										p Mở rộng chương trình  phát sóng chu6a3n HD và bắt kịp sự phát triển
									a(href="#").btn.btn-view-more
										span Xem thêm >
										em.mdi.mdi-
					.swiper-slide
						.wrapper
							.figure-news
								.figure-image
									a(href="#")
										img(src="./img/news/1.png", alt="")
								.figcaption
									h2
										a(href="#") Đài phát thanh - Truyền hình Hà Tĩnh Vươn mình phát triển
									.caption
										p Mở rộng chương trình  phát sóng chu6a3n HD và bắt kịp sự phát triển
									a(href="#").btn.btn-view-more
										span Xem thêm >
										em.mdi.mdi-