section.contact-1
	.container
		.head-title Liên hệ
		.row
			.col(class="w-full md:w-1/2")
				.title-block
					p Công ty Sony Electronics Việt Nam - SEV
			.col(class="w-full md:w-1/2")
				.content-block
					p Trụ sở chính tại Tp. Hồ Chí Minh 
					p Tầng 7, Tòa nhà President Place
					p 93 Nguyễn Du, Q1. TPHCM, Tp.HCM
					p Phòng Tiếp thị - Giải pháp Chuyên dụng
					p Tel: 84 28 3822 2227
					p Fax: 84 28 3822 2230
		.row
			.col(class="w-full md:w-1/2")
				.title-block
					p Chi nhánh tại Hà Nội
					p Công ty Sony Electronics Việt Nam - SEV
			.col(class="w-full md:w-1/2")
				.content-block
					p Tầng 5A, Toà nhà BIDV, 194 đường Trần Quang Khải, Q. Hoàn Kiếm, Hà Nội
					p Tel: 84 24 3974 2922
					p Fax: 84 24 3974 2846
		.row
			.col(class="w-full md:w-1/2")
				.title-block
					p Điện thoại
			.col(class="w-full md:w-1/2")
				.content-block
					p 1800 588 885 
						span (miễn phí)
					p 1900 561 561 
						span (cước phí 2000VND/phút)
		.row
			.col(class="w-full md:w-1/2")
				.title-block
					p Giờ làm việc
			.col(class="w-full md:w-1/2")
				.content-block
					p Thứ Hai - thứ Sáu: 08:00 - 21:00
					p Thứ Bảy - Chủ Nhật: 08:00 - 17:00
					p 
						span Không làm việc trong các ngày lễ và Tết Âm lịch

section.contact-2
	.container
		.section-title
			.head-title Thông tin của bạn
			p Vui lòng điền vào mẫu dưới đây và chúng tôi sẽ liên lạc lại với
		.form-contact(class="md:w-1/2 mx-auto")
			.wrap-form
				.form-group
					label Họ và tên *
					input(type="text")
				.form-group
					label Email *
					input(type="text")
				.form-group
					label Tên công ty *
					input(type="text")
				.form-group
					label Số điện thoại *
					input(type="text")
				.form-group
					label Quốc gia *
					select
						option(value="") Việt Nam
				.form-group
					label Nội dung *
					textarea(name="", cols="30", rows="10")
				.frm-btn
					input(type="submit", value="Gửi")