section.zone-display-section
	.container
		.row
			.col.w-full(class='md:w-1/2')
				.head-title Cinematography
				.caption  A masterful blend of art, technology, and craftsmanship, our Super 35mm cameras redefine cinematography now and for the future. Enhance your creative toolbox and discover the unlimited creative possibilities. 
				a.btn.btn-view-more
					span Tim hieu them
			.col.w-full(class='md:w-1/2')
				.image-wrapper.opacity
					a(href="#")
						img(src="./img/health/4.jpg", alt="")
section.zone-display-section.reserve-zone
	.container
		.row
			.col.w-full(class='md:w-1/2')
				.head-title Cinematography
				.caption  A masterful blend of art, technology, and craftsmanship, our Super 35mm cameras redefine cinematography now and for the future. Enhance your creative toolbox and discover the unlimited creative possibilities.
				a.btn.btn-view-more
					span Tim hieu them
			.col.w-full(class='md:w-1/2')
				.image-wrapper.opacity
					a(href="#")
						img(src="./img/health/4.jpg", alt="")
section.zone-display-section
	.container
		.row
			.col.w-full(class='md:w-1/2')
				.head-title Cinematography
				.caption  A masterful blend of art, technology, and craftsmanship, our Super 35mm cameras redefine cinematography now and for the future. Enhance your creative toolbox and discover the unlimited creative possibilities.
				a.btn.btn-view-more
					span Tim hieu them
			.col.w-full(class='md:w-1/2')
				.image-wrapper.opacity
					a(href="#")
						img(src="./img/health/4.jpg", alt="")
section.zone-display-section.reserve-zone
	.container
		.row
			.col.w-full(class='md:w-1/2')
				.head-title Cinematography
				.caption  A masterful blend of art, technology, and craftsmanship, our Super 35mm cameras redefine cinematography now and for the future. Enhance your creative toolbox and discover the unlimited creative possibilities.
				a.btn.btn-view-more
					span Tim hieu them
			.col.w-full(class='md:w-1/2')
				.image-wrapper.opacity
					a(href="#")
						img(src="./img/health/4.jpg", alt="")