section.benefits-display
	.container
		.head-title.text-center Benefit
		.zone-description Discover the benefit of shooting with CineAlta digital motion picture cameras
		.row
			-for(i=0;i<6;i++)
				.col.w-full(class='sm:w-1/2 lg:w-4/12')
					.figure-benefit
						.figure-image.zoom-in
							a(href="#")
								img(src="./img/health/8.jpg", alt="")
						.figcaption
							h3
								a(href="#") Spectacular images form HD to 8K
							.caption Các giải pháp của chúng tôi cách mạng hóa phòng điều hành thông thường và nâng hiệu quả của quỳ trình làm việc. Chuyên gia có thể chịp,xem ,chia sẻ và lưu trự hình ảnh $K từ mọi nơi mọi lúc