section.product-specialist.home-product
	.container
		h2.head-title.text-center Sản phẩm chuyên dụng
		.swiper-product-specialist
			.nav-arrow-prev
				span.lnr.lnr-chevron-left
			.nav-arrow-next
				span.lnr.lnr-chevron-right
			.swiper-pagination
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							.figure-product-home
								.figure-image
									a(href="#")
										img(src="./img/product/product-1.png", alt="")
								.figcaption
									h3
										a(href="#") Giám sát an ninh
									.caption
										p Máy quay video 4K mang lại lời thế cao cho doanh nghiệp của bạn
					.swiper-slide
						.wrapper
							.figure-product-home
								.figure-image
									a(href="#")
										img(src="./img/product/product-1.png", alt="")
								.figcaption
									h3
										a(href="#") Giám sát an ninh
									.caption
										p Máy quay video 4K mang lại lời thế cao cho doanh nghiệp của bạn
					.swiper-slide
						.wrapper
							.figure-product-home
								.figure-image
									a(href="#")
										img(src="./img/product/product-1.png", alt="")
								.figcaption
									h3
										a(href="#") Giám sát an ninh
									.caption
										p Máy quay video 4K mang lại lời thế cao cho doanh nghiệp của bạn
					.swiper-slide
						.wrapper
							.figure-product-home
								.figure-image
									a(href="#")
										img(src="./img/product/product-1.png", alt="")
								.figcaption
									h3
										a(href="#") Giám sát an ninh
									.caption
										p Máy quay video 4K mang lại lời thế cao cho doanh nghiệp của bạn
					.swiper-slide
						.wrapper
							.figure-product-home
								.figure-image
									a(href="#")
										img(src="./img/product/product-1.png", alt="")
								.figcaption
									h3
										a(href="#") Giám sát an ninh
									.caption
										p Máy quay video 4K mang lại lời thế cao cho doanh nghiệp của bạn
					.swiper-slide
						.wrapper
							.figure-product-home
								.figure-image
									a(href="#")
										img(src="./img/product/product-1.png", alt="")
								.figcaption
									h3
										a(href="#") Giám sát an ninh
									.caption
										p Máy quay video 4K mang lại lời thế cao cho doanh nghiệp của bạn
					.swiper-slide
						.wrapper
							.figure-product-home
								.figure-image
									a(href="#")
										img(src="./img/product/product-1.png", alt="")
								.figcaption
									h3
										a(href="#") Giám sát an ninh
									.caption
										p Máy quay video 4K mang lại lời thế cao cho doanh nghiệp của bạn
					.swiper-slide
						.wrapper
							.figure-product-home
								.figure-image
									a(href="#")
										img(src="./img/product/product-1.png", alt="")
								.figcaption
									h3
										a(href="#") Giám sát an ninh
									.caption
										p Máy quay video 4K mang lại lời thế cao cho doanh nghiệp của bạn
					.swiper-slide
						.wrapper
							.figure-product-home
								.figure-image
									a(href="#")
										img(src="./img/product/product-1.png", alt="")
								.figcaption
									h3
										a(href="#") Giám sát an ninh
									.caption
										p Máy quay video 4K mang lại lời thế cao cho doanh nghiệp của bạn