section.product-detail
	.container
		.row.row-padding
			.col.w-full(class='lg:w-1/2')
				.product-information-wrapper
					.product-information
						h1 VPL -HW65ES
						.caption
							p Máy chiếu giải trí Full HD 3D home cinema, công nghệ tấm nền SXRD, Reality Creation, có 9 chế độ trình chiếu khác nhau đáp ứng linh hoạt cho mọi môi trường sử dụng.
					.button-wrapper
						a(href="#").btn.btn-primary
							span liên hệ
						a(href="#").btn.btn-primary.yellow
							span Shop online
						a(href="#").btn.btn-primary.yellow
							span nhà phân phối
			.col.w-full(class='lg:w-1/2')
				.product-image
					.wrapper
						img(src="./img/product/1.png", alt="#") 

section.product-detail-nav
	.container
		ul
			li
				a(href="#") Tổng quan 
			li
				a(href="#")  Tính năng
			li
				a(href="#") Thông số kỹ thuật
			li
				a(href="#") Tài liệu
			li
				a(href="#") Phụ kiện
section.product-sticky-scroll
	.container
		.product-header
			.title
				h2 VPL- Hw 65ES
			.button-wrapper
				a(href="#").btn.btn-primary
					span liên hệ
				a(href="#").btn.btn-primary.yellow
					span Shop online
				a(href="#").btn.btn-primary.yellow
					span nhà phân phối
		.product-detail-nav
			.container
				ul
					li
						a(href="#") Tổng quan
					li
						a(href="#") Tính năng
					li
						a(href="#") Thông số kỹ thuật
					li
						a(href="#") Tài liệu
					li
						a(href="#") Phụ kiện
section.product-detail-image
	.container
		h2.head-title Hình ảnh
		.swiper-product-detail
			.nav-arrow-prev
				span.lnr.lnr-chevron-left
			.nav-arrow-next
				span.lnr.lnr-chevron-right
			.swiper-pagination
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/product/7.png", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/product/8.png", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/product/7.png", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/product/7.png", alt="")

section.product-detail-summary#product-section-1
	.container
		.row
			.col.w-full(class=' lg:w-2/12')
				.head-title Tổng quan
			.col.w-full(class=' lg:w-10/12')
				.caption-text
					strong Cảm nhận điện ảnh tuyệt vời tại nhà
					.text
						p Máy chiếu VPL-HW65ES là lựa chọn thú vị cho những người mê phim ảnh và thích xem tại nhà. Với các công nghệ tiên tiến nhất của Sony như bộ tái tạo ảnh Reality Creation và tấm nền cao cấp SXRD sẽ mang đến chất lượng ảnh sắc xảo và trong trẻo.
						p Độ sáng màu 1,800 lumen và độ tương phản 120.000:1, bạn có thể tận hưởng những thước phim ưa thích theo cách riêng của mình trong 3D hoặc 2D. Ngoài ra, một số chế độ cho phép tăng cường hiển thị trong môi trường trình chiếu không thật sự tối như là Bright Cinema và Bright TV giúp vẫn duy trì tối ưu độ sáng và chất lượng màu của hình ảnh.
section.product-detail-option#product-section-2
	.container
		.row
			.col.w-full(class=' lg:w-2/12')
				.head-title Tính năng 
			.col.w-full(class=' lg:w-10/12')
				.row-wrapper-cards
					.column
						.cards
							.title Hình ảnh Full HD ngoạn mục với thực tế sáng tạo
							.caption Công nghệ bảng điều khiển SXRD tiên tiến được kết hợp với Thực tế sáng tạo - Công nghệ xử lý Siêu phân giải của Sony tinh chỉnh các chi tiết, màu sắc và kết cấu tinh tế. Bạn sẽ thấy sự khác biệt với hình ảnh Full HD sắc nét, sắc nét đưa bạn đến gần hơn với nguồn 1080p gốc.
					
						.cards
							.title Hình ảnh Full HD ngoạn mục với thực tế sáng tạo
							.caption Công nghệ bảng điều khiển SXRD tiên tiến ll HD sắc nét, sắc nét đưa bạn đến gần hơn với nguồn 1080p gốc.
					
						.cards
							.title Hình ảnh Full HD ngoạn mục với thực tế sáng tạo
							.caption Công nghll HD sắc nét, sắc nét đưa bạn đến gần hơn với nguồn 1080p gốc.
					
						.cards
							.title Hình ảnh Full HD ngoạn mục với thực tế sáng tạo
							.caption Công nghệ bảng điều khiển SXRD tiên tiến được kết hợp với Thực tế sáng tạo - Công nghệ xử lý Siêu phân giải của Sony tinh chỉnh các chi tiết, màu sắc và kết cấu tinh tế. Bạn sẽ thấy sự khác biệt với hình ảnh Full HD sắc nét, sắc nét đưa bạn đến gần hơn với nguồn 1080p gốc.
					.column
						.cards
							.title Hình ảnh Full HD ngoạn mục với thực tế sáng tạo
							.caption Công nghệ bảng điều khiển SXRD tiên tiến được kết hợp với Thực tế sáng tạo - Công nghệ xử lý Siêu phân giải của Sony tinh chỉ
					
						.cards
							.title Hình ảnh Full HD ngoạn mục với thực tế sáng tạo
							.caption Công nghệ bảng điều khiển SXRD tiên tiến được sắc và kết cấu tinh tế. Bạn sẽ thấy sự khác biệt với hình ảnh Full HD sắc nét, sắc nét đưa bạn đến gần hơn với nguồn 1080p gốc.
						.cards
							.title Hình ảnh Full HD ngoạn mục với thực tế sáng tạo
							.caption Công nghệ bảng điều khiển SXRD tiên tiến được k 
section.product-detail-specification#product-section-3
	.container
	
		.row
			.col.w-full(class='lg:w-3/12')
				.head-title Thông số kỹ thuật
				.button-wrapper-right
					a(href="javascript:;").btn.btn-open-all
						span Xem tất cả 
						em.lnr.lnr-chevron-down
					a(href="javascript:;").btn.btn-close-all
						span Đóng tất cả
						em.lnr.lnr-chevron-up
			.col.w-full(class='lg:w-9/12')
				.toggle-wrapper
					.toggle-item
						.title
							span Hệ thống hiển thị
							em.lnr.lnr-chevron-down
						article
							.row
								.col.w-full(class='md:w-4/12')
									.title-text hệ thống hiểm thị
								.col.w-full(class='md:w-8/12')
									.caption SXRD panlel
					.toggle-item
						.title
							span Hệ thống hiển thị
							em.lnr.lnr-chevron-down
						article
							.row
								.col.w-full(class='md:w-4/12')
									.title-text hệ thống hiểm thị
								.col.w-full(class='md:w-8/12')
									.caption SXRD panlel


section.product-detail-document#product-section-4
	.container
		.head-title Tài liệu tải về
		.row
			.col.w-full(class='md:w-2/12')
				.document-image
					img(src="./img/icon/blue-1.png", alt="")
			.col.w-full(class='md:w-10/12')
				.figure-document
					.title Tài liệu markerting
					.caption
						p brochure máy chiếu gia đình 
						p brochure
		.row
			.col.w-full(class='md:w-2/12')
				.document-image
					img(src="./img/icon/blue-2.png", alt="")
			.col.w-full(class='md:w-10/12')
				.figure-document
					.title Tài liệu markerting
					.caption
						p brochure máy chiếu gia đình 
						p brochure
		.row
			.col.w-full(class='md:w-2/12')
				.document-image
					img(src="./img/icon/blue-3.png", alt="")
			.col.w-full(class='md:w-10/12')
				.figure-document
					.title Tài liệu markerting
					.caption
						p brochure máy chiếu gia đình 
						p brochure
		.row
			.col.w-full(class='md:w-2/12')
				.document-image
					img(src="./img/icon/blue-3.png", alt="")
			.col.w-full(class='md:w-10/12')
				.figure-document
					.title Hỗ trợ
					.wrapper
						.document-item
							.figure-image
								
								a(href="#")
									img(src="./img/icon/blue-3.png", alt="")
							.text-title Hướng dẫn kỹ thuật
						.document-item
							.figure-image
								
								a(href="#")
									img(src="./img/icon/blue-3.png", alt="")
							.text-title Hướng dẫn kỹ thuật
						.document-item
							.figure-image
								
								a(href="#")
									img(src="./img/icon/blue-3.png", alt="")
							.text-title Hướng dẫn kỹ thuật

section.product-detail-faq#product-section-5
	.container
		.row
			.col.w-full(class='md:w-3/12')
				.head-title hỏi đáp
			.col.w-full(class='md:w-9/12')
				.toggle-wrapper
					.toggle-item
						.title
							span Hệ thống hiển thị
							em.lnr.lnr-chevron-down
						article
							.caption Tuổi thọ bóng đèn của máy chiếu này lên đến 6,000 giờ (ở chế độ tiết kiệm), giúp bạn giảm chi phí rất nhiều.
					.toggle-item
						.title
							span Hệ thống hiển thị
							em.lnr.lnr-chevron-down
						article
							.caption Tuổi thọ bóng đèn của máy chiếu này lên đến 6,000 giờ (ở chế độ tiết kiệm), giúp bạn giảm chi phí rất nhiều.
section.product-detail-accessory#product-section-6
	.container
		.row
			.col.w-full(class='md:w-3/12')
				.head-title Phụ kiện
			.col.w-full(class='md:w-9/12')
				.swiper-product-accessory
					.swiper-pagination
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.figure-accessory
									.figure-image
										a(href="#")
											img(src="./img/product/4.png", alt="")
									.figcaption
										.title lmp - h210
										.caption Đèn thay thế cho máy chiếu tại nhà
							.swiper-slide
								.figure-accessory
									.figure-image
										a(href="#")
											img(src="./img/product/5.png", alt="")
									.figcaption
										.title lmp - h210
										.caption Đèn thay thế cho máy chiếu tại nhà
							.swiper-slide
								.figure-accessory
									.figure-image
										a(href="#")
											img(src="./img/product/6.png", alt="")
									.figcaption
										.title lmp - h210
										.caption Đèn thay thế cho máy chiếu tại nhà
							.swiper-slide
								.figure-accessory
									.figure-image
										a(href="#")
											img(src="./img/product/7.png", alt="")
									.figcaption
										.title lmp - h210
										.caption Đèn thay thế cho máy chiếu tại nhà
section.product-detail-news
	.container
		.head-title Bài viết liên quan
		.swiper-news-related
			.swiper-pagination
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.product-news-related
							.figure-image
								a(href="#")
									img(src="./img/news/1.png", alt="")
							.figcaption
								h2
									a(href="#") Làm phim EMo5 chup5 amj3 raw opw
								.caption Lời khuyện sáng tạo của chuyên gia và người mới bắt đầu
					.swiper-slide
						.product-news-related
							.figure-image
								a(href="#")
									img(src="./img/news/1.png", alt="")
							.figcaption
								h2
									a(href="#") Làm phim EMo5 chup5 amj3 raw opw
								.caption Lời khuyện sáng tạo của chuyên gia và người mới bắt đầu
					.swiper-slide
						.product-news-related
							.figure-image
								a(href="#")
									img(src="./img/news/1.png", alt="")
							.figcaption
								h2
									a(href="#") Làm phim EMo5 chup5 amj3 raw opw
								.caption Lời khuyện sáng tạo của chuyên gia và người mới bắt đầu
					.swiper-slide
						.product-news-related
							.figure-image
								a(href="#")
									img(src="./img/news/1.png", alt="")
							.figcaption
								h2
									a(href="#") Làm phim EMo5 chup5 amj3 raw opw
								.caption Lời khuyện sáng tạo của chuyên gia và người mới bắt đầu
					.swiper-slide
						.product-news-related
							.figure-image
								a(href="#")
									img(src="./img/news/1.png", alt="")
							.figcaption
								h2
									a(href="#") Làm phim EMo5 chup5 amj3 raw opw
								.caption Lời khuyện sáng tạo của chuyên gia và người mới bắt đầu
					.swiper-slide
						.product-news-related
							.figure-image
								a(href="#")
									img(src="./img/news/1.png", alt="")
							.figcaption
								h2
									a(href="#") Làm phim EMo5 chup5 amj3 raw opw
								.caption Lời khuyện sáng tạo của chuyên gia và người mới bắt đầu