.dealer-section
	@apply py-12
	@screen xl
		@apply py-18
	.hidden-label
		@apply h-0 opacity-0 pointer-events-none w-0 absolute
		font-size: 0
	.btn-searchmap
	.filter-map
		padding: 15px 30px
		background: #2c3e50
		.form-group
			+ .form-group
				margin-top: 10px
			select
				color: #ffffff
				font-size: 14px
				background: transparent
				width: 100%
				height: 40px
				border: 1px solid #a3abb2
				padding: 0 15px
				-webkit-appearance: none
				-moz-appearance: none
				background: url('../img/icon/chevron-down.png') no-repeat calc(100% - 15px)  #2c3e50 !important
				background-position: 95% 50%
	// .result-wrapper
	// 	position: relative
	.list-wrapper
		position: absolute
		width: 476px
		top: 20px
		bottom: 20px
		left: 20px
		background: #fff
		display: flex
		flex-direction: column
	#ajax_msg
		display: none !important
	.btn-searchmap
		height: 30px
		padding: 5px 30px
		background: #a3abb2
		border: 0
	.list-dealer
		background: #fff
		margin: 20px 0px 20px 10px
		padding: 16px
		flex: 1
		.icon
			background: url('../img/map-marker.png')
			background-repeat: no-repeat
			background-size: contain
			background-position: center
			width: 16px
			height: 14px
			@apply mt-1
	#list,.list
		margin-bottom: 0
		list-style: none
		overflow-y: auto
		padding-right: 0
		max-height: 400px
		> li
			cursor: pointer
			display: flex
			padding-right: 10px
			+ li
				margin-top: 30px
			address
				font-style: normal
				padding: 0 20px
				flex: 1
				p
					margin: 0
					line-height: 1.4
					color: #666666
					display: flex
					font-size: 12px
					+ p
						margin-top: 5px
					a
						color: #1b79a7
					&.name
						color: #2c3e50
						text-transform: uppercase
						font-weight: 600
						font-size: 14px
			.link
				width: 105px
				a
					display: flex
					align-items: center
					justify-content: center
					height: 30px
					width: 100%
					font-size: 12px
					color: #2c3e50
					font-weight: 500
					+ a
						margin-top: 10px
					&.view-map
						border: 1px solid #2c3e50
					&.view-web
						background: #ffd200
		&::-webkit-scrollbar
			width: 2px
			background: #2c3e50
		&::-webkit-scrollbar-thumb
			background: #ffd200
	#map,#map_canvas,.map,.map_canvas
		height: 692px
		img,iframe
			width: 100%
			height: 100%
		.map-inter
			height: 100%
			width: 100%
	#map_canvas
		display: none !important
	@media screen and ( max-width: 1025px )
		.list-wrapper
			position: static
			width: 100%
		#map,#map_canvas,.map,.map_canvas
			height: 500px
