section.dealer-section
	.container
		.result-wrapper
			#results
				.list-wrapper
					.filter-map
						.form-group
							select
								option(value="") TP. Hồ Chí Minh
								option(value="") Hà Nội
								option(value="") Đà Nẵng
						.form-group
							select
								option(value="") Quận 1
								option(value="") Quận 2
								option(value="") Quận 3
					.list-dealer
						ul#list
							li
								.icon
									img(src="./img/map-marker.png")
								address
									p.name COOP CỐNG QUỲNH
									p 159 - 161 - 163 Quang Trung, Phường 10, Quận Gò Vấp, TP.HCM
									p Tel: 0909 636 798
									p Fax: 028.35174877
									p 
										a(href="#") www.logico.com.vn
								.link
									a(href="#").view-map Xem bản đồ
									a(href="#").view-web Website
							li
								.icon
									img(src="./img/map-marker.png")
								address
									p.name COOP CỐNG QUỲNH
									p 159 - 161 - 163 Quang Trung, Phường 10, Quận Gò Vấp, TP.HCM
									p Tel: 0909 636 798
									p Fax: 028.35174877
									p 
										a(href="#") www.logico.com.vn
								.link
									a(href="#").view-map Xem bản đồ
									a(href="#").view-web Website
			#map
				#map_canvas
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.7659017035417!2d139.7683443155519!3d35.73197543479418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188dd7a6326dc5%3A0xf65346cbe7ecfe92!2zMi1jaMWNbWUtNDUgTmlzaGluaXBwb3JpLCBBcmFrYXdhIENpdHksIFTFjWt5xY0tdG8gMTE2LTAwMTMsIE5o4bqtdCBC4bqjbg!5e0!3m2!1svi!2s!4v1585118095595!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>