section.top-banner(data-anchor='home') 
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.container-fluid
					.wrapper
						a
							img(src="./img/banner/mobile.jpg", alt="")
					.container
						.caption
							span.title Chăm sóc suc khỏe
							span.text Từ tư vấn cho đến chăm sóc sau phẫu thuật, các giải pháp của chúng tôi hợp lý hóa hiệu quả hoạt động trong các bệnh viện ngày nay
			.swiper-slide
				.container-fluid
					.wrapper
						a
							img(src="./img/banner/banner-2.jpg", alt="")
					.container
						.caption
							span.title Chăm sóc suc khỏe
							span.text Từ tư vấn cho đến chăm sóc sau phẫu thuật, các giải pháp của chúng tôi hợp lý hóa hiệu quả hoạt động trong các bệnh viện ngày nay
			
			