<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
	<add name="Sản phẩm khuyến mãi trong ngày" value="1" resourcefile="" />
	<add name="Sản phẩm đặt trước" value="2" resourcefile="" />
  </position>

  <showoption name="Đang bán" value="1"  />
    <showoption name="Ngưng bán" value="2"  />

  <templatelist xsltname="Product-Specialist.xslt" name="Danh sách Sản phẩm Chuyên dụng" />

  <templatedetail xsltname="Product-Detail.xslt" name="Chi tiết sản phẩm" />
  <templatedetail xsltname="Product-Detail-Camera.xslt" name="Chi tiết sản phẩm - Camera" />
  <templatedetail xsltname="Product-Detail-Projector.xslt" name="Chi tiết sản phẩm - Projector" />
</templates>
