section.solution-detail-1
	.container
		.head-title.text-center Chung toi gip gi duoc cho ban
		.zone-description  Tương lai của phẫu thuật bắt đầu với một OR kỹ thuật số. Và chúng ta có thể biến tầm nhìn đó thành hiện thực. Chúng tôi cung cấp các giải pháp thay đổi quy trình hình ảnh trong các bệnh viện - mang lại hiệu quả cao hơn, sau đó củng cố các tiêu chuẩn chăm sóc bệnh nhân.
		.figure-media.video
			.figure-image
				.wrapper
					.play
						.play__icon
						video(playsinline="",loop='' )
							source(src='./img/sample.mp4', type='video/mp4')
section.sticky-solution-nav
	.container
		ul
			li
				a(href="#") HD live production
			li
				a(href="#") 4k lie production system
			li
				a(href="#") HD production enchancements
section.technology-detail-1
	.container
		.head-title.text-center Rõ nét gấp 4 lần Full HD
		.zone-description
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
	.image-wrapper
		img(src="./img/tech/2.png", alt="")
section.technology-detail-2
	.container
		.head-title.text-center what is HDR ? 

		.zone-description
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
	.row
		.col.w-full(class='lg:w-1/2')
			.image-wrapper
				img(src="./img/tech/3.png", alt="")
			.title SDR
			.caption Shadow detail is often lost and brighter sections can appear washed out or white-clipped.
		.col.w-full(class='lg:w-1/2')
			.image-wrapper
				img(src="./img/tech/4.png", alt="")
			.title HDR
			.caption Shadow detail is distinctive with accurate reproduction, while brighter details appear clearly without any white clipping.
	.row
		.text-center Simulation images
section.section-card-product.three-item-section.technology-detail-3
	.container
	
		.head-title NUCLEAS biến đổi phòng điều hành thông thường
		.zone-description NUCLeUS là nền tảng phát triển  video-over-IP của chúng tôi, giúp thay đổi quy trình phẫu thuật tại các bệnh viện kết nối hiện nay. Linh hoạt và có thể mở rộng, NUCLeUS trao quyền cho các bác sĩ phẫu thuật và nhân viên lâm sàng lên kế hoạch, định tuyến, ghi lại và chia sẻ dữ liệu y tế - trong và ngoài OR.
		.product-section-include
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.figure-product-seciton
								.figure-image
									a(href="#")
										img(src="./img/product/1.png", alt="")
								.figcaption
									h3
										a Máy quay video y tế 
section.technology-detail-4
	.cotnainer
		.head-title Rõ nét gấp 4 lần Full HD
		.row
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.figure-technology-detail
					.figure-image
						a(href="#")
							img(src="./img/tect/8.png", alt="")
					.figcaption
						h3.title Cảm biến Super 35mm 8k/4k Cmos hình ảnh ngoạn mục từ HD đến 8k
						.caption Cảm biến hình ảnh tiên tiến là trái tim của máy ảnh CineAlta 4K. F65 có cảm biến 8K, trong khi F55 và F5 có các loại cảm biến 4K khác nhau. Các cảm biến CMOS Super 35 mm 8K / 4K này mang đến hình ảnh độ phân giải 8K / 4K / QFHD / 2K / HD tuyệt vời với kết cấu cực kỳ tốt và khử răng cưa thấp. Ngay cả khi hậu kỳ và khả năng cung cấp ở mức 2K / HD, các cảm biến này cung cấp hình ảnh 2K / HD tuyệt đẹp, siêu mẫu mà máy ảnh HD thông thường có thể chạm vào.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.figure-technology-detail
					.figure-image
						a(href="#")
							img(src="./img/tect/8.png", alt="")
					.figcaption
						h3.title Cảm biến Super 35mm 8k/4k Cmos hình ảnh ngoạn mục từ HD đến 8k
						.caption Cảm biến hình ảnh tiên tiến là trái tim của máy ảnh CineAlta 4K. F65 có cảm biến 8K, trong khi F55 và F5 có các loại cảm biến 4K khác nhau. Các cảm biến CMOS Super 35 mm 8K / 4K này mang đến hình ảnh độ phân giải 8K / 4K / QFHD / 2K / HD tuyệt vời với kết cấu cực kỳ tốt và khử răng cưa thấp. Ngay cả khi hậu kỳ và khả năng cung cấp ở mức 2K / HD, các cảm biến này cung cấp hình ảnh 2K / HD tuyệt đẹp, siêu mẫu mà máy ảnh HD thông thường có thể chạm vào.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.figure-technology-detail
					.figure-image
						a(href="#")
							img(src="./img/tect/8.png", alt="")
					.figcaption
						h3.title Cảm biến Super 35mm 8k/4k Cmos hình ảnh ngoạn mục từ HD đến 8k
						.caption Cảm biến hình ảnh tiên tiến là trái tim của máy ảnh CineAlta 4K. F65 có cảm biến 8K, trong khi F55 và F5 có các loại cảm biến 4K khác nhau. Các cảm biến CMOS Super 35 mm 8K / 4K này mang đến hình ảnh độ phân giải 8K / 4K / QFHD / 2K / HD tuyệt vời với kết cấu cực kỳ tốt và khử răng cưa thấp. Ngay cả khi hậu kỳ và khả năng cung cấp ở mức 2K / HD, các cảm biến này cung cấp hình ảnh 2K / HD tuyệt đẹp, siêu mẫu mà máy ảnh HD thông thường có thể chạm vào.
section.technology-detail-2
	.container
		.head-title.text-center S log workflow

		.zone-description
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
	.row
		.col.w-full(class='lg:w-1/2')
			.image-wrapper
				img(src="./img/tech/3.png", alt="")
			.title Before (SLog/Sagamut)
		.col.w-full(class='lg:w-1/2')
			.image-wrapper
				img(src="./img/tech/4.png", alt="")
			.title HDR
section.technology-detail-5
	.container
		.head-title $k cho sản xuất trưc tiếo
		.zone-description
			p Bắt đầu với máy ảnh CineAlta 4K của chúng tôi, Sony đang tiếp tục phát triển các sản phẩm chính trong chuỗi sản xuất 4K. Từ chụp hình đến xem, hệ thống Live Production của chúng tôi có quy trình làm việc hiệu quả, trong khi định dạng XAVC độc quyền của chúng tôi cho phép nén và giải nén đáng tin cậy trên cả hai nền tảng 4K và HD.
			p Bắt đầu với máy ảnh CineAlta 4K của chúng tôi, Sony đang tiếp tục phát triển các sản phẩm chính trong chuỗi sản xuất 4K. Từ chụp hình đến xem, hệ thống Live Production của chúng tôi có quy trình làm việc hiệu quả, trong khi định dạng XAVC độc quyền của chúng tôi cho phép nén và giải nén đáng tin cậy trên cả hai nền tảng 4K và HD.
			p Bắt đầu với máy ảnh CineAlta 4K của chúng tôi, Sony đang tiếp tục phát triển các sản phẩm chính trong chuỗi sản xuất 4K. Từ chụp hình đến xem, hệ thống Live Production của chúng tôi có quy trình làm việc hiệu quả, trong khi định dạng XAVC độc quyền của chúng tôi cho phép nén và giải nén đáng tin cậy trên cả hai nền tảng 4K và HD.
section.technology-detail-6
	.container
		.head-title Cầu hình hệ thống
		.zone-description Công việc sản xuất 4k đột oha1
		.button-wrapper-center
			a(href="#").btn.btn-view-moer
				span download file PDF
section.banner-text-over(setBackground='./img/health/1.png')
	.container-fluid
		.image-wrapper
			img(src="./img/health/1.png", alt="")
		.container
			.head-title.text-center HD live production for stadium displays
			.zone-description 
				p Large-screen displays have come to play an essential role in generating excitement throughout sports stadiums around the world.
				p  From presenting powerful scenes in real time on large stadium screens, to relaying images to stadium monitors, providing on-demand streaming of recorded content to teams’ mobile sites, and supplying subscription content to TV and other media enterprises, our live production systems deliver solutions for every sports stadium. 
				p We can also help you design and implement new services for viewers, and open up new business opportunities.
section.technology-detail-2
	.container
		.head-title.text-center S log workflow

		.zone-description
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
	.row
		.col.w-full(class='lg:w-1/2')
			.image-wrapper
				img(src="./img/tech/3.png", alt="")
			.title Before (SLog/Sagamut)
		.col.w-full(class='lg:w-1/2')
			.image-wrapper
				img(src="./img/tech/4.png", alt="")
			.title HDR
section.technology-detail-2
	.container
		.head-title.text-center S log workflow

		.zone-description
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
	.row
		.col.w-full(class='lg:w-1/2')
			.image-wrapper
				img(src="./img/tech/3.png", alt="")
			.title Before (SLog/Sagamut)
		.col.w-full(class='lg:w-1/2')
			.image-wrapper
				img(src="./img/tech/4.png", alt="")
			.title HDR
section.technology-detail-1
	.container
		.head-title.text-center Ghhi lại mọi khoảnh khắc thú tvi5 với phầm mềm gheo1p 4k
		.zone-description
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
	.image-wrapper
		img(src="./img/tech/14.png", alt="")
section.solution-detail-3
	.container
		.head-title.text-center Systme configuration
		.zone-description HD live production configuratiuon for sport stadiums
		.image-wrapper
			img(src="./img/solution/1.png", alt="")
section.solution-detail-4
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.head-title NUCLeUS ™ hợp lý hóa quy trình làm việc của phòng điều hành tại
				.zone-description Nền tảng chia sẻ hình ảnh qua video của Sony Sony tiết kiệm thời gian cho nhân viên OR bận rộn và cho phép chia sẻ nội dung video phẫu thuật hiệu quả hơn tại bệnh viện Hà Lan.
				.button-wrapper-left
					a(href="#").btn.btn-view-more.blue
						span Tim hiểu thêm >
			.col.w-full(class='lg:w-1/2')
				.image-wrapper.opacity
					img(src="./img/solution/2.png", alt="")
section.link-banner.solution-detail-banner
	.container
		h2.title Liên lạc với chúng tôi để biết thêm thông tin
		.button-wrapper-center
			a(href="#").btn.btn-primary.yellow
				span Lien he
section.solution-detail-5
	.container
		.head-title.text-center Support your workfkiw vision
		.zone-description Media Backbone Hive is the multi award-winning news production system that can streamline every broadcaster’s workflow – boosting efficiency and driving down operational costs, with the flexibility to respond profitably to fresh opportunities. Supporting all phases of your familiar news workflow – from acquisition and production through to delivery and archive. Integrating with your current systems and processes, it’s readily scalable to support the most ambitious vision for tomorrow’s news.
		.figure-media.video
			.figure-image
				.wrapper
					.play
						.play__icon
						video(playsinline="",loop='' )
							source(src='./img/sample.mp4', type='video/mp4')

section.section-card-product.reserve-section.four-item-section
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/health/1.png", alt="")
			.col.w-full(class='lg:w-1/2')
				.head-title NUCLEAS biến đổi phòng điều hành thông thường
				.zone-description NUCLeUS là nền tảng phát triển  video-over-IP của chúng tôi, giúp thay đổi quy trình phẫu thuật tại các bệnh viện kết nối hiện nay. Linh hoạt và có thể mở rộng, NUCLeUS trao quyền cho các bác sĩ phẫu thuật và nhân viên lâm sàng lên kế hoạch, định tuyến, ghi lại và chia sẻ dữ liệu y tế - trong và ngoài OR.
				.button-wrapper-left
					a(href="#").btn.btn-view-more
						span Tìm hiểu thêm >
		.product-section-include
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.figure-product-seciton
								.figure-image
									a(href="#")
										img(src="./img/product/1.png", alt="")
								.figcaption
									h3
										a Máy quay video y tế cho phẫu thuật vi mô
									a(href="#").btn.btn-view-more 
										span Tìm hiểu thêm >
section.section-card-product.four-item-section
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/health/1.png", alt="")
			.col.w-full(class='lg:w-1/2')
				.head-title NUCLEAS biến đổi phòng điều hành thông thường
				.zone-description NUCLeUS là nền tảng phát triển  video-over-IP của chúng tôi, giúp thay đổi quy trình phẫu thuật tại các bệnh viện kết nối hiện nay. Linh hoạt và có thể mở rộng, NUCLeUS trao quyền cho các bác sĩ phẫu thuật và nhân viên lâm sàng lên kế hoạch, định tuyến, ghi lại và chia sẻ dữ liệu y tế - trong và ngoài OR.
				.button-wrapper-left
					a(href="#").btn.btn-view-more
						span Tìm hiểu thêm >
		.product-section-include
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.figure-product-seciton
								.figure-image
									a(href="#")
										img(src="./img/product/1.png", alt="")
								.figcaption
									h3
										a Máy quay video y tế 
									.caption Máy quay video y tế cho phẫu thuật vi mô
								.button-wrapper-center
									a(href="#").btn.btn-view-more 
										span Tìm hiểu thêm >
section.link-banner.solution-detail-banner
	.container
		h2.title Liên lạc với chúng tôi để biết thêm thông tin
		.button-wrapper-center
			a(href="#").btn.btn-primary.yellow
				span Lien he
section.solution-detail-6
	.container
		.head-title.text-left Technology IP live production
		.zone-description  
			p Sony is actively developing IP-based approaches for professional video production, and has created a new Networked Media interface. This packetises video, audio, and metadata, enabling real-time transmission between equipment via standard network infrastructures.

			p This approach combines the latest IP network technologies with the current SDI standard interface for any resolution of video transmission. While conventional systems require multiple different types of cable to carry various signals (video, audio, reference, metadata, and control data), our new approach requires only a single standard network cable passing through conventional network switches.
			p Our new technology supports the direct connection of numerous types of production device onto the IP network. It also enables simultaneous transmission to multiple points and real-time noiseless source switching, handling SD, HD, and 4K video resolutions together.
		a.btn.btn-view-more 
			span Xem them
section.banner-text-over.text-bottom(setBackground='./img/health/1.png')
	.container-fluid
		.image-wrapper
			img(src="./img/health/1.png", alt="")
		.container
			.head-title.text-center HD live production for stadium displays
			.zone-description 
				p Large-screen displays have come to play an essential role in generating excitement throughout sports stadiums around the world.
				p  From presenting powerful scenes in real time on large stadium screens, to relaying images to stadium monitors, providing on-demand streaming of recorded content to teams’ mobile sites, and supplying subscription content to TV and other media enterprises, our live production systems deliver solutions for every sports stadium. 
				p We can also help you design and implement new services for viewers, and open up new business opportunities.

section.solution-detail-7
	.container
		.head-title.text-center System configuration
		.zone-description
			p Large-screen displays have come to play an essential role in generating excitement throughout sports stadiums around the world.
			p  From presenting powerful scenes in real time on large stadium screens, to relaying images to stadium monitors, providing on-demand streaming of recorded content to teams’ mobile sites, and supplying subscription content to TV and other media enterprises, our live production systems deliver solutions for every sports stadium. 
			p We can also help you design and implement new services for viewers, and open up new business opportunities.

		.image-wrapper
			img(src="./img/solution/1.png", alt="")
section.solution-detail-8(setBackground='./img/health/3.png')
	.container
		.head-title.text-center Our expetise
		.row
			.col.w-full(class='sm:w-1/2 lg:w-4/12' )
				.figure-expertise
					.figure-image
						img(src="./img/icon/10.png", alt="")
					.figcaption
						h3 Technology
						.caption
							p To deliver the ultimate user experience , we use simple design and navigation to deliver content in the most clear and engaging way.
							ul
								li In house UI and UX expertise
								li Multi-platform design (responsive and native)
								li Creative solutions for sponsor activation
								li Content led design approach
			.col.w-full(class='sm:w-1/2 lg:w-4/12' )
				.figure-expertise
					.figure-image
						img(src="./img/icon/10.png", alt="")
					.figcaption
						h3 Technology
						.caption
							p To deliver the ultimate user experience , we use simple design and navigation to deliver content in the most clear and engaging way.
							ul
								li In house UI and UX expertise
								li Multi-platform design (responsive and native)
								li Creative solutions for sponsor activation
								li Content led design approach
			.col.w-full(class='sm:w-1/2 lg:w-4/12' )
				.figure-expertise
					.figure-image
						img(src="./img/icon/10.png", alt="")
					.figcaption
						h3 Technology
						.caption
							p To deliver the ultimate user experience , we use simple design and navigation to deliver content in the most clear and engaging way.
							ul
								li In house UI and UX expertise
								li Multi-platform design (responsive and native)
								li Creative solutions for sponsor activation
								li Content led design approach
			.col.w-full(class='sm:w-1/2 lg:w-4/12' )
				.figure-expertise
					.figure-image
						img(src="./img/icon/10.png", alt="")
					.figcaption
						h3 Technology
						.caption
							p To deliver the ultimate user experience , we use simple design and navigation to deliver content in the most clear and engaging way.
							ul
								li In house UI and UX expertise
								li Multi-platform design (responsive and native)
								li Creative solutions for sponsor activation
								li Content led design approach
			.col.w-full(class='sm:w-1/2 lg:w-4/12' )
				.figure-expertise
					.figure-image
						img(src="./img/icon/10.png", alt="")
					.figcaption
						h3 Technology
						.caption
							p To deliver the ultimate user experience , we use simple design and navigation to deliver content in the most clear and engaging way.
							ul
								li In house UI and UX expertise
								li Multi-platform design (responsive and native)
								li Creative solutions for sponsor activation
								li Content led design approach
	
section.solution-detail-9(setBackground='./img/health/4.png')
	.container
		.head-title.text-center Customer story: internation crijket council
		.zone-description 
			p Pulselive is the official digital partner of the International Cricket Council, responsible for all of their digital and mobile properties including the ICC Cricket World Cup.
			p “In today’s digital world, it’s essential for any sport’s governing body to embrace the opportunity that digital offers. As the ICC’s digital partner Pulselive is an extension to our team. Pulselive’s comprehensive knowledge of the industry combined with their pro-active approach, creative flair and technical ability enables the ICC to achieve its digital objectives. Pulselive are quick to accommodate our evolving requirements always putting the ICC’s interests first.”
			p Aarti Dabas, Head of Media Rights, Broadcast and Digital, ICC
		.image-wrapper
			img(src="./img/solution/9.png", alt="")
		.row
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.title Insight
				.caption  Pulselive works closely with the ICC and their commercial partners to create and deliver a digital and social strategy which fulfils their objective of ‘capitalising on digital to create value for the ICC and their stakeholders’. Our remit also extends to broadcast and in-venue integration and identifying and executing fan engagement opportunities across multiple touch points.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.title Insight
				.caption  Pulselive works closely with the ICC and their commercial partners to create and deliver a digital and social strategy which fulfils their objective of ‘capitalising on digital to create value for the ICC and their stakeholders’. Our remit also extends to broadcast and in-venue integration and identifying and executing fan engagement opportunities across multiple touch points.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.title Insight
				.caption  Pulselive works closely with the ICC and their commercial partners to create and deliver a digital and social strategy which fulfils their objective of ‘capitalising on digital to create value for the ICC and their stakeholders’. Our remit also extends to broadcast and in-venue integration and identifying and executing fan engagement opportunities across multiple touch points.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.title Insight
				.caption  Pulselive works closely with the ICC and their commercial partners to create and deliver a digital and social strategy which fulfils their objective of ‘capitalising on digital to create value for the ICC and their stakeholders’. Our remit also extends to broadcast and in-venue integration and identifying and executing fan engagement opportunities across multiple touch points.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.title Insight
				.caption  Pulselive works closely with the ICC and their commercial partners to create and deliver a digital and social strategy which fulfils their objective of ‘capitalising on digital to create value for the ICC and their stakeholders’. Our remit also extends to broadcast and in-venue integration and identifying and executing fan engagement opportunities across multiple touch points.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.title Insight
				.caption  Pulselive works closely with the ICC and their commercial partners to create and deliver a digital and social strategy which fulfils their objective of ‘capitalising on digital to create value for the ICC and their stakeholders’. Our remit also extends to broadcast and in-venue integration and identifying and executing fan engagement opportunities across multiple touch points.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.title Insight
				.caption  Pulselive works closely with the ICC and their commercial partners to create and deliver a digital and social strategy which fulfils their objective of ‘capitalising on digital to create value for the ICC and their stakeholders’. Our remit also extends to broadcast and in-venue integration and identifying and executing fan engagement opportunities across multiple touch points.
section.solution-detail-11
	.container
		.head-title.text-center CLietn ferdetaion
		.swiper-client-federations
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<16;i++)
						.swiper-slide
							.wrapper
								a(href="#")
									img(src="./img/health/13.jpg", alt="")
				
section.solution-detail-12
	.container
		.head-title.text-center CLietn brands
		.swiper-client-brands
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/health/13.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/health/13.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/health/13.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/health/13.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/health/13.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/health/13.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/health/13.jpg", alt="")
section.solution-detail-13
	.container
		.head-title.text-center CLietn media
		.swiper-client-media
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/health/13.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/health/13.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/health/13.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/health/13.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/health/13.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/health/13.jpg", alt="")
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/health/13.jpg", alt="")
section.solution-detail-14
	.container
		.head-title.text-center Partner
		.row
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.figure-partner
					.figure-image
						a(href="#")
							img(src="./img/health/13.jpg", alt="")
					.figcaption
						h3.title Hawk eye
						.caption Pulselive is the digital arm of Hawk-Eye innovations, helping t
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.figure-partner
					.figure-image
						a(href="#")
							img(src="./img/health/13.jpg", alt="")
					.figcaption
						h3.title Hawk eye
						.caption Pulselive is the digital arm of Hawk-Eye innovations, helping t
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.figure-partner
					.figure-image
						a(href="#")
							img(src="./img/health/13.jpg", alt="")
					.figcaption
						h3.title Hawk eye
						.caption Pulselive is the digital arm of Hawk-Eye innovations, helping t
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.figure-partner
					.figure-image
						a(href="#")
							img(src="./img/health/13.jpg", alt="")
					.figcaption
						h3.title Hawk eye
						.caption Pulselive is the digital arm of Hawk-Eye innovations, helping t
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.figure-partner
					.figure-image
						a(href="#")
							img(src="./img/health/13.jpg", alt="")
					.figcaption
						h3.title Hawk eye
						.caption Pulselive is the digital arm of Hawk-Eye innovations, helping t