section.technology-detail-head.section-caption
	.container
		.head-title.text-center Tổng quan
		.zone-description
			p Chi tiết hơn. Nhiều màu sắc hơn. Tương phản nhiều hơn. 4K thổi sức sống mới vào tất cả các hình ảnh của bạn với độ phân giải Full HD gấp bốn lần cho trải nghiệm xem hấp dẫn.
			p Từ phim và chương trình TV đến sản phẩm của công ty và video trực tuyến. Và từ chiếu rạp đến hình ảnh y tế tiên tiến, bảo mật video và nhiều hơn nữa. Thế giới của Sony 4K đưa bạn vượt ra ngoài định nghĩa, với những khả năng sáng tạo và thương mại mới thú vị.
			p Chúng tôi đã có các sản phẩm, tầm nhìn vô song và chuyên môn hàng đầu thế giới để hỗ trợ mọi khía cạnh của quy trình làm việc 4K của bạn, từ ống kính đến phòng khách. Tối đa hóa giá trị của tất cả nội dung của bạn - hôm nay và ngày mai - với công nghệ 4K từ Sony.
		.image-wrapper
			img(src="./img/tech/34.png", alt="")
		.figure-media.video
			.figure-image
				.wrapper
					.play
						.play__icon
						video(playsinline="",loop='' )
							source(src='./img/sample.mp4', type='video/mp4')
section.sticky-solution-nav
	.container
		ul
			li
				a(href="#technology-section-1") HD live production
			li
				a(href="#technology-section-2") 4k live production system
			li
				a(href="#technology-section-3") HD production enchancements
section.technology-detail-1
	.container
		.head-title.text-center Rõ nét gấp 4 lần Full HD
		.zone-description
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
			p 4K có nghĩa là nhiều pixel hơn. Và nhiều pixel hơn có nghĩa là chi tiết hơn. Với hơn 8 triệu pixel trong mỗi khung hình, 4K đưa khán giả vượt xa Độ phân giải cao, cho dù đó là độ phân giải 4096 x 2160 được ngành công nghiệp điện ảnh ưa chuộng hoặc tiêu chuẩn QFHD (3840 x 2160) được sử dụng cho truyền hình và tivi tiêu dùng.
			p Thu hút khán giả, phân biệt nội dung của bạn và tạo ra khả năng doanh thu  mới thú vị với Sony $k hôm nay và ngày mai
		.image-wrapper
			img(src="./img/tech/2.png", alt="")
section.technology-detail-2.section-caption
	.container
		.head-title.text-center What is HDR ? 
		.zone-description
			p HDR is a reflection of how we see the world every day. Our eyes are incredibly sensitive to light, allowing us to see highlight details in the sky while still being able to see in the shadows. And in darker environments we can see detail in virtually no light at all. HDR brings the power of the human eye to the broadcast workflow, allowing you to capture, transmit and display images faithfully.
		.row
			.col.w-full(class='md:w-1/2')
				.image-wrapper
					img(src="./img/tech/3.png", alt="")
				.title SDR
				.caption Shadow detail is often lost and brighter sections can appear washed out or white-clipped.
			.col.w-full(class='md:w-1/2')
				.image-wrapper
					img(src="./img/tech/4.png", alt="")
				.title HDR
				.caption Shadow detail is distinctive with accurate reproduction, while brighter details appear clearly without any white clipping.
		.row
			.explain-text
				p Simulation images
section.section-card-product.three-item-section.technology-detail-3.section-caption
	.container
		.head-title 4K cho sản xuất rạp chiếu phim
		.zone-description
			p Năm 2006, Sony ra mắt hệ thống chiếu phim kỹ thuật số 4K đầu tiên trên thế giới, tăng nhu cầu về nội dung số chất lượng cao với độ phân giải 4K. Và vào năm 2012, để củng cố bộ công cụ 4K của mình, chúng tôi đã giới thiệu 
				strong F65, 
				| máy ảnh kỹ thuật số CineAlta định nghĩa kỷ nguyên của chúng tôi. Ngoài 
				strong F65, 
				strong PMW-F55 
				| và 
				strong PMW-F5 
				|đã được ra mắt vào năm 2013 như là một phần của dòng máy ảnh CineAlta 4K mới.
			p

		.product-section-include
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.figure-product-seciton
								.figure-image
									a(href="#")
										img(src="./img/product/1.png", alt="")
								.figcaption
									h3
										a Máy quay video y tế 
									.caption
										p CineAlta premium 4k Camera
section.technology-detail-4
	.container
		.head-title.text-center Rõ nét gấp 4 lần Full HD
		.row
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.figure-technology-detail
					.figure-image
						a(href="#")
							img(src="./img/tech/8.png", alt="")
					.figcaption
						h3.title Cảm biến Super 35mm 8k/4k Cmos hình ảnh ngoạn mục từ HD đến 8k
						.caption Cảm biến hình ảnh tiên tiến là trái tim của máy ảnh CineAlta 4K. F65 có cảm biến 8K, trong khi F55 và F5 có các loại cảm biến 4K khác nhau. Các cảm biến CMOS Super 35 mm 8K / 4K này mang đến hình ảnh độ phân giải 8K / 4K / QFHD / 2K / HD tuyệt vời với kết cấu cực kỳ tốt và khử răng cưa thấp. Ngay cả khi hậu kỳ và khả năng cung cấp ở mức 2K / HD, các cảm biến này cung cấp hình ảnh 2K / HD tuyệt đẹp, siêu mẫu mà máy ảnh HD thông thường có thể chạm vào.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.figure-technology-detail
					.figure-image
						a(href="#")
							img(src="./img/tech/8.png", alt="")
					.figcaption
						h3.title Cảm biến Super 35mm 8k/4k Cmos hình ảnh ngoạn mục từ HD đến 8k
						.caption Cảm biến hình ảnh tiên tiến là trái tim của máy ảnh CineAlta 4K. F65 có cảm biến 8K, trong khi F55 và F5 có các loại cảm biến 4K khác nhau. Các cảm biến CMOS Super 35 mm 8K / 4K này mang đến hình ảnh độ phân giải 8K / 4K / QFHD / 2K / HD tuyệt vời với kết cấu cực kỳ tốt và khử răng cưa thấp. Ngay cả khi hậu kỳ và khả năng cung cấp ở mức 2K / HD, các cảm biến này cung cấp hình ảnh 2K / HD tuyệt đẹp, siêu mẫu mà máy ảnh HD thông thường có thể chạm vào.
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.figure-technology-detail
					.figure-image
						a(href="#")
							img(src="./img/tech/9.png", alt="")
					.figcaption
						h3.title Cảm biến Super 35mm 8k/4k Cmos hình ảnh ngoạn mục từ HD đến 8k
						.caption Cảm biến hình ảnh tiên tiến là trái tim của máy ảnh CineAlta 4K. F65 có cảm biến 8K, trong khi F55 và F5 có các loại cảm biến 4K khác nhau. Các cảm biến CMOS Super 35 mm 8K / 4K này mang đến hình ảnh độ phân giải 8K / 4K / QFHD / 2K / HD tuyệt vời với kết cấu cực kỳ tốt và khử răng cưa thấp. Ngay cả khi hậu kỳ và khả năng cung cấp ở mức 2K / HD, các cảm biến này cung cấp hình ảnh 2K / HD tuyệt đẹp, siêu mẫu mà máy ảnh HD thông thường có thể chạm vào.
section.technology-detail-2.bg-dark
	.container
		.head-title.text-center S log workflow

		.zone-description
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
			p Công nghệ  4K cung cấp cho người xem độ phân giải cao gấp 4 lần so với Full HD thông thường.  Dòng tivi được trang bị công nghệ 4K đang được xem là “hot” trong ngành công nghệ tivi hiện nay.
		.row
			.col.w-full(class='md:w-1/2')
				.image-wrapper
					img(src="./img/tech/10.png", alt="")
				.title Before (SLog/Sagamut)
			.col.w-full(class='md:w-1/2')
				.image-wrapper
					img(src="./img/tech/11.png", alt="")
				.title HDR
section.technology-detail-5(setBackground='./img/bg/tech-bg.jpg').section-caption
	.container
		.head-title.text-center#technology-section-2 4k cho sản xuất trưc tiếp
		.zone-description.text-white
			p Bắt đầu với máy ảnh CineAlta 4K của chúng tôi, Sony đang tiếp tục phát triển các sản phẩm chính trong chuỗi sản xuất 4K. Từ chụp hình đến xem, hệ thống Live Production của chúng tôi có quy trình làm việc hiệu quả, trong khi định dạng XAVC độc quyền của chúng tôi cho phép nén và giải nén đáng tin cậy trên cả hai nền tảng 4K và HD.
			p Bắt đầu với máy ảnh CineAlta 4K của chúng tôi, Sony đang tiếp tục phát triển các sản phẩm chính trong chuỗi sản xuất 4K. Từ chụp hình đến xem, hệ thống Live Production của chúng tôi có quy trình làm việc hiệu quả, trong khi định dạng XAVC độc quyền của chúng tôi cho phép nén và giải nén đáng tin cậy trên cả hai nền tảng 4K và HD.
			p Bắt đầu với máy ảnh CineAlta 4K của chúng tôi, Sony đang tiếp tục phát triển các sản phẩm chính trong chuỗi sản xuất 4K. Từ chụp hình đến xem, hệ thống Live Production của chúng tôi có quy trình làm việc hiệu quả, trong khi định dạng XAVC độc quyền của chúng tôi cho phép nén và giải nén đáng tin cậy trên cả hai nền tảng 4K và HD.
section.technology-detail-6
	.container
		.head-title.text-center Cầu hình hệ thống
		.zone-description Công việc sản xuất 4k đột phát
		.button-wrapper-center
			a(href="#").btn.btn-view-more
				span download file PDF >
section.banner-text-over#technology-section-1(setBackground='./img/tech/35.png')
	.container-fluid
		.image-wrapper
			img(src="./img/health/1.png", alt="")
		.container
			.head-title.text-center HD live production for stadium displays
			.zone-description 
				p Large-screen displays have come to play an essential role in generating excitement throughout sports stadiums around the world.
				p  From presenting powerful scenes in real time on large stadium screens, to relaying images to stadium monitors, providing on-demand streaming of recorded content to teams’ mobile sites, and supplying subscription content to TV and other media enterprises, our live production systems deliver solutions for every sports stadium. 
				p We can also help you design and implement new services for viewers, and open up new business opportunities.
section.technology-detail-2.normal-section
	.container
		.head-title.text-center Cắt bỏ HD cho hình ảnh rõ ràng
		.sub-title (Phần mềm ca9t1 bỏ HD SZC-20012 cho BPU-4000 hoặc BPU-4500)
		.zone-description
			p Cắt và phóng to cung cấp cho người xem một hình ảnh hoàn toàn rõ ràng. Hai chế độ cho phép cắt hình ảnh Full HD khỏi hình ảnh 4K trong thời gian thực - người dùng có thể chọn chế độ Thu phóng và Phối cảnh hoặc chế độ Đơn giản HD. Giữ máy ảnh ở một vị trí cố định, bất kỳ phần nào của hình ảnh được chụp có thể được cắt để cung cấp hình ảnh HD cận cảnh cho người xem như thể máy ảnh đã bị rỗ.
			p Một phần có thể được cắt ra trong khi thực hiện chuyển đổi phối cảnh, theo tiêu cự của ống kính ở chế độ Thu phóng và Phối cảnh. Hai phần có thể được cắt ra cùng một lúc trong chế độ Đơn giản HD.

section.technology-detail-2.normal-section
	.container
		.head-title.text-center Chế độ phóng to và phối cảnh

		
		.image-wrapper
			img(src="./img/tech/12.png", alt="")

section.technology-detail-2.normal-section
	.container
		.head-title.text-center Chế độ HD đơn giản
		.image-wrapper
			img(src="./img/tech/13.png", alt="")
section.technology-detail-1.normal-section
	.container
		.head-title.text-center Ghi lại mọi khoảnh khác thú vị với phần mềm ghép 4k
		.zone-description
			p Phần mềm cắt ghép Sony PWA-4KS có tầm nhìn rộng 8K × 2K cho toàn bộ lĩnh vực phủ sóng, giống như sân bóng đá, được quay bằng camera 4K kép. Bất kỳ khu vực nào trên chế độ xem tổng hợp đều cho phép trích xuất tối đa ba chế độ xem HD như thể chúng là hình ảnh bị cắt bỏ. Bằng cách bắn toàn bộ vùng phủ sóng, ở đó, không có cơ hội bỏ lỡ một khoảnh khắc nào của hành động.
		.image-wrapper
			img(src="./img/tech/14.png", alt="")
section.section-card-product.three-item-section.technology-detail-three
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.head-title HDR for live production
				.zone-description 
					p SR Live for HDR offers efficient live HDR production and enables simultaneous HDR and SDR production, giving video engineers the ability to adjust both HDR and SDR images simultaneously in a familiar HD SDR environment. SR Live for HDR allows videographers to preserve the look of their pictures, regardless of whichever HDR or SDR format is required for final distribution.
					p With the operation format in S-Log3 and BT.2020, our SR Live for HDR workflow provides higher grade image quality and flexible multi-purpose distribution format capability, including 4K HDR (PQ (ST 2084) and HLG), 4K SDR, HD HDR, and HD SDR.
					p And in addition to our S-Log3-based workflow, our system camera’s HDCU/BPU (Baseband Processor Unit) features an HLG Live output mode to support HLG end-to-end production.
				.button-wrapper-left
					a(href="#").btn.btn-view-more
						span Tìm hiểu thêm >
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/tech/15.png", alt="")
		
		.product-section-include
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.figure-product-seciton
								.figure-image
									a(href="#")
										img(src="./img/product/1.png", alt="")
								.figcaption
									h3
										a HDC-4800
									.caption The next level in live production shooting
								.button-wrapper-center
									a(href="#").btn.btn-view-more 
										span Tìm hiểu thêm >
section.section-card-product.four-item-section.technology-detail-four
	.container
		.row
			.col.w-full(class='lg:w-1/2')
				.figure-media.video
					.figure-image
						.wrapper
							.play
								.play__icon
								video(playsinline="",loop='' )
									source(src='./img/sample.mp4', type='video/mp4')
			.col.w-full(class='lg:w-1/2')
				.head-title HDR for events and coporate
				.zone-description
					p As the demand for HDR content increases, video professionals are taking more and more advantage of the higher luminance and wider colour gamut which HDR provides. But in addition to this, they need to deliver content quickly, without compromising on imaging expression and quality of content.
					p As a result, we now offer HDR capability on our entry level handheld camcorders, which feature Hybrid Log-Gamma (HLG) recording for easy file-based workflows, whilst achieving the image quality of HDR. This simple workflow enables the shooting, editing and viewing of HDR content in HLG without the need for additional colour grading, when using an HLG compatible display.
				.button-wrapper-left
					a(href="#").btn.btn-view-more
						span Tìm hiểu thêm >
		.product-section-include
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.figure-product-seciton
								.figure-image
									a(href="#")
										img(src="./img/product/1.png", alt="")
								.figcaption
									h3
										a PWX-FS5
									.caption Gradb and shoot with handld shuper 3S
								.button-wrapper-center
									a(href="#").btn.btn-view-more 
										span Tìm hiểu thêm >
section.technology-detail-qoutes
	.container
		.qoutes-text
			h2 Something really innovative will take place: for the first time ever in history we will see the live television broadcast of Papal ceremonies in Ultra HD with High Dynamic Range.
			
		.caption 
			p Dario Edoardo Vigano
			p Prefect of the Secretariat for Communications for the Holy See
section.link-banner.technology-detail-banner
	.container
		h2.head-title.text-center Discover more about ODA with our in-depth brochure and technical White Paper
		.button-wrapper-center
			a(href="#").btn.btn-primary.white
				span Download white paper
			a(href="#").btn.btn-primary.yellow
				span Download brochure
section.technology-detail-8
	.container
		.head-title.text-center Features and benefit
		.sub-title Accurate black reproduction
		.zone-description A key advantage of TRIMASTER™ EL technology from Sony is the fact that because of its self-emitting properties, each pixel can be turned completely off. No other display technology is able to offer this. Our solution is capable of reproducing accurate black with each individual pixel, enabling users to faithfully evaluate each picture image.
		.row
			.col.w-full(class='md:w-1/2')
				.image-wrapper
					img(src="./img/tech/16.png", alt="")
				.title lcd
			.col.w-full(class='md:w-1/2')
				.image-wrapper
					img(src="./img/tech/17.png", alt="")
				.title Trimaster EL
		.row.mt-6(class='lg:mt-10')
			.image-wrapper
				img(src="./img/tech/18.png", alt="")
section.technology-detail-9
	.container
		.sub-title Accurate Colour repoudction
		.zone-description Our Super Top Emission technology not only offers a wide colour gamut with its purity of the three primary colours, but also maintains this wide colour gamut throughout the entire luminance range.
		.row
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/tech/19.png", alt="")
				.title.my-4 LCD*
				.caption colour gamut images base on sony's test result
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/tech/20.png", alt="")
				.title.my-4 Trimaster EL
section.technology-detail-10
	.container
		.head-title.text-center Quick response with virtullay no motion blur
		.zone-description Because the OLED emitting layer inherently responds to any electrical current input, it emits light immediately. Our OLED grey-to-grey switching speed (measured in microseconds, μs) is much faster than that of LCDs (measured in milliseconds, ms).
		.row
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/tech/21.png", alt="")
				.title.my-4 LCD:Sony's test result
			
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/tech/22.png", alt="")
				.title.my-4 Trimaster EL: Simulated images
section.technology-detail-11
	.container
		.head-title.text-center Viewing angle innovation
		.zone-description
			p The TRIMASTER™ EL OLED panel offers an industry-leading viewing angle compared with other professional flat-panel monitors on the market.

			p This enables group monitoring – for example, video engineers or colourists can view the display properly from many different angles – and facilitates more efficient content creation activities.
		.row
			.col.w-full(class='md:w-4/12')
				.col-match-height
					.figure-view
						.image-wrapper
							img(src="./img/tech/23.png", alt="")
						.title Predecessor models
			.col.w-full(class='md:w-4/12')
				.col-match-height
					.figure-view
						.image-wrapper
							img(src="./img/tech/24.png", alt="")
						.title Front view
			.col.w-full(class='md:w-4/12')
				.col-match-height
					.figure-view
						.image-wrapper
							img(src="./img/tech/25.png", alt="")
						.title The new A-Series
section.product-section-zone.technology-reliability(setBackground='./img/tech/26.png')
	.container
		.row
			.col.w-full(class='md:w-1/2')
				.figure-caption
					.head-title.white Reliability
					.caption
						p You’re in this for the long term… and so is your data. With Optical Disc Archive, your organisation’s precious digital assets are safeguarded, now and in the future.
						p Optical Disc Archive builds on more than three decades of Sony’s advanced optical storage know-how. Forget failure-prone hard drives and obsolete tape technology. With rugged, reliable ODA your data is stored safely and securely, with a nominal 100-year media lifespan. With no physical contact between laser and disc surface, there’s no mechanical wear and tear to worry about. And unlike tape, there’s no need for the expense of environmentally controlled conditions – driving down opex even further.
			.col.w-full(class='md:w-1/2')
				.figure-media.video
					.figure-image
						.wrapper
							.play
								.play__icon
								video(playsinline="",loop='' )
									source(src='./img/sample.mp4', type='video/mp4')
section.product-section-zone.reserve-zone(setBackground='./img/tech/27.png')
	.container
		.row
			.col.w-full(class='md:w-1/2')
				.figure-caption
					.head-title.white Accessibility
					.caption
						p Your data’s most valuable when it’s truly accessible. With Optical Disc Archive it’s easy to find the files you need, whenever you need them.
						p Forget about slow, frustrating searches through tape back-ups. ODA offers true high-speed random access, just like you’re used to with a hard drive. Track down that document, or play out videos directly with no waiting around to restore data from tape. Let Optical Disc Archive accelerate your workflow, saving valuable time and cutting production costs.
				
			.col.w-full(class='md:w-1/2')
section.product-section-zone(setBackground='./img/tech/28.png')
	.container
		.row
			.col.w-full(class='md:w-1/2')
				.figure-caption
					.head-title.white High speed
					.caption
						p Time is money. Optical Disc Archive lets you store and retrieve your data faster than any tape can.
						p As files get bigger, latest-generation ODA boosts transfer speeds as high as 2Gbps, with storage capacity up to 3.3TB per cartridge. Unlike tape, super-fast read times mean you can play back media files directly from disc. And with less time spent waiting for snail-paced backup and restores, you can streamline workflow and focus on what matters to your business.
			.col.w-full(class='md:w-1/2')
section.product-section-zone.reserve-zone.techology-proof(setBackground='./img/tech/29.png')
	.container
		.row
			.col.w-full(class='md:w-1/2')
				.figure-caption
					.head-title.white Future proof
					.caption
						p There’s a complete family of future-proofed Optical Disc Archive solutions, from compact standalone desktop drives to large-scale robotic libraries.
						p Sony publishes a clear technology roadmap, pointing to further exciting advances in performance, storage capacity and transfer speeds. And the great news is that media you’ve written today will be compatible with tomorrow’s Optical Disc Archive hardware. So you can concentrate on building your business, without the headache of costly migration strategies.
				
			.col.w-full(class='md:w-1/2')
				.image-wrapper
					img(src="./img/tech/30.png", alt="")
	
section.technology-detail-12
	.container
		.head-title.text-center Full-Frame Professional Cameras from Sony
		.row
			.col.w-full(class='lg:w-1/2')
				.title VENICE digital cinematography camera
				.caption The VENICE camera is Sony’s first full-frame sensor high-end digital cinematography camera. It is unmatched in the Sony range for the wide array of recording formats it supports and features Dual Base ISO 500 / ISO 2500.
				
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/tech/32.png", alt="")
		.row.flex-row-reverse
			.col.w-full(class='lg:w-1/2')
				.title VENICE digital cinematography camera
				.caption
					p The FX9 features a full-frame 6K sensor with high quality recording in DCI 4K*, Ultra HD and HD resolutions. Powerful image processing with debayering and oversampling ensures image quality beyond the limits of conventional Super 35mm sensors. It is the world’s first full-frame camcorder with electronic variable ND, high Fast Hybrid AF and has Dual Base ISO 800 / ISO 4000.
					p *Future update is required.
				
			.col.w-full(class='lg:w-1/2')
				.image-wrapper
					img(src="./img/tech/31.png", alt="")

section.banner-text-normal(setBackground='./img/tech/33.png')
	.container
		.head-title.text-center Hgh Dynamic Range(HDR)
		.zone-description
			p 4K có nghĩa là nhiều hơn về pixel. Nội dung được chụp với High Dynamic Range (HDR) hay còn gọi là Dải tương phản động mở rộng sẽ kéo khán giả vào sâu hơn câu chuyện với độ tương phản ngoạn mục và phạm vi độ sáng được mở rộng đáng kể, từ các điểm nổi bật lấp lánh đến màu đen và chi tiết bóng tối rất chi tiết.
			p  Các đài truyền hình, nhà làm phim và người sáng tạo nội dung đang tận dụng các khả năng HDR của các công cụ sản xuất hiện nay. Khám phá nhiều ánh sáng hơn, nhiều bóng hơn và nhiều thứ khác ở giữa với Sony 4K, giống như đời thực.
			.button-wrapper-center
				a(href="#").btn.btn-view-more
					span Tìm hiểu thêm >
section.link-banner.solution-detail-banner
	.container
		h2.title Liên lạc với chúng tôi để biết thêm thông tin
		.button-wrapper-center
			a(href="#").btn.btn-primary.yellow
				span Lien he