section.healthcare-display-1
	.container
		.head-title.text-center Chúng  tôi giúp được gì cho bạn
		.zone-description Chúng tôi đã phát hành các công nghệ 4K, 4K 3D và IP mới nhất để chuyển đổi quy trình hình ảnh. Từ ngày nay, phòng điều hành kỹ thuật số thông minh đến phòng tư vấn và phòng giảng dạy, các giải pháp chăm sóc sức khỏe sáng tạo của chúng tôi tích hợp hoàn hảo với mạng lưới bệnh viện và quy trình làm việc hiện có.
section.healthcare-solution
	.container
		.head-title.text-center Khám phá giai3p háp của chúng tôi
		.row
			-for(i=0;i<6;i++)
				.col.w-full(class='sm:w-1/2 lg:w-4/12')
					.col-match-height
						.figure-healthcare
							.figure-image
								a(href="#")
									img(src="./img/news/1.png", alt="")
							.figcaption
								h3
									a(href="#") Phòng mổ
								.caption Các giải pháp quy trình làm việc tài liệu y tế của chúng tôi trao quyền cho các chuyên gia chăm sóc sức khỏe ghi lại, hiển thị và in hình ảnh y tế chất lượng cao - cho tư vấn bệnh nhân và mục đích đào tạo.
								.button-wrapper-center
									a(href="#").btn.btn-view-more.blue
										span Tìm hiểu thêm >
