section.top-banner-center(data-anchor='home') 
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.container-fluid
					.wrapper
						a
							img(src="./img/banner/mobile.jpg", alt="")
					.container
						.caption
							span.title Chăm sóc suc khỏe
							span.text Từ tư vấn cho đến chăm sóc sau phẫu thuật, các giải pháp của chúng tôi hợp lý hóa hiệu quả hoạt động trong các bệnh viện ngày nay
			.swiper-slide
				.container-fluid
					.wrapper
						a
							img(src="./img/banner/banner-2.jpg", alt="")
					.container
						.caption
							span.title Chăm sóc suc khỏe
							span.text Từ tư vấn cho đến chăm sóc sau phẫu thuật, các giải pháp của chúng tôi hợp lý hóa hiệu quả hoạt động trong các bệnh viện ngày nay
			
			
section.insight-detail-1.insight-detail-section
	.container
		.head-title.text-center Do it yourself: Tạo nên nội dung tuyệt vời cho YouTube của bạn
		.zone-description
			p Nhà làm phim, tác giả và nhà giáo dục Den Lennie sẽ chia sẻ kinh nghiệm của mình về vấn đề này. Hợp tác với Sony, anh ấy đã gặp gỡ các cộng đồng sáng tạo ở Châu Á và Úc trong một loạt các sự kiện bật lên Không gian YouTube. Dưới đây là những lời khuyên của Den khi sử dụng các máy ảnh như FS5 II để đạt được kết quả điện ảnh hiệu quả - mà không cần một đội ngũ lớn hỗ trợ bạn.
		.image-wrapper
			img(src="./img/insight-detail/1.png", alt="")
section.insight-detail-2.insight-detail-section
	.container
		.head-title.text-center How we help
		.row
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-insight-detail
						.figure-image
							a(href="#")
								img(src="./img/insight-detail/2.png", alt="")
						.figcaption
							.title The Challenge
							.caption
								ul
									li Dutch leader in sustainable intelligent buildings needed a spectacular canvas for the firm’s work at its HQ
									li Required technology partner to bring EDGE Technologies’ creative vision to life
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-insight-detail
						.figure-image
							a(href="#")
								img(src="./img/insight-detail/3.png", alt="")
						.figcaption
							.title The Solution
							.caption
								ul
									li Boardroom features 3.2m x 1.8m Crystal LED display with 2560 x 1440 resolution
									li BRAVIA 4K Professional Displays used for videoconferencing in meeting rooms and in public areas
			.col.w-full(class='sm:w-1/2 lg:w-4/12')
				.col-match-height
					.figure-insight-detail
						.figure-image
							a(href="#")
								img(src="./img/insight-detail/4.png", alt="")
						.figcaption
							.title The outcome
							.caption
								ul
									li Potential customers and other visitors can experience super-size visualisations of projects
									li Crisp, clear visuals with wide viewing angle and no visible gaps or bezels between individual display units
		.wrapper
			.figure-media.video
				.figure-image
					.wrapper
						.play
							.play__icon
							video(playsinline="",loop='' )
								source(src='./img/sample.mp4', type='video/mp4')
section.insight-detail-product-related.insight-detail-section
	.container
		.head-title.text-center Related products
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.figure-product-related-sample
						.figure-image
							a(href="#")
								img(src="./img/insight-detail/5.png", alt="")
						.figcaption
							h3
								a(href="#") ZRD-2
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tim hieu them
				.swiper-slide
					.figure-product-related-sample
						.figure-image
							a(href="#")
								img(src="./img/insight-detail/6.png", alt="")
						.figcaption
							h3
								a(href="#") ZRD-2
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tim hieu them
				.swiper-slide
					.figure-product-related-sample
						.figure-image
							a(href="#")
								img(src="./img/insight-detail/7.png", alt="")
						.figcaption
							h3
								a(href="#") ZRD-2
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tim hieu them
				.swiper-slide
					.figure-product-related-sample
						.figure-image
							a(href="#")
								img(src="./img/insight-detail/8.png", alt="")
						.figcaption
							h3
								a(href="#") ZRD-2
						.button-wrapper-center
							a(href="#").btn.btn-view-more
								span Tim hieu them
section.link-banner.insight-detail
	.container
		h2.title Liên lạc với chúng tôi để biết thêm thông tin
		.button-wrapper-center
			a(href="#").btn.btn-primary.yellow
				span Lien he
section.technology-detail-qoutes.insight-detail-section
	.container
		.qoutes-text
			h2 We knew immediately that Sony was the right technology partner to help bring our vision to life and that Crystal LED needed to be part of our flagship EDGE Olympic. It represents a whole new world for large scale displays - and with it we can set a new standard for immersive visual experiences. 
		.caption 
			p Eril Ubels
			p CTO, EDGE technologies
section.insight-detail-3.insight-detail-section
	.container
		.row
			.col.w-full(class='lg:w-1/2 ')
				.head-title.text-left Tập trung vào câu chuyện của bạn
				.zone-description Với YouTube - và các nền tảng khác như Instagram thì video đang ngày càng được yêu thích hơn, tất cả đều tạo ra nhiều nội dung hấp dẫn, nhanh chóng. Bạn có thể đăng những câu chuyện mới mỗi tuần hoặc mỗi ngày. Và bạn có thể di chuyển rất nhiều thời gian, thực hiện nội dung trong mọi điều kiện, như trong một quán cà phê tối, trên máy bay hoặc tàu hỏa, hoặc ở phía sau xe taxi. Vì vậy, bạn cẩn phải có một máy ảnh và quy trình làm việc hỗ trợ quá trình sáng tạo đó và cho phép bạn tập trung vào việc kể câu chuyện của mình. Tin tốt rằng thiết bị công nghệ chưa bao giờ rẻ hơn, nhanh hơn và dễ dàng hơn để lấy nội dung tuyệt vời và chia sẻ nó với khán giả trực tuyến của bạn.
			.col.w-full(class='lg:w-1/2 ')
				.image-wrapper
					img(src="./img/insight-detail/9.png", alt="")
section.insight-detail-text.insight-detail-section
	.container
		.head-title.text-left Đừng đánh giá thấp khản giả của bạn
		.zone-description Các nền tảng xã hội như YouTube là một phương tiện tuyệt vời mà Vượt lên cho tất cả mọi người - ngay cả những người trú ẩn trên nền tảng làm phim thông thường. YouTube có vẻ khá ’không chính thức so với phát sóng trên TV. Nhưng đừng đánh giá thấp khán giả của bạn. Người xem có hàng ngàn kênh để lựa chọn, và họ có thể rất đòi hỏi trong việc lựa chọn nội dung video giải trí. Họ hy vọng video của bạn sẽ được tập trung và có ánh sáng tốt và âm thanh tốt. Sony mang đến cho bạn một bộ kit giúp cho công việc của bạn trở nên dễ dàng hơn nhiều, ngay cả khi bạn làm việc một mình.
section.insight-detail-image
	.img-wrapper
		img(src="./img/insight-detail/10.png", alt="")
section.insight-detail-text.insight-detail-section
	.container
		.head-title.text-left hãy để máy quay làm việc của nó
		.zone-description 
			p Điều tuyệt vời của thiết bị ngày hôm nay là nó giúp bạn đạt được kết quả điện ảnh mà không cần mang theo quá nhiều thiết bị. Tôi luôn khuyên các nhà làm phim mới nên lưu trữ khoảnh khắc càng nhiều càng tốt trong máy quay của mình, thay vì lãng phí thời gian để cố gắng sửa chữa mọi thứ sau đó trong bản chỉnh sửa. Và điều tuyệt vời của các máy ảnh như FS5 II là chúng làm được nhiều việc khó khăn cho bạn, với các tính năng như tự động phơi sáng và iris tự động.
			p  Cho đến gần đây, hầu hết các máy ảnh DSLR đều có khả năng tự động lấy nét với video, nhưng với FS5 II, bạn sẽ có được thiết bị đó ngay lập tức. Điều đó giúp dễ dàng có được kết quả chất lượng gần rạp chiếu phim, ngay cả khi bạn không có sự sang trọng của một đội ngũ lớn.
			p  Một máy quay phim nghiêm túc như FS5 II cũng cung cấp các tính năng sáng tạo bổ sung mà các nhà quay phim chuyên nghiệp sử dụng mọi lúc. Một ví dụ tuyệt vời là bộ lọc ND (Mật độ trung tính) tích hợp trên máy ảnh. Điều này giúp giảm lượng ánh sáng rơi vào cảm biến, mà không làm giảm chất lượng hình ảnh.
			p Điều đó có vẻ lạ - tại sao bạn muốn ít ánh sáng hơn là nhiều hơn? Vì, nó rất tiện cho việc tạo độ sâu trường ảnh nông hơn, buộc bạn phải mở mống mắt ngay cả vào những ngày sáng khi bạn thường phải dừng lại. Tương tự, quay số trong bộ lọc ND cho phép bạn sử dụng tốc độ màn trập chậm hơn để có được cái nhìn cụ thể trong một cảnh.
section.insight-detail-image
	.img-wrapper
		img(src="./img/insight-detail/11.png", alt="")
section.insight-detail-5.insight-detail-section
	.container
		.row
			.col.w-full(class='lg:w-1/2 ')
				.image-wrapper
					img(src="./img/insight-detail/12.png", alt="")
			.col.w-full(class='lg:w-1/2 ')
				.head-title.text-left Tập trung vào câu chuyện của bạn
				.zone-description Với YouTube - và các nền tảng khác như Instagram thì video đang ngày càng được yêu thích hơn, tất cả đều tạo ra nhiều nội dung hấp dẫn, nhanh chóng. Bạn có thể đăng những câu chuyện mới mỗi tuần hoặc mỗi ngày. Và bạn có thể di chuyển rất nhiều thời gian, thực hiện nội dung trong mọi điều kiện, như trong một quán cà phê tối, trên máy bay hoặc tàu hỏa, hoặc ở phía sau xe taxi. Vì vậy, bạn cẩn phải có một máy ảnh và quy trình làm việc hỗ trợ quá trình sáng tạo đó và cho phép bạn tập trung vào việc kể câu chuyện của mình. Tin tốt rằng thiết bị công nghệ chưa bao giờ rẻ hơn, nhanh hơn và dễ dàng hơn để lấy nội dung tuyệt vời và chia sẻ nó với khán giả trực tuyến của bạn.
section.insight-detail-text.insight-detail-section.insight-detail-6
	.container
		.head-title.text-left Tạo lớp
		.zone-description 
			p Điều tuyệt vời của thiết bị ngày hôm nay là nó giúp bạn đạt được kết quả điện ảnh mà không cần mang theo quá nhiều thiết bị. Tôi luôn khuyên các nhà làm phim mới nên lưu trữ khoảnh khắc càng nhiều càng tốt trong máy quay của mình, thay vì lãng phí thời gian để cố gắng sửa chữa mọi thứ sau đó trong bản chỉnh sửa. Và điều tuyệt vời của các máy ảnh như FS5 II là chúng làm được nhiều việc khó khăn cho bạn, với các tính năng như tự động phơi sáng và iris tự động.
			p  Cho đến gần đây, hầu hết các máy ảnh DSLR đều có khả năng tự động lấy nét với video, nhưng với FS5 II, bạn sẽ có được thiết bị đó ngay lập tức. Điều đó giúp dễ dàng có được kết quả chất lượng gần rạp chiếu phim, ngay cả khi bạn không có sự sang trọng của một đội ngũ lớn.
			p  Một máy quay phim nghiêm túc như FS5 II cũng cung cấp các tính năng sáng tạo bổ sung mà các nhà quay phim chuyên nghiệp sử dụng mọi lúc. Một ví dụ tuyệt vời là bộ lọc ND (Mật độ trung tính) tích hợp trên máy ảnh. Điều này giúp giảm lượng ánh sáng rơi vào cảm biến, mà không làm giảm chất lượng hình ảnh.
			p Điều đó có vẻ lạ - tại sao bạn muốn ít ánh sáng hơn là nhiều hơn? Vì, nó rất tiện cho việc tạo độ sâu trường ảnh nông hơn, buộc bạn phải mở mống mắt ngay cả vào những ngày sáng khi bạn thường phải dừng lại. Tương tự, quay số trong bộ lọc ND cho phép bạn sử dụng tốc độ màn trập chậm hơn để có được cái nhìn cụ thể trong một cảnh.
section.insight-detail-image
	.img-wrapper
		img(src="./img/insight-detail/13.png", alt="")
section.insight-detail-text.insight-detail-section.insight-detail-7
	.container
		.head-title.text-left Hãy để âm thanh kể câu chuyện của bạn
		.zone-description 
			p Bất kỳ nhà quay phim chuyên nghiệp nào cũng sẽ nói rằng âm thanh là một phần quan trọng trong việc kể câu chuyện của bạn. Vì vậy, nhiều video trên YouTube có âm thanh khủng khiếp - khiến khán giả khó chịu! Chi vài trăm euro cho một micro không dây đàng hoàng: bạn sẽ không bao giờ hối tiếc. Các máy quay chuyên nghiệp như FS5 II bao gồm giày Đa giao diện (MI) cung cấp kết nối nguồn và tín hiệu cho các hệ thống mic không dây tuyệt vời của Sony.
			p  Như một phần thưởng, FS5 II cũng có các đầu nối đầu vào XLR kép: chúng có độ chắc chắn cao hơn nhiều so với giắc micrô nhỏ xíu trên máy quay phim của người tiêu dùng và điều đó nếu có tất cả.
			p Là một tinh chỉnh bổ sung, một máy ảnh chuyên nghiệp như FS5 II cho phép bạn ghi âm trên các kênh âm thanh riêng biệt. Ví dụ: một kênh thường được sử dụng để ghi âm bạn (hoặc chủ đề của bạn) nói, được chọn bởi mic không dây. Sau đó, kênh khác được sử dụng để ghi lại âm thanh nền - thường được gọi là ‘atmos, - thông qua micrô tích hợp trong máy ảnh. Bằng cách đó, bạn đã có nhiều quyền kiểm soát hơn đối với các mức cân bằng, đảm bảo mọi người và mọi thứ đều nghe rõ.
			p Sau đó, trong bài viết có rất nhiều công cụ và plugin tiện dụng ngoài kia để làm ngọt âm thanh của bạn. Với một vài cú nhấp chuột, bạn có thể loại bỏ tiếng rít, cân bằng các tần số khác nhau hoặc thêm cú đấm vào đối thoại. Nó rất dễ, và nó không phải là đắt.
section.insight-detail-4.insight-detail-section
	.container
		.row
			.col.w-full(class='lg:w-1/2 ')
				.head-title.text-left Để có đủ độ sáng
				.zone-description
					p Một trong những khoản đầu tư tốt nhất bạn có thể thực hiện là một số ánh sáng để tạo cảm giác về chiều sâu và kích thước trong cảnh. Bạn sẽ cần một ánh sáng chính trực tiếp để chiếu sáng đối tượng của bạn, cộng với một ánh sáng khuếch tán nhiều hơn - có thể bật ra khỏi bức tường hoặc gương phản xạ - để làm dịu các bóng tối khắc nghiệt. Những thứ này được bổ sung bởi một ánh sáng tóc thứ ba mang lại sự ấm áp và sự hiện diện từ phía sau.
					p Bạn không phải bỏ ra một số tiền lớn; Có rất nhiều bộ đèn LED giá rẻ được tìm thấy trên eBay. Bạn thậm chí có thể gian lận và sử dụng iPhone hoặc đèn pin của bạn như một nguồn sáng bổ sung. Nhưng bất cứ điều gì bạn chọn, nó sẽ làm cho tất cả sự khác biệt.
			.col.w-full(class='lg:w-1/2 ')
				.image-wrapper
					img(src="./img/insight-detail/14.png", alt="")