section.product-section-include
	.container
		.swiper-container
			.swiper-wrapper
				-for(i=0;i<6;i++)
					.swiper-slide
						.figure-product-seciton
							.figure-image
								a(href="#")
									img(src="./img/product/1.png", alt="")
							.figcaption
								h3
									a Máy quay video y tế cho phẫu thuật vi mô
								.caption Máy quay video y tế cho phẫu thuật vi mô
								a(href="#").btn.btn-view-more 
									span Tìm hiểu thêm >
				