<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Main Menu" value="1" resourcefile="" />
      <add name=" Menu Bottom" value="2" resourcefile="" />
      <add name=" Menu Footer" value="4" resourcefile="" />
      <add name=" Home - Giải pháp chuyên dụng" value="8" resourcefile="" />
      <add name=" Home - Sản phẩm chuyên dụng" value="16" resourcefile="" />

    </position>

</settings>