<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <add key="MSSQLConnectionString" value="server=canhcam-06;UID=sony_8611;PWD=PVx$eoB#k20;database=sony_8611" />

  <!-- if running in medium trust uncomment this
	<add key="RunningInMediumTrust" value="true" />
	--> 

  <add key="UseLegacyCryptoHelper" value="false" />
  <add key="TooManyPagesForDropdownList" value="1000" />
  
  
  <add key="CheckMD5PasswordHashAsFallback" value="false" />
  <add key="ShowRebuildSearchIndexButtonToAdmins" value="true" />
  <add key="FormWizard:EnableRegexValidation" value="true" />

  <add key="UseAppKeepAlive" value="false" />
  <add key="AppKeepAliveUrl" value="" />
  <add key="CombineCSS" value="false" />
  <add key="RedirectNonWWWToWWW" value="false" />
  <add key="DisableBannedIpBlockingModule" value="false" />

  <add key="EnableContentWorkflow" value="false" />

  <!--JQuery Setup-->
  <add key="UseGoogleCDN" value="true" />

  <add key="ForceSingleSessionPerUser" value="false" />
  <add key="AllowedUploadFileExtensions" value=".gif|.jpg|.jpeg|.png|.flv|.swf|.wmv|.mp3|.mp4|.m4a|.m4v|.oga|.ogv|.webma|.webmv|.webm|.wav|.fla|.tif|.asf|.asx|.avi|.mov|.mpeg|.mpg|.zip|.pdf|.doc|.docx|.xls|.xlsx|.ppt|.pptx|.pps|.csv|.txt|.htm|.html" />
  <add key="AudioFileExtensions" value=".wma|.mp3|.m4a|.m4a|.oga|.webma|.webm|.wav|.asf|.asx|.fla" />
  <add key="VideoFileExtensions" value=".flv|.swf|.wmv|.mp4|.m4v|.ogv|.webmv|.webm|.avi|.mov|.mpeg|.mpg" />
  <add key="DocumentFileExtensions" value=".doc|.txt|.docx|.xls|.xlsx|.pdf" />
  <add key="ImageFileExtensions" value=".gif|.jpg|.jpeg|.png" />

  <add key="SetMasterInLoginPage" value="true" />
  <add key="SetMasterInChangePasswordPage" value="false" />
  <add key="SetMasterInPasswordResetPage" value="true" />
  <add key="SetMasterInProfilePage" value="false" />
  <add key="SetMasterInRecoverPasswordPage" value="true" />

  <add key="UseTokensForRecoveryPassword" value="true" />
  <!--<add key="TooManyPagesForGridEvents" value="0" />-->
  <add key="AllowMultipleSites" value="false" />

  <add key="Product:RecentlyViewedProductsEnabled" value="true" />
  <add key="Product:RecentlyViewedProductCount" value="24" />

  <add key="EnableRewardPoints" value="true" />
  <add key="PointCurrencyExchangeRate" value="1/1" />
  <add key="SpendYGetXRewardPoints" value="1/1" /> 

  <!-- OnePAY -->
  <add key="OnePAYNoiDia.URLPayment" value="https://mtf.onepay.vn/onecomm-pay/vpc.op" />
  <add key="OnePAYNoiDia.MerchantID" value="ONEPAY" />
  <add key="OnePAYNoiDia.Accesscode" value="D67342C2" />
  <add key="OnePAYNoiDia.Hashcode" value="A3EFDFABA8653DF2342E8DAC29B51AF0" />
  <add key="OnePAYNoiDia.PaymentMethodId" value="2" />

  <add key="OnePAYQuocTe.URLPayment" value="https://mtf.onepay.vn/vpcpay/vpcpay.op" />
  <add key="OnePAYQuocTe.MerchantID" value="TESTONEPAY" />
  <add key="OnePAYQuocTe.Accesscode" value="6BEB2546" />
  <add key="OnePAYQuocTe.Hashcode" value="6D0870CDE5F24F34F3915FB0045120DB" />
  <add key="OnePAYQuocTe.PaymentMethodId" value="3" />

  <add key="OnePAY.CompletedZoneId" value="169" />
  <!-- End OnePAY -->

  <add key="Product:EnableShoppingCartAttributes" value="true" />
  <add key="EnableDeveloperMenuInAdminMenu" value="true" />
  <add key="EnableQueryTool" value="true" />
  <!-- Start VNPay -->
  <add key="VNPAY.CompletedZoneId" value="102" />
  <add key="VNPAY.PaymentID" value="2" />
  <add key="VNPAY.HashSecret" value="LHUZCQJWGCNLSBHGZJHXGONMYJPUUZKJ" />
  <add key="VNPAY.TmnCode" value="LINDA001" />
  <add key="VNPAY.PayUrl" value="http://sandbox.vnpayment.vn/paymentv2/vpcpay.html" />
  <!-- End VNPay --> 



  <!-- GiaoHangNhanh -->
  <add key="GiaoHangNhanhUrlService" value="https://console.ghn.vn/api/v1/apiv3" />
  <add key="GiaoHangNhanhApiKey" value="5df75b6b0c1bca79cd631c89" />
  <add key="GiaoHangNhanhApiKeyFix" value="5df75b6b0c1bca79cd631c89" />
  <add key="GiaoHangNhanhApiSecretKey" value="5df75b6b0c1bca79cd631c89" />
  <add key="GiaoHangNhanhFromDistrictCode" value="0213" />
  <add key="GiaoHangNhanhClientContactName" value="Nahy" />
  <add key="GiaoHangNhanhClientContactPhone" value="02839163989" />
  <add key="GiaoHangNhanhClientContactAddress" value="679 đường Lê Đức Thọ, Quận Gò Vấp, TP.HCM" />
  <!--  End GiaoHangNhanh -->

  <!-- DatHangDinhKy -->
  <add key="UseLegacyCryptoHelper" value="false" />
  <add key="UseAppKeepAlive" value="true" />
  <add key="AppKeepAliveUrl" value="" />
  <add key="AppKeepAliveSleepMinutes" value="1" />
  <add key="AppKeepAliveInvokeType" value="CanhCam.Web.ProductUI.ScheduleTask, CanhCam.Features.Product" />
  <add key="AppKeepAliveInvokeMethod" value="ScheduleCreateOrderConfirmation" />
  <!-- End DatHangDinhKy -->
  
  <!-- DiemThuong -->
  <add key="EnableRewardPoints" value="true" />
  <!-- End DiemThuong -->
  
  <add key="EnableSaveProductViewed" value="true" />
  
  <add key="Product:WorkingCurrency" value="¥" />
  
  <!--Paypal-->
  <add key="PayPal.PaymentID" value="2" />
  <add key="PaypalTrackkingRef" value="gremsy" />
  <add key="PayPalCertificate" value="EJjB_XSTi9f_LZ83V3Iiy-1QfABr8fp3xkElG-5Hh1UMnXT9eJoZWuieBCo9GTCQiJyxWAWjzmv2DkMX" />
  <add key="PayPalPrivateKeyPassword" value="ARRzxGn_e_tyEJu2vEfrKPUGgu5-lUhKy_yLYAdqpZXfYEDxrWOBX31H_6D_gI0c_J6RFrjssGkFsO96" />
  <add key="PayPalEnvironment" value="sandbox" />
  <add key="PayPalUrl" value="https://sandbox.paypal.com" />
  <add key="PayPalUrlAPI" value="https://api-3t.sandbox.paypal.com/nvp" />
  <add key="PayPalApiUserName" value="sb-toedq1485606_api1.business.example.com" />
  <add key="PayPalApiPassword" value="SEHCZFM66WMDWUDA" />  
  <add key="PayPalSignature" value="AAQnsDR7KRfvmZkNMXS6RePEAOnDAHwPwhVQBltsKM2.b5tTIvpPlwsb" />
  <add key="PayPalReturnAction" value="http://preview4888.canhcam.com.vn/checkout-error" />
  <add key="PayPalCancelAction" value="http://preview4888.canhcam.com.vn/checkout-error" />
  <!--End Paypal-->  

  <add key="EnableOrderServices" value="true"/> 
  <add key="Product:EnableWishlist" value="true"/> 
  <add key="Product:EnableComparing" value="true"/>
</appSettings>
