section.product-specialist-display.product-disable
	.container
		h2.head-title.text-center Sản phẩm Chuyên dụng
		.zone-description Mặc cho mọi điều kiện ánh sáng và nội dung hiển thị, máy chiếu của SONY luôn mang lại chất lượng nổi bật với những trải nghiệm cực kì chân thực trong mọi không gian trình chiếu. Là sự lựa chọn cực kì lý tưởng cho các doanh nghiệp, tổ chức giáo dục và khách hàng cá nhân.
		.row
			.col.w-full(class='sm:w-1/2 md:w-4/12')
				.col-match-height
					.figure-product
						.figure-image
							a(href="#")
								img(src="./img/product/1.png", alt="")
						.figcaption
							.title
								h2
									a(href="#") máy quay chuyên dụngg
									span.product-disable Ngừng bán
							.caption
								ul
									li Máy quay phim HD và chuyên nghiệp phổ biến nhất thế giới
									li Tổng số sáng tạo hoạt động  và kính tế linh hoạt
			.col.w-full(class='sm:w-1/2 md:w-4/12')
				.col-match-height
					.figure-product
						.figure-image
							a(href="#")
								img(src="./img/product/2.png", alt="")
						.figcaption
							.title
								h2
									a(href="#") máy quay chuyên dụngg
									span.product-disable Ngừng bán
							.caption
								ul
									li Máy quay phim HD và chuyên nghiệp phổ biến nhất thế giới
									li Tổng số sáng tạo hoạt động  và kính tế linh hoạt
									li Máy quay phim HD và chuyên nghiệp phổ biến nhất thế giới
									li Tổng số sáng tạo hoạt động  và kính tế linh hoạt
									li Máy quay phim HD và chuyên nghiệp phổ biến nhất thế giới
									li Tổng số sáng tạo hoạt động  và kính tế linh hoạt
			.col.w-full(class='sm:w-1/2 md:w-4/12')
				.col-match-height
					.figure-product
						.figure-image
							a(href="#")
								img(src="./img/product/3.png", alt="")
						.figcaption
							.title
								h2
									a(href="#") máy quay chuyên dụngg
									span.product-disable Ngừng bán
							.caption
								ul
									li Máy quay phim HD và chuyên nghiệp phổ biến nhất thế giới
									li Tổng số sáng tạo hoạt động  và kính tế linh hoạt
		.button-wrapper-left
			a(href="#").btn.btn-primary
				span Sản phẩm ngừng bán
section.product-section-zone.grey-text(setBackground='./img/bg/1.jpg')
	.container
		.row
			.col.w-full(class='md:w-1/2')
				.figure-caption
					.head-title.white Máy chiếu gia đình
					.caption Các loại máy chiếu gia đình của Sony có chất lược như rạp phim với kiểu dáng đẹp mắt mang đến những bộ phim, thể thao, trò chơi và hơn thế nữa với 4K HDR chi tiết với màu sắc phong phú, sống động và độ tương phản ngoạn mục. Mang đến cho bạn gia đình những khoảnh khắc xem phim tuyệt vời
					.btn.btn-view-more
						span Tìm hiểu thêm >
			.col.w-full(class='md:w-1/2')
				.image-wrapper
					a(href="#")
						img(src="./img/product/4.png", alt="")
section.product-section-zone.reserve-zone(setBackground='./img/bg/3.jpg')
	.container
		.row
			.col.w-full(class='md:w-1/2')
				.figure-caption
					.head-title.white Máy chiếu gia đình
					.caption Các loại máy chiếu gia đình của Sony có chất lược như rạp phim với kiểu dáng đẹp mắt mang đến những bộ phim, thể thao, trò chơi và hơn thế nữa với 4K HDR chi tiết với màu sắc phong phú, sống động và độ tương phản ngoạn mục. Mang đến cho bạn gia đình những khoảnh khắc xem phim tuyệt vời
					.btn.btn-view-more
						span Tìm hiểu thêm >
			.col.w-full(class='md:w-1/2')
				.image-wrapper
					a(href="#")
						img(src="./img/product/4.png", alt="")